[2021-04-26 07:36] grahlie opened #161 "Question: Need a way to add class or inline css to svg object"
Hello really like your plugin and saves a lot of time using this.

Have a small question that maybe is already possible but can't find anything regarding this in documentation.

Right now I'm using this plugin to generate a svg file that later on is included using:

`<?php include_once('svg-sprite.svg'): ?>`

When using this method the svg file is visbile in DOM and taking up space. I would like a

[2021-04-26 14:38] cascornelissen commented on #161
This is not really supported by the plugin at the moment. Easiest is to just wrap that bit of inclusion code in a div yourself?

[code]

[2021-04-26 14:42] cascornelissen commented on #160
I don't have much experience with the 10up scripts or the imagemin-webpack-plugin but IMO the most logical thing to do would be to exclude the generated spritemap from being minified by imagemin by using the [`test` option](https://www.npmjs.com/package/imagemin-webpack-plugin#optionstest) for that plugin.

This plugin already minifies the SVG using [`svgo`](https://www.npmjs.com/package/svgo) so

[2021-04-26 14:57] #157 closed

[2021-04-27 08:42] grahlie commented on #161
Thanks for your quick response!!

Yes this is what I have done right now, but thought this would be a simple improvement to pass an option like "wrapperClass" or something. But up to you.

Thanks again for a very nice plugin, cheers!

[2021-04-27 08:42] #161 closed

[2021-04-29 15:59] cascornelissen commented on #158
Closing this due to inactivity, feel free to comment if anything pops up ❤️

[2021-04-29 15:59] #158 closed

[2021-04-29 16:00] #160 closed

[2021-05-04 11:37] heyflo commented on #133
I'm glad I've found this issue, I was scratching my head with this and noticed on my fresh install I was using the 3.9.1 while on my last project it was the 3.5.7.
Thanks for the fix, going to update this on my projects 👍

[2021-05-05 12:53] mco67 commented on #63
Thx @ziqq You save my day !!!

[2021-05-11 04:55] dkrnl opened #163 "Cannot read property 'spritemap': after update to v4.0"
**Description**
After update to v4.0 error:  Cannot read property 'spritemap' of undefined

**Expected behavior**
Build without error

**Actual behavior**
[code]

**System information**

**Minimal reproduction**
[code]

**Additional context**

[2021-05-11 09:20] xavierfoucrier commented on #163
Hi @cascornelissen,

I am working on upgrading my project and face the same issue.
Installing from your Github repo works fine, but there is no outputted SVG file.

I am using `webpack@5.37.0` and `webpack-dev-server@3.11.2`.

[2021-05-11 09:34] cascornelissen commented on #163
If anyone can provide a repository that I can use to reproduce the issue, that'd help a lot. For some reason I can't seem to reproduce this on my system...

[2021-05-11 09:38] xavierfoucrier commented on #163
@cascornelissen Yes I saw that the configuration changed, I will upgrade it and let you know.
By the way, using only `SVGSpritemapPlugin()` doesn't work too.

I will investigate and let you know :wink:

[2021-05-11 10:10] xavierfoucrier commented on #163
@cascornelissen just to be sure, something like this works on your side?

[code]

[2021-05-11 15:00] xavierfoucrier commented on #163
@cascornelissen I have just sent you an invite on a private sandbox repository!

Thanks for the feedback :wink:

[2021-05-11 15:30] Diono commented on #163
Hi @cascornelissen
I have the same error ONLY in development mode
[code]

maybe because of my output filename config :
[code]

[2021-05-12 08:49] xavierfoucrier commented on #163
Hi @cascornelissen,

Yes I can confirm it works fine :+1:
Can you publish a new release today?

Thanks a lot!

[2021-05-12 09:12] Diono commented on #163
it's not fine for me :/
i have a new error at the build now (with cascornelissen/svg-spritemap-webpack-plugin#master)
[code]
actually, the file name is : www/dist/sprite.f0aaf566966dd040d07a.svg
its remember me an old bug you fixes before =>https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/139

[2021-05-12 09:18] Diono commented on #163
in development mode, its worst now... i have few errors now like this
[code]

[2021-05-12 10:10] cascornelissen commented on #163
@Diono, can you share a repository that I can use to reproduce/verify this?

[2021-05-12 14:15] Diono commented on #163
yes i did a small project of my config => https://github.com/Diono/test

[2021-05-12 16:44] xavierfoucrier commented on #163
@cascornelissen thanks a lot! :wink:

[2021-05-17 14:50] xavierfoucrier opened #164 "HookWebpackError: plugins is not iterable"
Hello @cascornelissen,

I have another issue with the latest version of `svg-spritemap-webpack-plugin@4.0.1`.
When you omit the `plugins` parameter of SVGO 2, webpack throw a `HookWebpackError`.

Using **an empty array** for plugins like `plugins: []` works.

It should be fine to avoid this parameter if a developer just want to apply a global option, like `floatPrecision`, and use the default plug

[2021-05-17 15:02] cascornelissen commented on #164
Thanks for the issue, this should be fixed in a5d1705. Would you mind verifying by installing via GitHub before I create a release and publish it?

[code]

[2021-05-17 15:13] xavierfoucrier commented on #164
@cascornelissen sure, I am on it :wink:

[2021-05-17 15:43] xavierfoucrier commented on #164
@cascornelissen looks like it works fine :+1:

[2021-05-17 15:52] cascornelissen commented on #164
Great, just published [`4.0.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.0.2) with this fix, thanks once more for reporting! ❤️

[2021-05-17 15:52] #164 closed

[2021-05-17 19:55] Diono commented on #163
I try to debug my project.

I guess when **sass-loader** read the generated scss file, the sprite.svg is not yet build in the _webpack.output.publicPath_.
It should be a reason why i have this error *Error: Can't resolve '/sprite.1621280929931.svg#sprite-separator-light-middle-fragment' in 'D:\Diono\ousuisje\www\src\scss'*

who's the first generated? the sprite svg or the scss file?

[2021-05-17 20:22] Diono commented on #163
OK i found the changes!
before the v4, in the generated scss file, the svg path in `background-image:url(...)` was prefixed with the **output.publicPath**
after the v4, it's no more prefixed...

[2021-05-17 20:25] Diono commented on #163
In my sprite.scss i had `background-image: url('/dist/sprite.svg#my-fragment')`
but now with the v4.0.1 i have
 `background-image: url('/sprite.svg#my-fragment')` ... the **/dist/** missing

[2021-05-18 07:54] cascornelissen commented on #163
That's the thing, it should still do that:

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/31e7ace01bd682c537438923c7876f703ea878e5/lib/index.js#L284-L292

I was trying to debug why it's not working in your project but there's so many irrelevant things going on in that repository that I can't figure it out easily. While I do enjoy fixing bugs, I don't enjoy spending hours tryi

[2021-05-18 15:37] xavierfoucrier opened #165 "Add support for `base64` styles format"
It would be cool to have **`base64` available as a styles format** here:
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#stylesformat--data

[2021-05-18 15:47] cascornelissen commented on #165
Is there an advantage to that over the data URIs (e.g. using `styles.format: 'data'`) that are supported already? That approach uses [`mini-svg-data-uri`](https://www.npmjs.com/package/mini-svg-data-uri) which explains in its README that this results in a smaller filesize.

[2021-05-18 16:00] xavierfoucrier commented on #165
Yep, exactly.

I was guessing that there will be an advantage to `base64` the SVG, in comparison to data URIs, but after a bunch of tests it looks like it's better to compile with `mini-svg-data-uri` instead.

Closing the issue! :rocket: :+1:

[2021-05-18 16:00] #165 closed

[2021-05-18 16:10] Diono commented on #163
yes i understood!
I reduce to the minimal config => https://github.com/Diono/test
without any options, i still have the problem

[2021-05-19 05:46] jeetparikh opened #166 "HookWebpackError: ENOENT: no such file or directory, scandir"
**Description**
After update to angular v12, get the error HookWebpackError: ENOENT: no such file or directory, scandir

**Expected behavior**
The plugin should be generating an output file in the build `dist` directory as it did with the previous version of angular v11.

**Actual behavior**
[code]

**System information**
Angular v12
Node 12.x

**Additional context**
With Angular v11 CLI, our proj

[2021-05-19 12:06] cascornelissen commented on #166
Interesting, the stack trace does not include any references to this plugin. I also haven't worked with Angular in years so if you can provide a simplified, minimal repository to reproduce the issue that I can clone and use to debug that'd help immensely.

[2021-05-19 16:09] cascornelissen commented on #163
Nice, that helps a lot.

The error is thrown because `css-loader` is trying to resolve the URL to the spritemap at compile time which isn't possible. As shown in the [fragments example](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/examples/fragments/webpack.config.js) `options.url` should be set to `false`, or a function should be passed that returns `false` for the s

[2021-05-20 05:08] jeetparikh commented on #166
hey @cascornelissen thanks for getting back. I will try and see if I can create a repo with minimal extraction - just a bit tricky since it would need a lot of extraction and ensure a minimal version. Do you see anything obvious in the config that could be wrong? or anything that could be breaking? Just a hunch or anything I could try? Thanks

[2021-05-20 05:42] sectsect opened #167 "HookWebpackError: Plugin name should be specified"
**Description**

Build fails with Error: `HookWebpackError: Plugin name should be specified`

**Expected behavior**

**Actual behavior**

**System information**

[code]

**Minimal reproduction**

https://github.com/sectsect/svg-spritemap-webpack-plugin-test

1. `npm run dev` or `npm run build`
2. Check your console.

Thank you.

[2021-05-20 07:28] cascornelissen commented on #167
This error is thrown by SVGO because you haven't updated the SVGO configuration object as stated in the [breaking changes for v4](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.0.0).

[2021-05-20 07:28] #167 closed

[2021-05-20 12:12] jeetparikh commented on #166
hey @cascornelissen thank you for getting back. I will give it a try and let you know how I go. thanks

[2021-05-21 09:17] Diono commented on #163
I added html-webpack-plugin : https://github.com/Diono/test
If i turn to **false** the url options in css-loader, the svg url still refer to the **root folder (/)**, not /dist/ (because css-loader not handle this url anymore)

[2021-05-21 09:45] Diono commented on #163
also i have a small warning about division in sass :
[code]
you should upgrade your generated sass file ;)

[2021-05-25 04:48] jeetparikh commented on #166
hey @cascornelissen I was a very weird issue where during minification a 'extractLicenses' option is creating this.. Disabling the option and the build works perfectly fine. But it only seems to do it with this plugin in place but I don't think there is any issue with this plugin. It was just my method of isolation causing me to point to this plugin. Thank you for being responsive. I will close th

[2021-05-25 04:48] #166 closed

[2021-05-25 11:53] cascornelissen commented on #166
Thanks for reporting back! Good to hear there's a fix/workaround for the issue you were experiencing.

For context: it sounds like either one (or multiple) of your source sprite SVGs contain license information or you're using the svg4everybody option which injects an additional package which likely has some licensing information inside.

[2021-05-25 19:18] cascornelissen commented on #163
That's great to hear, I've just published [`4.0.3`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.0.3) which contains these changes 🚀

[2021-05-25 19:18] #163 closed

[2021-07-08 08:58] domq opened #168 "Should accept sprite.prefix: """
**Description**

Putting this in your webpack.config.js triggers an error:

[code]

**Expected behavior**

IDs are generated from the file name as usual, except without a prefix

**Actual behavior**

[code]

**System information**

[code]

[2021-07-08 08:59] domq commented on #168
Knowing that svg-spritemap-webpack-plugin eats up spaces in IDs (on account of them being forbidden by the HTML spec), here is a workaround ☺

[code]

(i.e. a single space for `sprite.prefix`)

[2021-07-08 10:20] cascornelissen commented on #168
It's not an "error" in the sense that something is going wrong, it's a validation error as in it's not allowed to provide an empty string.

If you don't want a prefix specify `false` as explained in the [docs](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md). If you want something else please explain a bit further 😄

[2021-07-08 21:32] domq commented on #168
I suppose that my request is that the empty string be accepted as a valid prefix? To me at least it does seems valid, and it is more intuitive than `false` which is only alluded to in a type spec — Unless my ⌘F `prefix` fu is flailing as of a sudden, I don't think that “explained in the docs” is a fair assessment of the current situation.

With best regards, Dominique

[2021-07-09 07:03] cascornelissen commented on #168
Not sure I agree with the reasoning but it can't hurt to also support an empty string. Feel free to send in a PR 👍🏼

[2021-07-09 07:29] domq commented on #168
Thanks 👍🏼 See https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/169

[2021-07-09 17:16] #168 closed

[2021-07-09 17:25] cascornelissen commented on #168
This has been released in version [`4.1.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.1.0), thanks for your contribution 🚀

[2021-07-11 06:27] xavianaxw opened #170 "Issue with filename not the same on rebuild in manifest file"
**Description**

Greetings! Running into a little bit of a trouble with the spritemap plugin with manifest plugin not working too well together. tldr; with a configuration like so:

[code]

It will output `img/icons.svg/ in the `manifest.json` file on first init but when I change any files in the folder we are passing through to the plugin, it will change from `img/icons.svg` to `spritemap.svg` in

[2021-07-11 11:56] cascornelissen commented on #170
This looks like the same issue as https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/157 and https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/157#issuecomment-808131853 should provide some additional details with a possible workaround.

I never heard back from the reporter of #157 so I'm not sure what the status/best way forward would be.

[2021-07-16 01:17] vdloc commented on #152
Can you show the correct configs for people who faced the same issue?

[2021-07-20 12:37] nikolay-gavrilov opened #171 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'tap' of undefined"
Hey! Added a plugin. When I start the project, I see this https://bit.ly/3wU1S0y
What could it be?

[2021-07-20 17:12] cascornelissen commented on #171
Please fill out the template next time, that would've saved me from asking this question: what Webpack version are you on?

[2021-07-21 10:21] #171 closed

[2021-07-23 09:25] xperator commented on #147
@cascornelissen Sorry for pinging on an old closed issue. Didn't want to create a new issue for asking this question.
I'm using laravel mix and in my vue files I'm doing something like :
[code]
Which directly references the generated file at the public path ( `public/svg/sprite.svg` ).
As you may have guessed, this causes caching issue in the browser because the filename has no unique hash attache

[2021-07-23 09:57] cascornelissen commented on #147
No problem, the main issue is that you want to bust the cache when the contents of the spritemap changes. The best way to do this is to use `[contenthash]` in the filename, this will insert a hash of the content in the filename which only changes when the content of the file changes. For example: `sprite.95f18a53.svg` where `95f18a53` is this contenthash that is injected by the plugin.

Then the n

[2021-07-23 12:01] xperator commented on #147
@cascornelissen Thanks a ton for the quick answer and detailed explanation 😇
You're right about using the `[contenthash]` in the filename is a bit hard to figure out later cause the generated hash is not stored anywhere, plus you have to clean up the previously generated files and it seems lots of work.
The third option ( using manifest file ) seems to be the way to go. I've already implemented us

[2021-08-15 16:24] jekka-ua opened #173 "Viewbox attr is absent in generated style-sprites."
**Description**
In earlier versions viewbox of each svg was passed to corresponding svg-sprite. Now it's disappearing. Why ?

**Expected behavior**
source svg:
`
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
<path var:color.fill="#000000" d="M20 11v2H8l5.5 5.5l-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5L8 11h12z"/>
</svg>
`

viewBox attribute exi

[2021-08-16 10:25] jekka-ua commented on #173
`
new SVGSpritemapPlugin('...svg', {
   styles: {
          keepAttributes: true,
   }
}
`
helped

[2021-08-16 10:25] #173 closed

[2021-08-17 10:43] ibrahimra7al opened #174 "UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'tap' of undefined"
**Description**
When trying to build the project I'm getting this (node:48790) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'tap' of undefined

**Expected behavior**
To work normally

**Actual behavior**
Error (node:48790) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'tap' of undefined

**System information**

[code]
webpack version used     "webpack": "^4

[2021-08-17 17:12] jimblue opened #175 "svg-spritemap-webpack-plugin since SVGO v2.4.0 release"
**Description**
This plugin stopped working in project using latest [SVGO release 2.4.0](https://github.com/svg/svgo/releases/tag/v2.4.0)

**Expected behavior**
This should work with latest SVGO update as SVGO is a peer dependency of many projects.

**Actual behavior**
When running webpack :
[code]
**System information**
[code]

[2021-08-17 18:13] cascornelissen commented on #174
[Release `4.0.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.0.0) of this plugin dropped support for Webpack 4. Either update Webpack to v5 or use v3 of this plugin.

[2021-08-17 18:13] #174 closed

[2021-08-17 18:13] #170 closed

[2021-08-17 19:25] cascornelissen commented on #175
Thanks for the heads-up. This is an interesting change, to say the least... They overhauled the entire defaults setup and deprecated the old one while the new one is not compatible at all so now this plugin has to support both systems.

The changes in 500280a should handle this, all tests are passing with both SVGO 2.3.0 and 2.4.0. Are you able to verify this on your end as well?

[2021-08-17 19:28] jimblue commented on #175
Hey @cascornelissen, thank you for the commit, I'll try to test that tomorrow.

[2021-08-19 10:55] cascornelissen commented on #175
@jimblue (or anyone else running into this problem), had any time to verify it already?

[2021-08-20 09:27] EdwardBock opened #176 "href instead of xlink:href"
xlink:href is deprecated. It would be great if you could also support href which it seems you do not right now, are you?

https://www.w3.org/TR/SVG/linking.html#XLinkRefAttrs

[2021-08-20 10:26] cascornelissen commented on #176
`xlink:href` is deprecated in the SVG 2.0 spec which I'm pretty sure is not final yet. I'm a bit hesitant on adding features based on a [specification that's still in draft](https://svgwg.org/svg2-draft/) and has - as far as I know - limited browser support.

If there's a specific problem you're running into I'm willing to consider it, though. Do you have some more information/context?

[2021-08-20 12:42] EdwardBock commented on #176
Oh, I missed that SVG 2.0 is still in draft, sorry. I have no acute problems. Just stumbled on this deprecation warning on another issue (CSP and SVG -_-).

[2021-08-20 12:42] #176 closed

[2021-08-20 16:53] Jackky90 commented on #175
Have the same issue

[2021-08-23 12:25] meelkor commented on #175
Was getting the same warning as OP so I tested it with 500280acbf4517319e57e951a44db524060dc105 and while the issue is fixed - no warnings are logged - but the output spritemap changed.
I assume the issue is that we use the `removeAttrs` plugin, which isn't part of the default preset and the override plugin only works for plugins that are included in the preset.
So maybe it should be developer's r

[2021-08-24 19:14] cascornelissen commented on #175
@meelkor, thanks for testing 500280a out and reporting your findings.

Can you share your configuration so that I can check what's happening? An update to SVGO can always change the output of the spritemap and it's not entirely clear to me whether the problem you're describing is about having a different output or the `removeAttrs` plugin not doing what you're expecting it to do.

As you've probab

[2021-08-25 08:32] zavod008 commented on #175
hello below is the config, the sprite is working fine but the "preset-default" warning remains.

`new SVGspritemapPlugin(`${resourcesDir}/img/**/*.svg`, {
      output: {
        filename: 'img/icons.svg',
        chunk: { keep: true },
        svgo: {
          plugins: [
            {
              name: 'removeAttrs',
              params: {
                attrs: '(fill)'
              }

[2021-08-25 13:24] cascornelissen commented on #175
@zavod008 are you talking about the `"extendDefaultPlugins" utility is deprecated.` warning as listed in the original post? Are you on the master build or did you install the plugin from NPM?

[2021-08-28 15:37] sectsect commented on #175
@cascornelissen
The master build can solve this issue for me. https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/175#issuecomment-904906685

[2021-08-29 09:11] cascornelissen commented on #175
Thanks for reporting back @sectsect, this change was released with version [`4.3.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.3.0) 🚀 If there's any issues popping up feel free to create a new ticket.

[2021-08-29 09:11] #175 closed

[2021-08-30 11:48] dsine-de opened #178 "Updating from 4.2.0 to 4.3.0: SVGO plugin not doing anything anymore"
**Description**
I updated from 4.2.0 to 4.3.0 with the following webpack configuration:

[code]
The removal of `fill` attributes worked in v4.2.0 but after updating to 4.3.0 the attributes are still being output.
According to the docs of both SVGO and svg-spritemap-webpack-plugin there shouldn't be any breaking changes which requires the configuration to be updated.

**Expected behavior**
`fill` a

[2021-08-30 16:33] cascornelissen commented on #178
Thanks for the bug report, looks like I didn't end up checking the non-default SVGO plugins. This should be fixed in 35fab37, could you verify that it's working for you by installing the plugin directly from GitHub before I create a patch release?

[code]

[2021-08-30 17:45] dsine-de commented on #178
@cascornelissen Yes, this seems to fix it!

[2021-08-31 18:33] cascornelissen commented on #178
Awesome, thanks for reporting back. I've just published [`4.3.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.3.1) which includes this fix 🚀

[2021-08-31 18:33] #178 closed

[2021-09-02 08:48] Diono opened #179 "<symbol> id is mangled by SVGO but not the css url anchor #fragment"
**Description**
Since the last release, all my added `<symbol>` tag have id mangled but the css bacground-image url dont use the mangled name to aim the `<symbol>` tag

**Expected behavior**
css background url use the mangled name :
`<symbol id="a">` => background: url(sprite.abcd.svg#a) 50% no-repeat;

**Actual behavior**
css background url dont use the mangled name :
`<symbol id="a">` => backgro

[2021-09-02 11:01] Diono commented on #179
here we are : [https://github.com/Diono/test](https://github.com/Diono/test)
It's because of SVGO `cleanupIDs` option.
When active, SVGO mangle id in svg emit file.

[2021-09-03 07:56] cascornelissen commented on #179
It's technically not possible to use styles with fragments and have the cleanupIDs plugin enabled.

It looks like a minor bug snuck in with the [`4.3.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.3.1) release where the plugin was overwritten correctly but then added as a separate plugin too, so it became enabled again.

Can you verify the fix in d9a8be0 by inst

[2021-09-03 08:38] Diono commented on #179
indeed the fix works in the sense that it no longer allows to mangled the IDs by SVGO... It is a shame on the other hand that we cannot reduce a little the weight of its svg sprite and the css by minimizing all ids :/
Couldn't we add an option to svg-spritemap-webpack-plugin that would do it instead of SVGO?

[2021-09-03 09:07] cascornelissen commented on #179
Thanks for reporting back so quick. Great to hear at least the implementation is working as before now, I've published a patch release, [`4.3.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.3.2), to npm 🚀

I guess it would be possible for the plugin to handle that, it's kind of an edge case and I'm afraid it will increase the complexity of the project by quite a

[2021-09-03 09:07] #179 closed

[2021-09-17 09:29] KarelJanVanHaute opened #180 "contenthash not replacing on watch"
When I do a build my filename becomes something like "sprite.5f98eada63b8943be820.svg". But when I do a watch my filename becomes "sprite.[contenthash].svg".

**Expected behavior**
What I was expecting is also something like "sprite.5f98eada63b8943be820.svg".

**Actual behavior**
It produces this "sprite.[contenthash].svg"

**System information**
System:
    OS: macOS 11.5.2
    CPU: (8) x64 Apple

[2021-09-17 12:05] cascornelissen commented on #180
I can't seem to reproduce this with the examples in this repository, can you include a reproduction repository?

[2021-09-23 21:02] endbay commented on #180
Hi @cascornelissen, we are facing the same issue. I've made a test repo to reproduce: https://github.com/endbay/svg-sprite-bug

Just `npm run dev`,  on first generate all is fine. Then just edit something in `src/index.js` and [hash] will become broken.

[2021-09-24 06:55] KarelJanVanHaute commented on #180
@endbay Thank you for the reproduction.

[2021-09-28 07:28] cascornelissen commented on #180
Thanks for the reproduction repository, I was away for the weekend but will look into this when I find some time ✌🏼

[2021-10-01 08:43] borm opened #181 "Question, how generate json file with all file names"
### Input
[code]

[code]

Expected result
##### icons.json
[code]

[code]

[2021-10-01 10:16] cascornelissen commented on #181
Not really possible at the moment and it doesn't really sound like something that I think should be supported either but if there's some more context I'm open to discuss on that.

I'd look into a separate plugin (maybe [`event-hooks-webpack-plugin`](https://www.npmjs.com/package/event-hooks-webpack-plugin) fits the bill) that allows you to execute some custom logic, parse the SVG and generate the

[2021-10-01 10:16] #181 closed

[2021-10-01 10:55] cascornelissen commented on #180
This should be fixed with 10ac035, can one of you verify this by installing the plugin directly from GitHub before I push out a release?

[code]

[2021-10-01 14:57] cascornelissen commented on #180
Great to hear, thanks for reporting back! The fix has been released in [`4.3.3`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.3.3) 🚀

[2021-10-03 23:57] philippdieter commented on #147
@cascornelissen

This would be the exact way I want to go in a current project. But after spending time trying to figure out which plugin you may have in mind I still have no idea. I have found plugins which generate manifest files but none of them made a variable available in template files or allowed me to import the manifest. Can you give some more details on this?

[2021-10-05 20:38] borm commented on #181
@cascornelissen okay, seems i understood the problem what u described,
my temporary solution now, dont know how to do that better, but looks it works fine

[code]

#### Icon.ts
[code]

[2021-10-05 22:08] philippdieter commented on #147
In my projects I use the html-loader so the hashed paths are written into the resulting html files when linking images. My knowledge is a little limited here, but afaik the image paths are parsed into require functions.

I was hoping for a solution which works alike for spritemaps generated by this plugin, without having to use a template engine or client side scripts, just a static html file with

[2021-10-07 12:32] cascornelissen commented on #147
I don't have much experience with `html-loader` specifically either but I quickly also wanted to highlight that there's an example using `html-webpack-plugin` that might be similar to what you're looking for: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/inline-html.

[2021-11-02 22:36] SlavikUst commented on #166
Hello, @cascornelissen , the same issue for me but in my case workaround doesn't help.  Now I also use Angular 12 with custom-webpack-pugin, so after updating angular and webpack see this error. I've tried different configurations of your plugin without success. Also, I've tried to use only one simple SVG for bundle - doesn't work also. Any ideas what I can try? Unfortenly it's not an option to cr

[2021-11-17 22:24] jgerigmeyer opened #182 "Provide option to add custom attributes to SVG element."
First off, thanks for this plugin!

I'm aware that this is essentially a duplicate of #161. Would you consider a PR that adds an option for a custom class on the SVG element? It seems like that would be a simple change (as opposed to allowing arbitrary attributes), and would allow for easy styling (often `display: none;`) via CSS without the need for an additional wrapper each place the SVG is use

[2021-11-18 08:20] cascornelissen commented on #182
I'm open to a PR for sure but IMO it should be a setup that supports passing any attribute. If we don't do it like that, someone will prefer to use id for this and they will create a ticket, then someone wants to add a title or inline styles and so on.

So something like being able to pass an object (keys being attribute names and values being their value) to `output.svg.attributes` would work for

[2021-11-18 16:15] jgerigmeyer opened #184 "Cannot disable individual SVGO plugins."
**Description**

It seems impossible to use SVGO, but disable individual default plugins. The following config comes close:

[code]

That results in `removeHiddenElems: false` being correctly added to the `preset-default` `params.overrides` object, but it _also_ appends `{ name: 'removeHiddenElems', active: false }` to the list of SVGO plugins, and it appears the plugin is not actually disabled.

[2021-11-18 16:25] cascornelissen commented on #184
For context: the fact that it's added to both the overrides for `preset-default` and the entire list of SVGO plugins is that the plugin doesn't (can't) know what plugins are enabled internally in `preset-default` as that information is not exposed by SVGO.

I'm also not sure the expected behavior you're suggesting makes sense to most people but that's an opinion that differs from person to person.

[2021-11-18 19:57] jgerigmeyer commented on #184
@cascornelissen You're totally right -- I must have been testing incorrectly. I added a test in #185 to ensure that this is working properly.

[2021-11-18 19:57] #184 closed

[2021-11-19 19:16] cascornelissen commented on #184
Thanks for adding a test, that's probably the first time I'm getting a PR with just test scenario's added 😅  Also nice to hear that things are working properly already.

[2021-11-19 19:52] #182 closed

[2021-12-16 07:34] BleddP opened #186 "Module not found: Error: Can't resolve './spritemap.svg' in src"
**Description**
Hi there,

I am in the process of upgrading a boilerplate my agency uses from Node 12 to Node 16 and to Webpack 5.
I have also upgraded to the latest version of svg-spritemap-webpack-plugin, and the spritemap is generated in the /dist folder as it should, however in development mode its now also looking for the spritemap in the /src folder which it didn't do before.

**Expected beh

[2021-12-17 11:34] cascornelissen commented on #186
Hmm, nothing out of the ordinary as far as I can see from what you've included. I also don't think this would be related to any of the [breaking changes](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.0.0) in this plugin so my first guess is that it would be unrelated to this project, especially since I would've expected this to pop up earlier if that was not the ca

[2021-12-17 14:20] BleddP commented on #186
Yes I was also looking at other config options.
I've noticed that it starts giving me the error when I add the html-loader.

[code]

However when I set sources to 'false' the error disappears. So it might have something to do with the loaders, I'll create a reproduction repo this weekend

[2021-12-17 15:05] cascornelissen commented on #186
That sounds exactly like it's the problem as that forces the SVG to be imported as described in the [`html-loader` docs](https://webpack.js.org/loaders/html-loader/#boolean). You'd either want to disable it or use the advanced options like `urlFilter` to specifically not use this feature for the spritemap.

[2021-12-20 06:31] BleddP commented on #186
It turned out to be a combination of the `html-loader` which sets sources to 'true' by default and how in webpack 5 the `file-loader` has been replaced by the asset modules i.e. `asset/resource`. Nothing to do with your plugin! Apologies for the trouble and thanks for the quick replies :)

[2021-12-20 08:08] cascornelissen commented on #186
No problem at all and glad to hear you managed to solve it. Also, thanks for reporting back!

[2021-12-20 08:09] #186 closed

[2022-02-18 18:55] DanielHani opened #187 "SVG's not scaling with Webpack 5"
Hey and first of all thank you for this great plugin. I love it and use it for years now.

Are you planning any updates for newer Webpack versions? Im running into an issue with webpack 5.69.1.

The SVGs won't scale anymore. Everything else seems to be working fine. Currently im using a solution like this:

  &::before {
    @include sprite('search', (color: red));

    width: 512px;
    height: 5

[2022-02-20 13:08] DanielHani commented on #187
Looks like its a bug inside of the style-formatters/scss.js and not related to webpack at all.

After line: 50 there should be a
svg.setAttribute('viewBox', symbol.getAttribute('viewBox'));
but it's missing. Adding it fixed it for me and will fix it for others.

Do you mind committing this change soon?

Thanks mate :)

[2022-02-20 13:40] cascornelissen commented on #187
Feel free to submit a PR with tests included, I'm still not getting how/what this will solve though as there is too little information so far to get a good grasp of the problem you're running into.

Especially because `svg.setAttribute('viewBox', symbol.getAttribute('viewBox'));` indicates that the `viewBox` property of the `svg` element would be set to equal that of the `symbol`. If that's your g

[2022-02-20 13:45] DanielHani commented on #187
I can try it that way. I found out that in an older version you had that line and after a big rework it was gone. Looks more like a mistake to me.

The generated SVG needs to have a viewBox. If it doesn't, it doesn't scale. Because of it being a must have for an svg it should always be implemented like it was in the older versions of this plugin.

[2022-02-20 14:24] cascornelissen commented on #187
This line was "removed" as part of https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/121. It wasn't actually removed; it was made more generic and in a following commit, https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/6620316c79ff24caa8c882013491b5000cd5f8eb, I added the `styles.keepAttributes` option to ensure the change was backwards compatible so definite

[2022-02-20 14:24] #187 closed

[2022-02-21 08:56] DanielHani commented on #187
keepAttributes does help.

None the less i think viewBox is in most cases crucial and should not be removed by default. Instead an option to remove it if needed would be better. Just an idea.

I've experienced this "issue" a year ago, so i sticked to the older version as i didn't have time to investigate it.

I found someone who stumbled upon this before: https://github.com/cascornelissen/svg-spri

[2022-02-21 09:39] cascornelissen commented on #187
I'm not disagreeing with you, it might indeed make sense but I can't make that change and keep it backwards compatible and I don't see the value of creating a major release just to flip that option.

If you have an idea about where to add it in the documentation to make this clearer, feel free to submit a PR. I'm always happy to improve documentation for users.

[2022-03-17 14:44] ka-terok opened #188 "Google chrome ignoring <mask>"
I use this icon and google chrome ignoring mask. But when i use this code in html in google chrome all ok. What I have to do to make it work with plugin?

[2022-03-17 14:45] ka-terok commented on #188
![pic (2)](https://user-images.githubusercontent.com/67182501/158830030-5370c05b-6bcf-4247-aea2-9ae98c51bab4.svg)

[2022-03-17 14:45] ka-terok commented on #188
`<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-5-inside-1_13504_132748" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.70711 19.4102C6.31658 19.0197 6.31658 18.3865 6.70711 17.996L17.9958 6.7073C18.3864 6.31677 19.0195 6.31677 19.41 6.7073L21.0945 8.39172C20.8336 8.49619 20.5892 8.65405 20.3779 8.86531C19.5421 9.70116

[2022-03-17 14:58] ka-terok commented on #188
`<svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-5-inside-1_13504_132748" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd"
            d="M6.70711 19.4102C6.31658 19.0197 6.31658 18.3865 6.70711 17.996L17.9958 6.7073C18.3864 6.31677 19.0195 6.31677 19.41 6.7073L21.0945 8.39172C20.8336 8.49619 20.5892 8.65405 20.3779 8.86531C19.5421 9.70116

[2022-03-17 15:05] cascornelissen commented on #188
Not sure what's happening here without additional information (used configuration and/or reproducible repository) but my first guess would be that SVGO is cleaning this up, you can verify this by setting the [`output.svgo` option](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#outputsvgo--true) to `false`.

[2022-03-23 18:56] cascornelissen commented on #188
I'm sorry but I really need a bit more information than just some badly formatted plugin options...

* I assume you've added `svgo: false` since I mentioned it, does it not resolve the issue?
* Are you able to share a project that has this issue so that I can debug it?

[2022-03-24 09:20] #188 closed

[2022-05-14 20:49] eyaldar opened #191 "Glob doesn't find anything on windows"
**Description**
I have a folder with a bunch of SVG files on windows, I set SVGSpriteMapPlugin like this:
[code]
But once I run it it seems that path gets normalized [here in line 63](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/c1271388090b0f01c71dae2d43605f2be84db5a9/lib/options-formatter.js) back to backslash based lines which doesnt seem to work with glob.sync anymore ([

[2022-05-15 09:14] cascornelissen commented on #191
Looks like others are also running into this issue:

* https://github.com/isaacs/node-glob/issues/471#issuecomment-1126672449

I can't really test on a Windows setup unfortunately so I'm thinking out loud here... It looks like the `allowWindowsEscape` option that will be introduced by https://github.com/isaacs/node-glob/issues/468 would solve this? Once that lands you should be able to set it usin

[2022-05-15 10:43] eyaldar commented on #191
Yeah, should be good enough, in the mean time I forced version 7.2.0 and everything works as it used to be.

[2022-05-15 17:06] PurTahan commented on #191
in react native throws same error

[2022-05-15 18:52] nicolas377 commented on #191
Glob 7.2.3 was released a few hours ago, which should contain the fix to this issue.

[2022-05-19 20:39] volarname opened #192 "webpack dev server support"
First of all thank you for this great plugin, i tried several one and this one is best working, easy to configure and most up to date.

**Description**
Does it support webpack dev server?

When i have a config with direct files in array like this:
[code]
when i start webpack dev server i get errors in cli:
[code]
Everything works when i build the project, just watch for changes using webpack dev s

[2022-05-20 12:16] cascornelissen commented on #192
First time I'm seeing someone point to specific files 🤔 This could probably be implemented and tested, shouldn't be too hard. The assumption is made here that each input pattern is a directory it seems so we'd need some additional checks there.

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/46d9fd4f081ba4d73bc0fbe6f11ea421648c6a21/lib/index.js#L370

Feel free to submit a PR!

[2022-05-20 12:25] volarname commented on #192
our use case is that we have shared folder with svg files and then we have project specific svg files, so our svg files are not duplicated. we build sprite for each project individually, so we need to reference individual files

[2022-05-20 12:28] cascornelissen commented on #192
I understand and it makes sense, just don't think I've seen anyone before with that use-case. As said, a PR is welcome or I'll look into it myself at some point in the future if I have some time.

[2022-05-31 22:30] volarname commented on #192
take a look, feel free to comment:
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/193

[2022-06-07 12:04] pciarach opened #194 "Generated SVG is not added to spritemap chunk"
Hello!

I'm currently upgrading my project to the webpack v5 and I've noticed in another plugin's output that generated SVG file is not added to the spritemap chunk.

I couldn't find any related topics on the internet so I started debugging, and it turned out that the piece of code responsible for that part is never called during my webpack build.

I've downloaded the repo of your plugin and tried

[2022-06-14 17:08] cascornelissen commented on #191
I'm closing this as this seems to be resolved, feel free to comment if I misinterpreted 😘

[2022-06-14 17:08] #191 closed

[2022-06-15 11:58] pciarach commented on #194
Well, sorry 😅
I thought that the unit test would be sufficient.
I was talking about this piece of code:
[code]

And when it comes to expected and actual behavior: I'm using assets webpack plugin which outputs all the assets to the JSON file and groups them by chunk name.
This is how it outputs this right now (due to SVG file not being added to the the `iconsSprite` chunk):

### Actual

[code]

And

[2022-06-19 14:05] cascornelissen commented on #194
Gotcha, thanks for the explanation, and no worries! Your last comment and the initial test case don't really seem to match so I'm having a hard time piercing them together but I'm going off the test case for now... Since simply moving this code outside of `compiler.hooks.make`, as suggested in the original issue, results in quite a few test cases failing, I think we'll have to investigate this a b

[2022-06-19 14:32] cascornelissen commented on #194
Then again, maybe it was simpler than that, I've made some changes in b4fba19 that result in your test and all other tests succeeding. Could you try it out on your end by installing directly from `master` by running the following command?

[code]

[2022-06-19 14:34] cascornelissen commented on #192
I've made some changes in 055d348 that should solve this. Could you try it out on your end by installing directly from `master` by running the following command?

[code]

[2022-06-19 15:07] volarname commented on #192
i can confirm that this version works without any warning/error and svg sprite file is correctly available in dev server. thank you.
when it will land in a release or hotfix officially?

[2022-06-19 15:39] cascornelissen commented on #192
That's great to hear, thanks for the quick reply! I'm hoping to release this together with the fix for #194 but if that takes too long I'll make sure to push out a release ✌🏼

[2022-06-20 09:41] pciarach commented on #194
Hello, your fix works like a charm ;)

It seems to be indeed connected with the linked issue as I could see the same behavior in our project i.e. incremental build moving SVG file under the correct chunk.
But as I said before, your version works correctly in every scenario so I will simply wait for the released package ;)

Thanks a lot!

[2022-06-20 09:41] #194 closed

[2022-06-20 11:58] cascornelissen commented on #192
Just got confirmation the other issue is also solved so I've published version [`4.4.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.4.1) which includes this fix.

[2022-06-20 11:58] #192 closed

[2022-06-20 11:58] cascornelissen commented on #194
That's good to hear, let's hope it won't break for anyone else 🤞🏼 I've just published version [`4.4.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.4.1) which includes this fix.

[2022-06-21 16:17] jakewhiteley opened #195 "version 4.4.1 not compiling"
**Description**
Upgrading to 4.4.1 causes all builds to fail due to the following:

[code]

Rolling back to 4.4.0 compiles correctly.

**Webpack config**
[code]

**System information**

[code]

**Additional context**

[2022-06-22 18:26] cascornelissen commented on #195
@jakewhiteley, thanks. I'm not familiar with Laravel Mix but I checked out your repository and ran `npm start` which resulted in a `Compiled successfully` message. I noticed the version pinned in `package.json` was `4.4.0` so I updated that to `4.4.1` but I'm still getting `Compiled successfully`. Are you positive this does not work on your system?

[2022-06-23 08:47] jakewhiteley commented on #195
Installing https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/5e73ae55f0f6bc29ccee279f54d312a60561514b works as expected.

Installing https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/4ece0f75b093b4e66c31b38079d248b97976b8f7 produces a `No source files match the patterns: 'C:\wamp64\www\_unseen\spritemap-minimal\resources\assets\svg-sprite\*.svg'
` warning an

[2022-06-23 10:41] TiDaGo opened #196 "Windows pattern"
pattern: like this new './src/files/sprite-images/**/*.svg'

in options-formatter.js
` output.input.patterns = output.input.patterns.map((pattern) => {
        console.log(pattern);
        var result = path.normalize(pattern);
        console.log(result);
        return result;
    });`

pattern like my, but result like windows )
.\src\files\sprite-images\**\*.svg

and in index.js
` glob.sync(pat

[2022-06-23 17:25] cascornelissen commented on #195
I'm running node `16.15.0` at the moment so I don't think that's the difference either 🤔

#196 was just created which might be related, I've pushed a fix for that in [cda8566](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/cda85660dfc310303573729138857b8320e2c74d). Could you try it out on your end by installing directly from `master` by running the following command again?

[2022-06-23 18:34] TiDaGo commented on #196
Thx, Now it's working !
but my package.json -
"svg-spritemap-webpack-plugin": "github:cascornelissen/svg-spritemap-webpack-plugin#master",

))))

[2022-06-23 18:35] TiDaGo commented on #196
Thx, Now it's working !
but my package.json -
"svg-spritemap-webpack-plugin": "github:cascornelissen/svg-spritemap-webpack-plugin#master",

))))

[2022-06-23 18:35] #196 closed

[2022-06-24 08:35] jakewhiteley commented on #195
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/cda85660dfc310303573729138857b8320e2c74d did not fix the issue - same `no such file...` error 😢

[2022-06-24 09:14] jakewhiteley commented on #195
@cascornelissen I am getting closer.

I tried https://github.com/cascornelissen/svg-spritemap-webpack-plugin/commit/65a31766a57ef2f6ef3d282e0b3e1a127a127247 and it works but fails as no sprites are found.

The  issue is due to `glob` being [incomaptable with backslashes in paths ](https://github.com/isaacs/node-glob#windows).

I added `pattern = pattern.replace(/\\/g, '/')` to line 371 of index.js

[2022-06-24 11:40] jakewhiteley commented on #195
@cascornelissen all good :)

[2022-06-24 12:04] cascornelissen commented on #196
I have just published [`4.4.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.4.2) to npm. Thanks for testing! ❤️

[2022-06-24 12:04] cascornelissen commented on #195
Great, I've just published [`4.4.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.4.2) to npm. Thanks for testing/investigating! ❤️

[2022-06-24 12:04] #195 closed

[2022-06-27 12:39] vlad-zhurakovskyi-git commented on #80
@cascornelissen thank you, its solve my problems too!

[2022-07-06 18:51] Vahanerevan opened #197 "Rebuilds every time editing js files in watch mode."
**Description**
Thank you for plugin it saves so much time .

**Description**
We are having little issue with webpack watch mode: when we update any file (js,css, not svg) in source plugin regenerates files . We have 200+ icons so compilation tooks 15+ seconds  is there any way to build once in watch mode or prevent rebuild if svgs did not change ?

We use html plugin.

[code]

[code]
**Expected b

[2022-07-10 08:02] cascornelissen commented on #197
Had half an hour of nothing to do and the changes in eae59fb seem to do what you're looking for on my end.

Could you try it out on your end by installing directly from `master` by running the following command?

[code]

[2022-07-13 15:10] cascornelissen commented on #197
I have just published [`4.5.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.5.0) to npm. Thanks for the idea and for reporting back! ❤️

[2022-09-15 09:37] rnkpplr opened #199 "Problem with path.join on windows"
Hi,

I have upgraded the version from v4.3.3 to v4.5.0. Since then, there are problems when creating the SVG Spritemap locally on Windows computers. It seems, that the input pattern is not being recognised.

I set the path in webpack.config.js with `path.join(__dirname, 'projects/default/')`. When I run build:prod or watch I get earn the following WARNING:

in svg-spritemap-webpack-plugin
No sourc

[2022-09-15 09:49] cascornelissen commented on #199
This is due to a change that's part of [v4.4.2](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v4.4.2) in the `glob` dependency that's used for this. There's more information available in https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/195 as well as in [the release notes for `glob@8`](https://github.com/isaacs/node-glob/blob/main/changelog.md#80)

[2022-09-15 09:49] #199 closed

[2022-09-15 09:55] rnkpplr commented on #199
Yes, there are backslashes in platform_paths.assets. Thanks for the quick answer and thanks for the plugin ;)

[2022-09-23 10:39] lmoroz opened #200 "(node:19636) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'trim' of undefined"
**Description**
When trying to build the project I'm getting this:
`(node:19636) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'trim' of undefined
 at …\node_modules\svg-spritemap-webpack-plugin\lib\generate-svg.js:161:26
 `

**Expected behavior**
To build normally, probably with warning about broken SVG-file

**Actual behavior**
Build freezes on the error:
`(node:19636) Unhand

[2022-10-03 18:32] cascornelissen commented on #200
Took a while cause I was quite busy but it seems like one of your input SVGs contains invalid XML.

This specifically seems to be caused by your `plans.svg` which contains a [`data-plans-svg` attribute without a value on L1](https://github.com/lmoroz/svg-spritemap-debug/blob/master/src/assets/sprites/plans.svg?short_path=e60db57#L1) which is invalid XML. Trying to [open the file](https://raw.githu

[2022-10-03 18:32] #200 closed

[2022-10-28 22:50] Diboby opened #202 "404 Error when `options.output` changed"
**Description**

Hello !

I changed my `options.output` from the build folder to one of its subfolder, (i-e example: from `dist/` to `dist/svg/`). So the svg sprite map file was created successfully in the subfolder. But unfortunetaly, when i ran my application, to load any svg file, it tried to find the svg sprite map file in the build folder instead of the according subfolder i provided above.

[2022-10-28 22:58] #202 closed