[2017-06-14 09:20] cwirz opened #6 "Webpack uglify fails"
The webpack uglify plugin fails if you run `webpack -p`

Error message:
[code]

Any idea how to solve this issue?

[2017-06-14 09:25] cascornelissen commented on #6
I can't seem to reproduce this issue. It looks like it's trying to parse the SVG as JS which throws the error you've provided.

Could you provide a minimal test case?

[2017-06-14 09:28] cwirz commented on #6
I've just included the plugin in the webpack config file like this and ran the command `webpack -p`

[code]

When i do the `webpack --watch` command it creates the `spritemap.svg` file.

[2017-06-14 09:31] cascornelissen commented on #6
Could you provide the entire webpack configuration in this issue or (even better) a link to the project so I can test this? I suspect something goes wrong with production-specific loader configuration but I'm not sure as I don't know anything about your setup.

[2017-06-14 09:34] cwirz commented on #6
I'm using now a workaroud to build the spritemap file first in the development process and exclude later the plugin in the production build but this feels wrong...

[code]

[2017-06-14 12:52] cascornelissen commented on #6
Does excluding the `spritemap.svg` using the [`exclude` option](https://github.com/webpack-contrib/uglifyjs-webpack-plugin#options) from `uglifyjs-webpack-plugin` not work?

[2017-06-14 12:54] cwirz commented on #6
Not tried it yet but shouldn't that be a problem because the uglifyjs tries to uglify only js files?

[2017-06-14 13:00] cascornelissen commented on #6
Yeah, I noticed the `test` option too. I'm willing to look into the issue regarding the fact that it tries to minify a file that doesn't pass the `test` but I'm short on time for the upcoming weeks so I'm looking for a solution to your problem in the meantime.

[2017-06-14 13:01] cwirz commented on #6
Cool thanks. Helps me a lot and thanks also for the great plugin!

[2017-06-14 13:03] cascornelissen commented on #6
You're more than welcome! I'll keep the issue open so I don't forget to look into this when I have the time.

[2017-06-28 09:05] vzaidman opened #8 "Can you make "svgo" a peer dependancy?"
for example for people who wants to use a custom version of it with my own plugins.
or custom version

[2017-06-28 09:13] cascornelissen commented on #8
I'd be willing to accept a PR for this, yeah 😉

[2017-06-28 10:33] vzaidman commented on #8
np

[2017-07-23 16:19] carlcs opened #9 "SVGO options are overridden"
It seems that my SVGO options are being overridden because of how `cleanupIDs: false` plugin is merged into the options.

[code]

[2017-07-26 15:39] max-gram opened #10 "Proposal: Filename field as path"
Hey, I'm wondering if there is any specific reason output file is locked to `output.path`?
I'm working on the setup where I need to compile svg into `/public` path, which is outside `output.path` folder.  Would you consider pull request for it? Or maybe you can recommend some solutions with "as is" code? All I could come up with - a package scripts command to build svg by `npm run svg`, but I'd li

[2017-07-27 11:51] cascornelissen commented on #10
The only reason it's set up like this is because Webpack does it this way. Are you using anything else within Webpack that outputs to a path outside the build directory?

If so; I'd accept a PR but it feels like this goes against the way Webpack does stuff...

[2017-07-27 11:51] cascornelissen commented on #9
That does look like a bug, yeah. Would you be willing to submit a PR for this?

[2017-07-27 17:08] max-gram commented on #10
Yeah, actually none libs I'm using do that, so I guess you are right, it should stay this way. Thanks!
Closing

[2017-07-27 17:08] #10 closed

[2017-07-29 13:21] carlcs commented on #9
@cascornelissen please have a look at #11

[2017-07-29 17:32] cascornelissen commented on #6
I've been looking into this for the last hour but can't really replicate the issue. When someone runs into this problem and can submit a working test case I'd be happy to look into it once more.

[2017-07-29 17:32] #6 closed

[2017-07-29 17:36] cascornelissen commented on #8
Closing the issue, if anyone wants to move the `svgo` dependency to a peer dependency and add a warning for when `svgo` is not installed: feel free to submit a PR 👍

[2017-07-29 17:36] #8 closed

[2017-07-31 11:46] cascornelissen commented on #9
This has been fixed in #11 which was included in version `1.0.3` which was just released.

@carlcs, thanks for the help!

[2017-07-31 11:46] #9 closed

[2017-08-02 14:00] jan-dh opened #12 "SVGO config not being used"
The code below outputs an SVG that is minified, with double title attributes and no prefix. Tried on version 1.0.3

[code]

[2017-08-02 14:30] cascornelissen commented on #12
The `prefix` option is not related to `svgo`, it should be added as a root key (just like `filename`, etc.)

And what exactly do you mean with double title attributes? Could you provide an example?

[2017-08-02 15:00] jan-dh commented on #12
The plugin outputs the svg's in the sprite as such (minified)

[code]

[2017-10-17 14:48] jacubsmith commented on #12
Try using the following instead:

`new SVGSpritemapPlugin({
	src:path.resolve(__dirname,basePath + '/img/icons-svg/**/*.svg'),
	filename: 'img/sprite.svg',
	svgo:{
		plugins: [{
			removeTitle: false,
			minify:false,
			removeXMLNS:true,
		}]
	},
	svg4everybody:true,
}), `

[2017-10-18 11:11] cascornelissen commented on #12
I just tested this with @jacubsmith's settings and I can't reproduce the double title element.

If anyone else runs into a similar issue please provide a complete example and I'll reopen the issue.

[2017-10-18 11:11] #12 closed

[2017-11-27 17:37] ctkc opened #13 "Can I put two routes into scr attribute?"
Hello, I need to put two routes with different files, Is there a way to do this?.

Thanks a lot!

[2017-11-27 19:34] cascornelissen commented on #13
The ‘src’ option supports [globbing](https://www.npmjs.com/package/glob), which also supports something like `(a|b)` for ORs.

Either that or you could add two seperate instance of the plugin to your plugins array in your configuration if you want two seperate SVGs as output.

Let me know!

[2017-12-13 17:47] cascornelissen commented on #13
@ctkc, any updates on this?

[2017-12-13 17:48] cascornelissen commented on #12
I've been able to reproduce the double `title` element bug, no idea why I didn't run into this any earlier but it'll be fixed in `1.0.4`!

[2017-12-13 18:15] remco-freshheads opened #15 "Output: viewBox="NaN""
When I run svg's through this plugin without the attribute viewBox set, the output of the particular svg will contain the `viewBox` attribute set to `NaN`.  I often use svg's with width and height set, instead of viewBox.

Most of the time I solved it by setting the `viewBox`. In the example below I changed `width="357" height="357"` to `viewBox="0 0 357 357"`, but this shouldn't be necessary.

Ex

[2017-12-13 18:22] ctkc commented on #13
I wanted merge two different inputs into the same output file. If I put two instances of the same plugin with the same output, the second instance override the file so it is not what I need but thanks a lot for your answer.

[2017-12-13 18:26] cascornelissen commented on #13
If you're still trying to do that, it's possible to do this through [globbing](https://www.npmjs.com/package/glob), something like the following should work:

[code]
If you need any more info; this [glob primer](https://github.com/isaacs/node-glob#glob-primer) explains it pretty well

[2017-12-13 18:42] ctkc commented on #13
It works!. Thank you so much!

[2017-12-13 18:43] cascornelissen commented on #13
Great! No problem at all! 😄

[2017-12-13 18:43] #13 closed

[2017-12-14 07:49] #15 closed

[2017-12-14 08:08] cascornelissen commented on #15
This has been fixed in `1.0.4` 🎉

[2017-12-15 15:05] nelsonkyshin opened #17 "Proposal: make deletion of chunked .js configurable"
At the end of webpack compilation, I receive EOENT because the created 'spritemap.js' is no longer there. This may be because of other reporting tools in the stack.

A parameter in the options to not delete the .js file would be helpful

[2017-12-15 15:52] cascornelissen commented on #17
Sounds like a valid use case, I'm happy to accept a PR. If you don't have time to fix it yourself and submit a PR I'll have some time this weekend to look at it as well 😉

[2017-12-19 09:26] nelsonkyshin commented on #17
Oops I was on vacation the last few days :) PR is open
https://github.com/freshheads/svg-spritemap-webpack-plugin/pull/18

[2017-12-19 18:00] cascornelissen commented on #17
Fixed in `1.1.0` (#18)

[2017-12-19 18:00] #17 closed

[2018-01-30 20:43] martijn94 opened #20 "Feature request: HTML example generation"
Hey,

Would be awesome to have a HTML example page generator like https://github.com/jkphl/svg-sprite. So you can preview and snippet the icons quickly.

Thanks!

[2018-01-31 14:53] cascornelissen commented on #20
Since this is just a Webpack plugin I don't feel like adding an example page generator would be a good idea.

Performance is key in these kinds of projects and adding onto the process takes speed away. We could always hide it behind a flag/option but this addition would still make the codebase unnecessarily more complex.

You can always open the generated SVG in your browser and use your browser's

[2018-01-31 14:53] #20 closed

[2018-01-31 14:55] martijn94 commented on #20
Makes sense, will look into the second option!

Thanks.

[2018-02-26 15:03] sandersky opened #22 "Not compatible with Webpack 4"
The following error occurs when trying to use this plugin with Webpack 4.

[code]

[2018-02-26 15:14] cascornelissen commented on #22
Yeah, I'm aware of this and currently working on `2.0.0` of this plugin which should be compatible with Webpack `4.0.0` and higher. I'm hoping to release it this week, let's keep the issue open to prevent others from reporting the same.

[2018-02-28 18:50] cascornelissen commented on #22
People can follow along the [`webpack4`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/webpack4) branch if they want to for now. I'm hoping to release it under `svg-spritemap-webpack-plugin@next` this friday.

[2018-03-02 09:39] cascornelissen commented on #22
@sandersky, I've just released `2.0.0-rc.2` (and `2.0.0-rc.1` as well, obviously). Could you report back if this version works correctly for you?

Installing the release candidate can be done by using the following command:

[code]

[2018-03-02 12:54] sandersky commented on #22
@cascornelissen I assume you meant `npm install svg-spritemap-webpack-plugin@next --save-dev` 😉

I've confirmed this RC works for me though, thanks for getting it out within a week of the Webpack 4 release. 🚀

[2018-03-02 12:57] cascornelissen commented on #22
Haha, whoops. Thanks for noticing. Great to hear it works on your end. I'll test it some more during next week and will probably release it as stable before the end of next week. 👍

[2018-03-05 22:13] cascornelissen commented on #22
@sandersky, I've released some more fixes into two new RCs. Could you maybe test `2.0.0-rc.4` by running the `npm install svg-spritemap-webpack-plugin@next --save-dev` and building your application? Would love to hear if it's working correctly for you as well.

`2.0.0` stable release is planned for this sunday.

[2018-03-10 15:17] ripperdoc opened #23 "Running this plugin stops all other loaders"
I am running "svg-spritemap-webpack-plugin": "^2.0.0-rc.4" on webpack 4.1.1. My config for this plugin is:
[code]
But when this is active, all other files (JS, CSS, etc) are not emitted anymore. So it's unusable for me. I'm not able to see what happens, except that everything is back to normal when I comment out SVGSpritemapPlugin. Any pointers?

[2018-03-11 09:11] cascornelissen commented on #23
Thanks for reporting the issue, this seems like a serious problem and I would love to get this fixed. Could you answer a couple of questions for me?

1. What exactly do you mean by "not emitted anymore"? Do these files not get created?
1. Does this only happen in a specific mode (watch, development, production)?
1. Do older RCs of the plugin work for you?
1. Have you used the `1.x` version of the

[2018-03-11 09:52] ripperdoc commented on #23
Let me try to give a bit more info, I've cut out almost everything else in my project and it still persists.

Some details below, short answers to your questions:

1. Well, without SVGSpritemapPlugin, the expected JS files are emitted to the output directory. With the plugin, no JS files are emitted, just an SVG.
2. Seems to happen in both
3. As I check this, it only happens in rc.4, not 3.
4. I h

[2018-03-11 09:55] cascornelissen commented on #23
I might have a problem where this is coming from, could you change your entry to this:

[code]

The string-variant should work as well so I'll have to fix it but let's check if this is your actual problem first. Could you report back if this is working for you?

[2018-03-11 09:59] ripperdoc commented on #23
That does not seem to make any difference.

[2018-03-11 10:01] cascornelissen commented on #23
I'll have to look into this some more then, for now you could use `2.0.0-rc.3`.

[2018-03-11 11:01] cascornelissen commented on #23
@ripperdoc, I'm having trouble reproducing your errors but could you try modifying the `node_modules/svg-spritemap-webpack-plugin/index.js` file in your project and changing [this line](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/compare/v2.0.0-rc.3...v2.0.0-rc.4#diff-6d186b954a58d5bb740f73d84fe39073R120) to `return;` instead of `return true;` and see if that solves the problem

[2018-03-11 22:49] ripperdoc commented on #23
I made the edit, but the error seem to persist unfortunately.

[2018-03-12 10:35] cascornelissen commented on #23
That's strange... The only difference between `rc.3` and `rc.4` are [changes to the svg4everybody helper](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/compare/v2.0.0-rc.3...v2.0.0-rc.4) and since you're not using the helper (it defaults to `false`) the only difference for you would be the chance I [suggested earlier](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/

[2018-03-12 10:35] cascornelissen commented on #22
The stable release will be postponed until I've solved https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/23 in case anyone was wondering ❤️

[2018-03-12 13:12] cascornelissen commented on #23
@ripperdoc, I did some more testing and that I can't reproduce your issue when applying the change I've described earlier. I've pushed that change to GitHub, could you try installing the plugin directly from GitHub and report back if that fixes it?

[code]

[2018-03-15 14:00] vzaidman commented on #23
@ripperdoc

[2018-03-15 14:03] cascornelissen commented on #23
Since I'm noticing multiple people responding to this issue (@Haydencleary, @vzaidman), is there anyone experiencing this issue as well?

If not, I'll release `2.0.0` this weekend either way.

[2018-03-15 15:12] vzaidman commented on #23
testing

[2018-03-17 15:08] cascornelissen commented on #23
@vzaidman, any updates by any chance? I'll release `2.0.0` tomorrow if I'm not hearing back from anyone.

[2018-03-17 15:09] ripperdoc commented on #23
Sorry, I haven't had chance to test yet, but will get to it eventually.

[2018-03-18 06:59] vzaidman commented on #23
ill test it in a few hours.

[2018-03-18 07:17] ripperdoc commented on #23
I tested the master version and it seems to fix it! Thanks!

[2018-03-18 08:16] vzaidman commented on #23
looks fine here as well. other plugins prevent me from migrating to webpack 4 right now, so i cant see if it actually works, but it looks like its fine right now. thanks :)

[2018-03-18 09:42] cascornelissen commented on #23
@ripperdoc, great to hear! I've just released [`v2.0.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.0.0) which includes this fix 🚀

[2018-03-18 09:42] #23 closed

[2018-03-18 09:48] cascornelissen commented on #22
I've just released [`v2.0.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.0.0) which includes this fix 🚀

[code]

[2018-03-18 09:48] #22 closed

[2018-04-05 03:06] maoqxxmm opened #24 "Can't find the output svg"
Hey, I use create-react-app to start my project. And the webpack config is shown blow:
[code]
But when I use `npm start`, there is no spritemap.svg in my workspace. If I set `path` like `path.join(__dirname, '../src/')`,  there is no help either. I don't know what's wrong...

version: 1.1.1
webpack version: 3.8.1

[2018-04-05 07:14] maoqxxmm commented on #24
@cascornelissen I have set the `src` but nothing changes...
[code]
There are 2 svg files in this folder. And I add a break point at
[code]
And I get files.length equals 2, so I believe that it's not the problem of source...
Maybe it's because of the `output` option of webpack?

[2018-04-05 07:30] cascornelissen commented on #24
Hmm, interesting... Could you include your webpack output (stats) in this issue? Let's see it actually adds the chunk.

If you have the time a small reproducible repository might help me debug this as well 😉

[2018-04-05 09:08] maoqxxmm commented on #24
@cascornelissen hey, I have create a test repository: https://github.com/maoqxxmm/svg-test
Thanks for your help😊

[2018-04-05 09:48] cascornelissen commented on #24
Great! I'll check this evening (in about 6 hours in my timezone) and will let you know :v:

[2018-04-05 17:25] cascornelissen commented on #24
@maoqxxmm, I've just tested your setup and running `npm run build` (after adding the plugin to `config/webpack.config.prod.js` as well) results in a `spritemap.svg` in the build directory.

I'm not quite sure how the webpack-dev-server (used when running `npm run start`) setup for the `create-react-app` project is but I can't really help you with that. The plugin seems to be working fine, it finds

[2018-04-06 02:38] maoqxxmm commented on #24
@cascornelissen Thanks for your help. Maybe I should ask webpack team about this 😭

[2018-04-07 14:05] cascornelissen commented on #24
@maoqxxmm, sorry I can't help you any further with this, asking the developers over at the webpack or create-react-app might get you somewhere.

I would personally advice against using this plugin in combination with React by the way, inlining the SVGs with something like `react-inlinesvg` would probably be better.

I'm closing this for now, feel free to comment/open a new issue when you find anyt

[2018-04-07 14:05] #24 closed

[2018-05-01 15:24] Hoet opened #25 "Cannot read property 'entryOption' of undefined"
webpack file
[code]

This is the firts time I use webpack. Added the const at the top and updated the plugin array. After that trying to run webpack, but I end up with a error below. Added various configurations, same result.
I get the following error. Using webpack 3.11.0.

/var/www/......../node_modules/webpack/bin/webpack.js:348
                        throw err;
                        ^
TypeE

[2018-05-01 16:46] cascornelissen commented on #25
Could you post your entire Webpack configuration?

[2018-05-01 20:44] Hoet commented on #25
[code]

[2018-05-02 08:02] cascornelissen commented on #25
Ah, I missed this in your original post but the latest release (`2.0.0` and higher are made for Webpack 4), you should use the following command to install the latest `1.x` release:

[code]

[2018-05-02 15:33] Hoet commented on #25
I have updated webpack to 4.6 and all hell broke loose :(.

So tried to fix all the issues, then I finaly had it all working, could create a svg sprite. So it seems to be working using 2.3.0

Then I had to make sure that the packages.json would be working on the computers of other programmers here and it all broke. So I ended up reinstalling my docker environment.

In short, using 2.3.0 with a web

[2018-05-02 16:17] cascornelissen commented on #25
Glad to hear it's not related to the plugin. Sorry to hear about your development environment though, good luck with that!

[2018-05-02 16:17] #25 closed

[2018-05-04 03:04] aaronleslie opened #26 "Couldn't find the related extract sprites.css"
Couldn't extract sprites.css for version ^1.0.0, could you help make it compatible on that?

[code]

[2018-05-04 06:15] cascornelissen commented on #26
The `styles` option has indeed been added in `2.2.0` and uses a couple of Webpack 4 features to improve performance and handle the process in general. It should be doable to release this for the `1.x` release but I don't have the time for it and personally don't think it's worth it since people will be upgrading to Webpack 4 anyways (which they should).

Having said that, everyone is welcome to su

[2018-05-04 08:46] DreadBoy opened #27 "Webpack doesn't rebuild on file change"
If I use Webpack in watch mode and change one of source .svg, Webpack doesn't rebuild app. Is this intended? If it is, is there a way to trick Webpack to watch for changes in source files?

[2018-05-04 08:49] cascornelissen commented on #27
Which version of the plugin are you using?

[2018-05-04 08:52] DreadBoy commented on #27
svg-spritemap-webpack-plugin@2.3.0 and webpack@4.6.0

Config is like this:

[code]

[2018-05-04 08:54] osvaldasvalutis opened #28 "`entryOption` error when using with Rails Webpacker"
Using it with Rails Webpacker environment results in error:

[code]

...with this config:

[code]

Any ideas why?

[2018-05-04 08:55] cascornelissen commented on #27
Hmm, watching was added in `2.1.0`.

Which OS are you using and would it be possible to share a small test case which fails on your end?

[2018-05-04 08:55] cascornelissen commented on #28
I'm guessing you're not running Webpack 4 but are using version `^2.0.0` of this plugin?

See https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/25 for more information.

[2018-05-04 08:56] DreadBoy commented on #27
Windows 10 Pro, will include test case shortly

[2018-05-04 08:59] #28 closed

[2018-05-04 10:28] DreadBoy commented on #27
https://github.com/DreadBoy/svg-spritemap-webpack-plugin-27

[2018-05-04 19:17] #26 closed

[2018-05-04 19:19] cascornelissen commented on #26
Feel free to comment on this or submit a PR when trying to get the `styles` option to work in the `1.x` branch. I've waited specifically for the Webpack 4 release containing improvements to the plugin interface.

It's probably easier and more cost-effective to upgrade to Webpack 4 than to try and implement those features in the older versions of this plugin.

[2018-05-04 19:25] cascornelissen commented on #27
Thanks for the test-case, I'm looking into it right now.

[2018-05-04 20:15] cascornelissen commented on #27
@DreadBoy, this seems to be an issue that's been introduced in `2.2.0`. You could use `2.1.0` until I've fixed the issue and released a new version by running:

[code]

[2018-05-05 09:01] cascornelissen commented on #27
@DreadBoy, I've fixed the issue (including some related issues introduced since webpack `4.6.0`) and it's available in the `master` branch. Could you report if it fixes the issues on your end too?

[code]

I'll release `2.4.0` when I hear back from you!

[2018-05-07 10:38] DreadBoy commented on #27
Yeah, I confirm it works, thanks for fixing it!

[2018-05-07 11:18] cascornelissen commented on #27
Release [`2.4.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.4.0) has been published to GitHub and npm.

@DreadBoy, thanks for the test-case which helped me solve this issue a lot quicker! :v:

[2018-05-07 11:18] #27 closed

[2018-05-10 09:55] schrodinger-cat opened #29 "Change settings doesn`t affect to result svg"
Hi, I trying to migrate from gulp to webpack and I need to generate svg sprite. But when sprite is generated, settings doesn't not affect the outcome. I have svg named `logo.svg`, and I expect `symbol` with id `icon-logo`, but I get:

[code]

Run at MacOS High Sierra 10.13.4, webpack version 4.8.0, config:
[code]

[2018-05-10 13:53] cascornelissen commented on #29
1. Could you provide the source SVG?
1. The `filename` can't be a path, don't think that's the problem here, though.
1. Does it work without the `svgo` configuration?

[2018-05-10 20:11] schrodinger-cat commented on #29
1. ``` <?xml version="1.0" encoding="UTF-8"?>
<svg enable-background="new 0 0 512 512" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
		<path d="m170.67 341.33c-51.755 0-93.867 42.112-93.867 93.867v76.8h17.067v-76.8c0-42.351 34.458-76.8 76.8-76.8h25.6v-17.067h-25.6z"/>
		<path d="m290.13 298.67v50.031l-34.133 122.88-34.133-122.88v-50.031h-17.067v51.2c0

[2018-05-14 10:01] schrodinger-cat commented on #29
Hmm, I trying to create a minimal test case, and it works fine. The problem was that the imagemin-webpack-plugin plugin was used, and by default it minimize `svg`.

[2018-05-14 11:13] cascornelissen commented on #29
Ah, that explains why the `id` was changed to `a`, yeah.

You're probably better off disabling the `imagemin-webpack-plugin` for SVGs or disabling the `cleanupIDs` task through [`options.svgo`](https://github.com/Klathmon/imagemin-webpack-plugin#optionssvgo) when using SVGs outside of the spritemap.

[2018-05-14 11:13] #29 closed

[2018-05-18 11:20] Hoet opened #30 "Missing option to disable title"
Hello,

I was wondering how I could disable the title of an generated icon ?
I can't find an option to disable the auto generating of a title.

My icons are constructed like below. The title "toevoegen" is only active when you over over a part of the icon that has no content. Else the title "add_circle" is displayed.
[code]

I have changed this in my npm folder. This seems to be working well. Mind

[2018-05-18 11:33] cascornelissen commented on #30
A solution would be to add an empty title tag to the SVG itself. Would that work you for?

[code]

[2018-05-18 11:57] Hoet commented on #30
Would be an option, but in that case I'll have to check and edit around 240 svg files. Well not me, but another developer ;). And when adding a new svg be it from the materials design library, iconfinder or another library the developer will have to check if there is an title in the file and change it accordingly. This is something that will be forgotten on a regular basis. Which means that we hav

[2018-05-18 12:02] cascornelissen commented on #30
Thing is I noticed you're using the `1.x` release which I'm not actively working on anymore.

You're free to submit two PRs (both on the `1.x` and `master` branches) with this new feature. I'm willing to look at the PR and release a new version if you want 😉

[2018-05-18 12:18] Hoet commented on #30
Correct, I'm forced to use 1.x for now. To many things need to change in this project to be able to use 2.x. And seeing I have only 2 weeks left in this project I'm not going to touch that ;)

Alright, I'll do that.

[2018-05-18 15:37] Hoet commented on #30
Do I need to be added to the project before I can push a branch ?

5:34 PM	Push failed: Failed with error: unable to access 'https://github.com/cascornelissen/svg-spritemap-webpack-plugin.git/': The requested URL returned error: 403

[2018-05-18 16:10] cascornelissen commented on #30
You'll have to fork it and submit a PR. [This guide](https://gist.github.com/Chaser324/ce0505fbed06b947d962) on how to contribute might help you 😉

[2018-05-19 13:18] TillmannD opened #31 "Added color to mixin & sprite (support for variables in styles)"
Hey,
first of all thanks for the great plugin!

I missed the color prop in the mixin, so I added the fill prop in the formatter files & icon.scss. Are there any plans to integrate the color, size prop to the scss/less in the future?

Thats what I've done, it works perfectly for me:

scss-formatter.js:
`svg.setAttribute('fill', '%fill%');`

styles.scss:
[code]
I only changed the scss cause I only u

[2018-05-19 16:09] cascornelissen commented on #31
Funny that you mention this, I'm currently in the process of adding basic variable support for SCSS. Thing is that there are quite a [few more attributes](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute) for SVG and people might want to use different variables for different sprites so the setup you're suggesting would mean a lot of work.

That's why I'm implementing a different approach

[2018-05-24 14:52] Hoet commented on #30
Pull requests have been submitted. I have been unable to test the changes to 2.x as I have no environment to test that at this time.

[2018-05-24 19:21] cascornelissen commented on #30
Thanks, I'll try to look into it this weekend!

[2018-05-25 09:28] osvaldasvalutis opened #34 "`filename` doesn't work well with Webpacker"
I've tried changing the value of the `filename`, e.g.:

[code]

However, it Webpacker's `manifest.json` it appears as:

[code]

As a matter of fact, this `asset_pack_path('something.svg')` doesn't work and most importantly it's not possible to have multiple sprite files. Not sure if it's a problem of the plugin though.

[2018-05-25 09:34] cascornelissen commented on #34
Mind sharing the versions of webpack and the plugin, your webpack configuration, and the console output you get when running webpack? 😄

[2018-05-25 09:52] osvaldasvalutis commented on #34
It happens on both `@rails/webpacker@4.0.0-pre.2` + `svg-spritemap-webpack-plugin@2.4.0` and `@rails/webpacker@3.2.2` + `svg-spritemap-webpack-plugin@1.1.1` combinations. Here's the related console output:

[code]

[2018-05-25 09:54] cascornelissen commented on #34
I don't know about Webpacker but maybe it uses the name of the chunk in it's stats? Does adding the following to the `SVGSpritemapWebpackPlugin` options solve it?

[code]

See: https://github.com/cascornelissen/svg-spritemap-webpack-plugin#chunk--spritemap

[2018-05-25 09:59] osvaldasvalutis commented on #34
This helped! I somehow passed over the `chunk` option, sorry.

[2018-05-25 09:59] #34 closed

[2018-05-25 10:00] cascornelissen commented on #34
Awesome, no problem at all! ✌️

[2018-05-26 15:19] cascornelissen commented on #30
@Hoet, I had a quick glance at the PRs, they look fine and I'll try merge them when I have the time to release new versions.

[2018-05-27 13:47] cascornelissen commented on #30
Version [`1.2.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v1.2.0) and [`2.5.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.5.0) containing this feature have just been released and published to npm.

Thanks for your contribution, @Hoet! 🚀

[2018-05-27 13:47] #30 closed

[2018-05-27 20:01] cascornelissen commented on #31
Hey @TillmannD, if you want (and have the time) you can check out the progress by installing the plugin from the [`vars`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/vars) branch:

[code]

The feature feels complete to me, the documentation has been updated and I've written some basic tests. I'll be testing it on some projects myself in the next week or so and will release

[2018-05-28 13:55] TillmannD commented on #31
Hey @cascornelissen
thanks! I will take a look at it. But for now it looks very nice. :))))

[2018-05-31 10:54] janwidmer opened #35 "generated scss map not available under the specified filename in styles parameter"
When using the plugin with a custom `styles` parameter, e.g. `styles: '~icons.scss'`, I would expect to be able to call the map mixin like this:

[code]

Currently, that gives me an error, ` Undefined variable: "$icons"`. Therefore it seems, that the generated map always get's stored in the variable `$sprites`

So this is working

[code]

Is that intended or should the map variable be available un

[2018-05-31 11:02] cascornelissen commented on #35
That's intended for now, the variable name is always `$sprites` at the moment. We can't really change it to the `styles` parameter as that could contain invalid characters and it would not be BC.

The current setup might also cause problems when using multiple instances of the plugin to generate multiple spritemaps so I guess this is something we'll have to look into.

Maybe we could support an ob

[2018-05-31 11:39] janwidmer commented on #35
ah ok, good to know, then I will close that ticket. Having an object for multiple instances would be a solution..

Great plugin by the way, thank you!

[2018-05-31 11:41] cascornelissen commented on #35
Mind if I keep this open? I want to look into this as I'm guessing multiple people will be running into this in the future. I'll see if I can release a fix in the next few weeks and will use this issue to track progress.

[2018-05-31 13:09] janwidmer commented on #35
sure :-)

[2018-05-31 13:27] janwidmer opened #36 "Offer option to choose between inline svg url and external file for styles"
If using the styles option of your plugin, the generated css contains the icons es embedded data in the background url. I assume it is like this, because safari did not support css svg fragment identifiers until now. (https://css-tricks.com/svg-fragment-identifiers-work/#article-header-id-3) That has the downside, that if I use the same icon on 5 places in my code, the data for the icon is embedde

[2018-06-01 06:35] cascornelissen commented on #36
The reason for this is indeed support in older browsers (which still have quite a big market shared). You're right about the downside but the `styles` options is only provided as a way to use the sprites when you really can't add them in your HTML (for whatever reason), so using the same icon more than 2 times sounds like another problem in itself.

That being said, we might be able to add an opti

[2018-06-01 06:56] janwidmer commented on #36
yeah, I know that it's more for special cases like icons in richtext where you cannot control the markup and therefore it will not be such a big problem..offering such an option depending on browserlist would be quite nice and future ready..

I am quite busy right now with our project, so I will probably not have time right now. :-(

[2018-06-01 14:06] TillmannD commented on #31
Hey @cascornelissen
It works really perfect. Very nice!

When will you merge it & release it?

[2018-06-01 14:07] cascornelissen commented on #31
@TillmannD, great to hear! I'm hoping to test it some more this evening and will release a version containing this feature this weekend if I can find the time.

[2018-06-03 08:40] cascornelissen commented on #31
@TillmannD, I found some issues that I'd like to get resolved before releasing the feature. Will keep you (and anyone else watching is issue) posted!

[2018-06-06 16:48] galymax opened #37 "Add svg dimensions to sprite object"
When using the svg sprite in sass as background, the container dimensions or background size need to be used to scale the svg. Often the svg needs to be used in ins original dimensions, so it would be really helpful to be able to access these in sass. Could you consider changing the generated sprite object like so:

[code]

The mixin would need to be changed like so:

[code]

That would add the po

[2018-06-06 20:58] robertklein182 commented on #37
These changes should help
[code]

[code]

[code]

I don't know if it makes sense to set the height parameter, because we shouldn't change the ratio of an image. I also had a problem with setting `$newHeight` inside the if-clause.

[2018-06-07 10:47] tungquach opened #40 "SCSS: Namespace prefix xlink for href on use is not defined"
When I include svg in scss file, svg image can not display due to missing `xmlns:xlink="http://www.w3.org/1999/xlink"`

I've already created PR
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/38
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/39

[2018-06-08 09:54] cascornelissen commented on #40
Can you provide the source SVG (sprite) and where exactly are you seeing this error? In a browser/terminal or somewhere else?

Thanks for the PRs!

[2018-06-08 09:59] cascornelissen commented on #37
Thanks for the feature request, sounds like a great thing to add. The only problem I'm seeing is that the solution provided by @galymax (rewriting the `$sprites` variable) would be backwards incompatible.

We could either think of a different setup, maybe involving a separate `$sizes` variable or holding on to this for a `3.x` release which I'm planning either way as I would love to refactor the c

[2018-06-08 10:45] galymax commented on #37
Yeah, I also thought about the backwards compatibility issue, as apparently some people are accessing the sprites directly in their setup. I think a separate sizes variable is fine, as long as the sizes are accessed through the same icon names as the svg data, that wouldn't complicate things.
[code]
The usage in the mixin stays practically the same as in my first example:
[code]

[2018-06-08 11:21] cascornelissen commented on #37
Agreed, if you want you're free to submit a PR, if not I'll take a look at this when I have some more time.

[2018-06-08 11:49] tungquach commented on #40
@cascornelissen
I faced error on browser
https://drive.google.com/a/brodev.com/file/d/1x7-DisstrmNNrWia5GjruCuDhPln94dz/view?usp=drivesdk
https://drive.google.com/a/brodev.com/file/d/1TN-X8EepfDxBIkHbRwptQS1rOBmTJZ9T/view?usp=drivesdk

Here are some resources:
_sprite.scss:
`$sprites: (
    'dashboard': "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e %3cdefs%3e

[2018-06-08 12:59] cascornelissen commented on #40
Thanks for the details @tungquach, as I thought this isn't necessarily a problem with the plugin (well it is, but not the problem you're trying to fix in PR #38 and #39).

**Issue**
You're running into this issue because the `dashboard.svg` sprite you've provided contains a `xlink:href` attribute which comes with a `xmlns:xlink` attribute on the root `svg` element. Your solution would add the `xml

[2018-06-09 17:39] tungquach commented on #40
Thank you for explain, but can we keep `xmlns:xlink` if it exists and svg source contains `xlink:href`?
Otherwise svg background image can not display in web app (at least in my case). Sorry if I misunderstood something.

[2018-06-09 17:40] cascornelissen commented on #40
It would be possible to keep the `xmlns:xlink` namespace when it exists in the source but it shouldn't be required. Do you have a basic example which I can use to reproduce the error?

[2018-06-10 10:40] tungquach commented on #40
[svg_sprites.zip](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/2087721/svg_sprites.zip)
Here is it, Cas!

[2018-06-13 09:49] cascornelissen commented on #31
Version [`2.6.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.6.0) has just been released and published to [npm](https://www.npmjs.com/package/svg-spritemap-webpack-plugin/v/2.6.0) containing this feature, documentation can still be found [here](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/v2.6.0/docs/variables.md). 🚀

[2018-06-13 09:49] #31 closed

[2018-06-13 10:52] freakkiller opened #42 "Enable 'style'-support in version 1.x"
We love your plugin. Thanks for programming. Unfortunately, we can not yet upgrade our projects to the current Webpack version. Therefore we have to use plugin version 1.x, which doesn't yet support the 'style' option.. Is it possible to integrate the style support in this version as well?

[2018-06-13 11:09] cascornelissen commented on #42
I tried implementing it when webpack 4 wasn't out yet but couldn't get it to work without an immense amount of work. I then decided to wait for webpack 4 with its improved plugin system and that made it a lot easier to implement.

I'm not saying it's impossible to do but it will be quite hard to do correctly and I don't have the time (or energy for that matter) for it but everyone is free to submi

[2018-07-15 11:33] cascornelissen commented on #40
Hi @tungquach, sorry for taking so long. I inspected your example but the `dashboard.svg` *does* have the correct `xmlns:xlink` namespace and still doesn't show so I'm either misunderstanding what you mean or you're running into another problem than the one you're describing.

Let me know!

[2018-07-15 13:12] cascornelissen commented on #42
Closing due to inactivity and the fact that I'm not going to pick this up myself.

[2018-07-15 13:12] #42 closed

[2018-07-15 13:13] cascornelissen commented on #37
@galymax, thanks again for the suggestion and PR. This feature has been released in version [`2.7.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v2.7.0). 🚀

[2018-07-15 13:13] #37 closed

[2018-07-26 17:36] #40 closed

[2018-07-30 22:59] andsnak opened #44 "Doesnt work if you set sprite to background image."
If you can set it in background image you must add  to style-formaters/scss this string svg.setAttribute('xmlns:xlink', 'http://www.w3.org/1999/xlink');
 It help me to display svg images on page in latest version Google Chrome and Firefox

[2018-07-31 05:46] cascornelissen commented on #44
Do you have a reproducable test case with this issue? It might be related to #40.

[2018-07-31 12:39] andsnak commented on #44
[](https://developer.mozilla.org/en-US/docs/Web/SVG/Namespaces_Crash_Course
)
Im not sure. Maybe i missunderstand something from this topic.
You can check project "nothing-important" in my repository if you want.

[2018-07-31 12:46] cascornelissen commented on #44
@andsnak, I'm looking for a small project (preferably generated with this specific issue in mind) which I can use to reproduce this problem and hopefully find a fix for it. It would be perfect if you can create a repository with just a `package.json`, `webpack.config.js`, a `.scss` file, and a single sprite to rule out any other unrelated problems.

The thing is that I'm using this plugin includin

[2018-08-09 13:31] cascornelissen commented on #44
@andsnak ping

[2018-08-09 15:43] Sebsemillia opened #47 "Having multiple sprites in scss possible?"
Hi,

I'm trying to get multiple sprites working with scss. The files get generated, but when I import them in my scss file, the last imported one overrules the other ones of course.

[code]

[code]

So my question is, is it possible to target specific sprites in scss?

Maybe like this?
[code]

Thank you very much for this nice plugin! :)

[2018-08-10 07:02] cascornelissen commented on #47
This is not possible at the moment and something I'm hoping to resolve in the next major release [(`3.0.0`)](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/milestone/1) of this plug-in as it requires a rewrite of the options object which will be backwards incompatible.

See https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/35#issuecomment-393495046 for more info

[2018-08-10 07:59] Sebsemillia commented on #47
Thank you very much for your quick reply. Looking forward to your next major release :)

[2018-08-10 08:02] cascornelissen commented on #47
Mind if I leave it open? That'll make the milestone easier to track 😄

[2018-08-22 15:09] cascornelissen commented on #36
@janwidmer, I'm hoping to include this in the upcoming `3.0.0` release. As far as I'm concerned two options need to be added (note that the [options object will be refactored](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/v3/docs/options.md) in this release as well):

1. A new `sprite.generate.view` option (default: `false`) will be added which will generate the [`<view>` ele

[2018-08-23 11:35] janwidmer commented on #36
@cascornelissen sounds good..I guess, as a consequence, there will be two different sprites svg files, one for html usage and one for css usage? Or will it be possible to use the same sprites.svg file because the current viewBox parameter within the sprites.svg file always has 0 for left / top parameters: `viewBox="0 0 20 20"`?

[2018-08-23 11:38] cascornelissen commented on #36
The goal is to generate a single SVG file.

The current `viewBox` you're talking about is the attribute on the root `<svg>` element, right? This new approach would generate `<view>` elements which have their own `viewBox` attribute matching the x/y/width/height of the sprite.

[2018-09-01 14:26] borm opened #48 "[Question]Inject sprite to html after compile?"
Subj

[2018-09-01 14:52] cascornelissen commented on #48
In what way? Are you using something like [`html-webpack-plugin`](https://www.npmjs.com/package/html-webpack-plugin)?

[2018-09-03 06:39] borm commented on #48
yes

[2018-09-03 07:50] cascornelissen commented on #48
The generated spritemap ends up in the webpack assets with a [chunk name](https://github.com/cascornelissen/svg-spritemap-webpack-plugin#chunk--spritemap), this should allow you to target it when using a [custom template](https://github.com/jantimon/html-webpack-plugin/blob/master/docs/template-option.md), see [this example](https://github.com/jantimon/html-webpack-plugin/blob/master/examples/cust

[2018-09-04 06:55] illepic opened #49 "Collision with Bootstrap 4 on $sizes namespace"
The `$sizes` variable in the generated output scss is colliding with the same variable name used by Bootstrap 4.

Is there a way to change variable names or at least scope the variables to a namespaces in a minor release?

[2018-09-05 10:04] borm commented on #48
Don`t understand,
where chunk output
how i should require it

[code]

[2018-09-05 11:16] cascornelissen commented on #48
@borm, read the docs for `html-webpack-plugin`, it's in there, I don't really use it myself so I can't really help you. It's possible to target files or custom options in an `.ejs` file like this:

[code]

It should also be possible to get the source content of a file/asset via the `compile.assets[]` array and the `source()` function:

[code]

[2018-09-05 17:08] borm commented on #48
[code]

[code]

output
[code]

[2018-09-05 17:59] cascornelissen commented on #48
@borm, can you also post the entire webpack output and the output of the following code in the ejs template?

[code]

[2018-09-05 18:04] borm commented on #48
veeeeeery big output

[2018-09-05 18:09] cascornelissen commented on #48
Haha, I would've guessed. You can add it as an attachment if you want to?

[2018-09-05 18:12] borm commented on #48
[r.txt](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/2354051/r.txt)

[2018-09-05 18:13] borm commented on #48
ah, i see "spritemap.svg"

[2018-09-05 18:17] borm commented on #48
as i understood i can use it
```<%= compilation.assets["spritemap.svg"]._value %>```

[2018-09-05 18:28] cascornelissen commented on #48
No idea why it doesn't show up when printing the array but if it works it works, right?

[2018-09-06 06:03] borm commented on #48
yes

[2018-09-06 16:06] janwidmer commented on #36
that would be great. I am talking about the viewbox param, which every symbol in the generated svg file has:

[code]
And if for the css usage a different viewbox is needed (Having the correct top / left value set), it might not work anymore for the html way?

[2018-09-06 17:32] cascornelissen commented on #36
Ah, I think we're talking about different things here:

1. If you want to use sprites in CSS the old way (the entire SVG string in the CSS file) you'll have to enable the `sprite.generate.use` option which will generate the `<use>` elements shown in your codeblock, this is also available in the current `2.x` version of the plug-in.
1. If you want to use sprites like you suggested in this issue (mo

[2018-09-06 18:28] janwidmer commented on #36
ah ok..I updated the zip again and removed two icons which are client specific, please use the new one

[2018-09-06 18:36] janwidmer opened #50 "`viewbox`parameter has wrong value"
The symbols generated by the plugin has a `viewbox` with wrong parameters, see attached file. The top / left values are always 0

[2018-09-06 18:37] janwidmer commented on #36
Issue: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/50

[2018-09-06 18:38] janwidmer commented on #50
[sprites.svg.zip](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/2358331/sprites.svg.zip)

[2018-09-25 15:49] a-am opened #51 "Add display=none to main SVG sprite output"
Is there currently a way to automatically add `display='none'` to the svg sprite?  Otherwise it needs to be added manually.

[2018-09-25 17:33] cascornelissen commented on #51
Hi @a-am, what would be the use case for this feature?

There currently isn't anything that could do this but if there is an interesting use case for such a thing I'm willing to accept a PR/implement it.

[2018-09-25 17:37] a-am commented on #51
@cascornelissen to use the sprite we are including it in the html, however the sprite itself needs to be hidden so it doesn't display all svgs in the document.

[2018-09-25 17:43] cascornelissen commented on #51
Interesting, I feel like that should be done in the project itself (through CSS), as it's quite trivial to add those 3 lines of code, instead of through the plug-in. The generated SVG should probably never have `display: none;` or any other specific styling as it's always possible it will also be included from the external URL as well.

Everyone is welcome to argue with me on this of course ✌️

[2018-09-25 17:46] a-am commented on #51
You may be right.  How do you commonly implement.  Included it at the end of the document and then do.
[code]

[2018-09-25 17:47] cascornelissen commented on #51
I would probably wrap it in a `div` or something with a specific class and target that div as I've ran into issues with directly styling SVGs in older version of Internet Explorer myself.

[2018-09-25 17:50] #51 closed

[2018-10-01 07:54] janwidmer commented on #50
ok, thanks for investigating

[2018-10-01 16:19] cascornelissen commented on #35
@janwidmer, this has been added in the `3.x` release which is currently a Release Candidate, you can install this version using:

[code]

The original issue you reported should be fixable by using the following options, the rest of your configuration might need some restructuring for this version as well so be sure to check the new [documentation on options](https://github.com/cascornelissen/svg-s

[2018-10-01 16:30] cascornelissen commented on #47
@Sebsemillia, this has been added in the `3.x` release which is currently a Release Candidate, you can install this version using:

[code]

The original issue you reported should be fixable by using the following options, the rest of your configuration might need some restructuring for this version as well so be sure to check the new [documentation on options](https://github.com/cascornelissen/svg

[2018-10-01 16:32] cascornelissen commented on #49
@illepic, this has been added in the `3.x` release which is currently a Release Candidate, you can install this version using:

[code]

The original issue you reported should be fixable by using the following options, the rest of your configuration might need some restructuring for this version as well so be sure to check the new [documentation on options](https://github.com/cascornelissen/svg-spr

[2018-10-02 08:07] smollweide opened #52 "sprite mixin don't work with color option"
Hi @cascornelissen,

fist of all thanks a lot for these plugin 🎉

I just tried out the new feature which allows you to define a color for the sprite mixin:

[code]
But it don't work for me.
I tested it with version `2.7.1` and `3.0.0-rc.2`.

Thanks in advance

[2018-10-02 08:08] cascornelissen commented on #52
Could you also include the `close` SVG?

[2018-10-03 02:44] illepic commented on #49
Dropped right in with no problems: https://github.com/phase2/particle/pull/400/files

[2018-10-03 02:44] #49 closed

[2018-10-03 06:28] cascornelissen commented on #49
Awesome, thanks for the update! 🎉

[2018-10-03 15:08] janwidmer commented on #36
@cascornelissen cool thanks, we will try it out in the next few days and give you feedback.

[2018-10-04 20:47] redandblackstar opened #53 "[contenthash] & [hash] doesn't seem to work with 'styles' option"
When also generating a CSS file [contenthash] & [hash] doesn't seem to work!

[code]

- i have tried it with both 3.0.0-rc.2 and 2.7.1 and they both generate the file but do not add [contenthash] & [hash]...for example they just output a file like this -> my-css-[hash].css (with the literal [hash] text)

- [contenthash] & [hash] works OK when using it for the SVG option
[code]

[2018-10-05 07:44] cascornelissen commented on #53
@redandblackstar, thanks for the report; I'll look into this when I have the time and I'll make sure it gets fixed before the first stable `3.0.0` version. If you have the time to look into it, you're free to submit a PR of course.

[2018-10-05 09:09] smollweide commented on #52
Hi @cascornelissen,
sorry I cannot.
But it's good hint I will try it with one of your icons, so maybe the problem is related to the SVG icon itself.

[2018-10-05 09:10] cascornelissen commented on #52
I can't do much without an SVG... I'm thinking something is wrong in there, specifically in the variable notation: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/variables.md#examples

[2018-10-05 13:57] janwidmer commented on #36
@cascornelissen I just tried 3.0.0-rc.2 with the following config:

[code]
That generates the attached file:
[sprites.svg.zip](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/2450547/sprites.svg.zip) which seems to be correct from what I can see.

The "Use" Option works as it did before, the "View" Option with the new fragment solution renders an empty background url `backgrou

[2018-10-05 14:03] cascornelissen commented on #36
Not sure and not in a position to check right now but I think if you add `sprite.generate.use` with value `true` it should work correctly? It should also show a warning in the Webpack output about this configuration mismatch as well.

[2018-10-05 14:21] janwidmer commented on #36
there is no warning in the console, so I assume the config is correct then..background url is still empty.. i will investigate further..if you have inputs at some point (not right now ;-)) that would be great..

[2018-10-05 14:44] cascornelissen commented on #36
You're right about there not being a warning, the default value for `sprite.generate.use` is still `true` in `3.0.0-rc.2` (which will change to `false` in `3.0.0-rc.3`).

The SVG you've attached seems to be correct as well and I just tried replacing the [SCSS example](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/v3.0.0-rc.2/examples/scss) with the configuration you've provid

[2018-10-05 14:59] janwidmer commented on #36
it seems, that something with the parameter `sprite.generate.view` might be wrong. I am setting this parameter to `-view`.

That correctly generates the svg like `<view id="action-add-view" viewBox="0 0 21 21"/>` but in the generated scss map, I have the following entry `'action-add': "/etc/designs/slevo/clientlibs/assets/sprites.svg#action-add",` which seems to miss the suffix part from the confi

[2018-10-05 15:54] janwidmer commented on #36
Something with the prefixes is definitely weird or I am understanding it wrong.

Case 1:
Config:
[code]
If I understood it correctly, the above config should both generate symbol tags, use tags and view tags and additionally, the view tag should have the suffix `-view` to be used within css by fragment identifier?

The generated scss sprite map contains
`'action-add': "/sprites.svg#action-add",`

[2018-10-05 16:12] cascornelissen commented on #36
@janwidmer, thanks for the detailed report. Everything you said is correct and I'll test these use cases specifically tonight, seems like something is wrong in the postfix like you noticed.

Just to be sure, the config excerpts you posted in your comment, these these also included the `styles.format: 'fragment'` option, right?

[2018-10-05 16:28] janwidmer commented on #36
yep they do, in my above comment you can see the full config (https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/36#issuecomment-427375008)

[2018-10-05 17:03] cascornelissen commented on #36
@janwidmer, got the time to look into this and I think I've fixed it in `master`, could you install directly from GitHub and check again?

[code]

Thanks in advance!

[2018-10-05 18:00] cascornelissen commented on #53
@redandblackstar, thanks once more for the bug report. I've fixed this in `master`, could you install directly from GitHub and check if this solves the issue on your side as well?

[code]

Thanks in advance!

[2018-10-06 09:56] janwidmer commented on #36
cool thanks I will try it on monday

[2018-10-08 06:36] janwidmer commented on #36
@cascornelissen just tried it out with the current version from github. The ID generation now works correctly and I get to see some svg content when I apply it via css. But there seems to be something wrong with the generated numbers of the viewbox:

Here is the svg content for the checkbox icon:

[code]

- The icon has the dimension 14 x 14 px
- The `y` parameter on the use tag shows 168
- The `y

[2018-10-08 08:30] cascornelissen commented on #36
@janwidmer, the offsets being off by 1px are probably caused by the fact that [`sprite.gutter`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#spritegutter--2) defaults to `2` and these are included in the calculations.

That would probably also explain the offset in the `use` tag, although I can't find a `symbol` with id `checkbox` in the zip you've att

[2018-10-08 18:10] janwidmer commented on #36
@cascornelissen setting the gutter to 0 removes the "weird" offset, but the viewbox of the checkbox icon is still wrong: `<view id="checkbox-view" viewBox="0 152 14 166"/>`. The fourth value should be also 14px (height of the icon) and not the addition of the Y value and the icon height.. (See this article https://css-tricks.com/svg-fragment-identifiers-work/)

You can see the symbol with the id c

[2018-10-08 18:20] cascornelissen commented on #36
Ahh, I finally get what you mean and you're right, sorry for the confusion. Will fix this ASAP!

[2018-10-10 21:17] redandblackstar commented on #53
Amazing! I will check this soon! THANK YOU!

[2018-10-12 11:34] mfc3370 opened #54 "Documentation is incompatible with current version: 2.7.1"
The documentation referenced on READ.md `https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md` is for the next (versions 3.xxx). Can you please make this clear in the documentation? It's otherwise very confusing.

Thanks.

[2018-10-12 12:37] cascornelissen commented on #54
Good point. Will add a note about this ASAP. Sorry for any confusion this may have caused!

[2018-10-12 12:48] cascornelissen commented on #52
ping @smollweide?

[2018-10-12 12:51] cascornelissen commented on #54
@mfc3370,  added in d4e541c, that should clear things up. Thanks again for the feedback 😄

[2018-10-12 12:51] #54 closed

[2018-10-12 21:30] redandblackstar commented on #53
I requested master (I am using yarn) and it gives me choices on what to choose:

❯ 3.0.0-rc.2
  3.0.0-rc.1
  2.7.1
  2.7.0

I tried both 3.0.0-rc.2 &  3.0.0-rc.1  but they do not work for me. I also just tried looking at the commit you made i believe its only in one file inside the lib folder (index.js). I manually applied this change just to test on my node modules folder but it still doesnt work

[2018-10-13 08:33] cascornelissen commented on #53
Ah, I finally noticed what's going on. You're using the asset notation (first bullet in the [`styles.filename` documentation](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#stylesfilename--spritescss)) which adds the styles file as a webpack asset and webpack should replace the strings with the hashes. I'll have to look into what's going wrong in this ve

[2018-10-16 17:01] redandblackstar commented on #53
Thank you for the reply!

Ill try it out once there is an update and ill look into submitting more detail for the other issue related to the "Webpack Manifest Plugin"

[2018-10-30 13:21] cascornelissen commented on #52
I'm closing this issue due to inactivity, if anyone runs into a similar issue feel free to comment on this one or create a new one.

[2018-10-30 13:21] #52 closed

[2018-11-01 12:33] cascornelissen commented on #53
@redandblackstar, could you test this with the current `master` release? I can't seem to reproduce your problem using any of the following configurations (both hashes get added correctly).

[code]
[code]

[2018-11-01 12:34] cascornelissen commented on #47
ping @Sebsemillia

[2018-11-01 12:46] cascornelissen commented on #35
ping @janwidmer

[2018-11-01 14:38] cascornelissen commented on #36
@janwidmer, finally found some time to dig into this and it should be fixed in the [`3.0.0-rc.3`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.0.0-rc.3) release. Could you check it out and report back?

[2018-11-08 09:03] cascornelissen commented on #53
ping @redandblackstar

[2018-11-08 09:03] cascornelissen commented on #36
ping @janwidmer

[2018-11-08 10:30] janwidmer commented on #36
ok il try to test it today then

[2018-11-08 15:17] janwidmer commented on #36
@cascornelissen perfect, now it works. thanks for the quick support.

[2018-11-08 15:22] cascornelissen commented on #36
Awesome, thanks for the update. Any chance you can verify the fix for #35 as well?

[2018-11-08 15:22] #36 closed

[2018-11-08 15:49] janwidmer commented on #35
ok that also works..the remaining question now is, if the mixin name should also be adjusted..or if there should be a config parameter for that also..? :-) Because the mixin name currently still stays sprite()

[2018-11-08 15:51] cascornelissen commented on #35
[Way ahead of you!](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#stylesvariablesmixin--sprite)

[2018-11-08 15:54] janwidmer commented on #35
haha nice one, didn't see that.. :-D also works perfectly

[2018-11-08 15:54] cascornelissen commented on #35
Awesome, great to hear!

[2018-11-08 15:54] #35 closed

[2018-11-10 09:33] cascornelissen commented on #47
Just verified this should still work as described in https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/47#issuecomment-425973238, I'm closing the issue as I want to finish the milestone and release `3.0.0`.

[2018-11-10 09:33] #47 closed

[2018-11-10 09:34] cascornelissen commented on #53
Just verified I still can't reproduce this on `master`, I'm closing the issue as I want to finish the milestone and release `3.0.0`.

[2018-11-10 09:34] #53 closed

[2018-11-16 15:13] groomain commented on #53
Hi,

With the 3.0.0 version my manifest json look like this

"build/svg/icons.59cf10a6f7abb6fad7fd.svg": "/build/svg/icons.59cf10a6f7abb6fad7fd.svg"

any ideas why ?
my config :
new SvgStorePlugin("svg/**/*.svg", {
      output: {
        chunk: { name: "svg/icons" },
        filename: "svg/icons.[hash].svg",
        svgo: true
      },
      sprite: {
        prefix: "icon-",
      }
    })

Than

[2018-11-17 09:16] cascornelissen commented on #53
@groomain, this seems to be unrelated to the original issue. Would you mind creating a new issue and providing a little more information (Webpack version, what you expect to happen, did it work in the `2.x` release, etc.)

[2018-11-19 08:37] groomain opened #55 "Wrong hash name with 3.0"
Hi,

Webpack 4.20
with Symfony encore
It's working very well with the 2.7.1 version

With the 3.0.0 version my manifest json look like this

"build/svg/icons.59cf10a6f7abb6fad7fd.svg": "/build/svg/icons.59cf10a6f7abb6fad7fd.svg"

any ideas why ?
my config :
[code]
Thanks !

[2018-11-19 09:06] cascornelissen commented on #55
Can you provide the manifest.json when using the 2.7.1 release?

[2018-11-21 16:56] stasgavrylov opened #56 "Add support for SVG fragments in CSS"
Hi, first of all thanks for the great plugin, working with SVG icons is much easier with it.

Today, I've decided to try to use generated sprite in CSS background property.
This technique is supported in most modern browsers, and you can see an example here –
http://jsfiddle.net/simurai/7GCGr/

Unfortunately, it seems that the current generated sprite output (specifically, `<symbol>` element) does

[2018-11-22 16:16] cascornelissen commented on #56
Hi @stasgavrylov, thanks for the detailed explanation! I’m currently travelling so I’m not in a postition to give a detailed comment but to quickly answer the points you make:

1. There’s currently no way to create a root `style` element, no. This could be specified in your regular CSS, no?
1. I’ll have to look into the width/height attributes on the `use` element, you’re free to clone, modify, te

[2018-11-23 15:02] pfeiferbit commented on #55
Related:

I'm using assets-webpack-plugin to create an assets.json with similar content to the manifest.json. On 2.7.1 we had a JSON structure like this:

    {
      "spritemap": {
        "svg": "/assets/23aea690d701d154-spritemap.svg"
      }
    }

with `"spritemap"` originating from the old `filename` option.

With 3.0.0 we have:

    {
      "": {
        "svg": "/assets/23aea690d701d154-spr

[2018-11-23 15:37] cascornelissen commented on #55
Ah, thanks for the details. I’ll have to look into this when I’m back from travelling in a week. If you’re able to find a fix for this yourself a PR is always welcome! ✌🏼

[2018-11-25 19:31] stasgavrylov commented on #56
Unfortunately, CSS styles do not affect shadow-dom elements created when using SVG fragments, so it has to be inside `style` tag in the `svg` itself.
Tbh, I actually forgot to dig deeper. I hope I'll have time this week.

[2018-11-27 20:28] ZebraFlesh opened #57 "SVGO not merging paths"
I have a particular SVG that I know should be optimized by SVGO (because I can manually run it through SVGO and see a path deeply nested within transform groups get optimized into a single top level path).  Here's the plugin config I'm using:

[code]

I've also tried various forms for svgo options such as:
[code]
and
[code]

Input SVG:
[code]

Expected output (generated by manually running svgo fr

[2018-11-28 06:16] cascornelissen commented on #57
Just to be sure, what version of the plug-in are you using?

[2018-11-28 12:41] ZebraFlesh commented on #57
Sorry, should have mentioned:
svg-spritemap-webpack-plugin: 3.0.0
webpack: 4.26.1
OS: Windows 10

[2018-11-30 15:13] cascornelissen commented on #57
Thanks! I'm hoping to look into this in a few days ✌️  If you're willing to dig in yourself, you're of course free to submit a PR.

[2018-12-02 17:15] cascornelissen commented on #57
@ZebraFlesh, took some digging but I found out what's causing the issue. Each `<g>` in your example SVG has an `id` attribute and the `cleanupIDs` plugin from SVGO was [always disabled](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#outputsvgo--true) (because it's required in these kinds of SVG spritemap setups).

I've made some changes that results in e

[2018-12-03 08:08] cascornelissen commented on #56
I just re-read issue #36 again (which is about using SVG fragments from CSS as well), the solution we ended up using over there was to generate both a `symbol`, a `use`, and [a `view` element](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#spritegenerateview---false). The `view` element is added with just a `viewBox` and no `width`/`height` attributes, s

[2018-12-03 19:53] ZebraFlesh commented on #57
Thanks, looks like that fixes it!

[2018-12-03 21:06] cascornelissen commented on #55
@pfeiferbit, can't really find what's causing this. Are you able to post your entire webpack (terminal) output?

[2018-12-07 19:39] cascornelissen commented on #56
Ping @stasgavrylov

[2018-12-07 19:41] stasgavrylov commented on #56
I am sorry, I can't check this right now, but I will on Monday, and I'll get to you.

[2018-12-07 19:41] cascornelissen commented on #56
No problem at all 😄  Thanks for the update!

[2018-12-07 20:26] #57 closed, assigned to nobody

[2018-12-07 22:29] ZebraFlesh opened #58 "Exception from 3.0.1"
After upgrading to 3.0.1 (from 3.0.0#master), I'm seeing the following error. Commenting out the svg-spritemap-webpack-plugin usage eliminates it, so it looks like it's the new version. :( The following stack trace backs that up.

node: 10.13.0
webpack: 4.27.1
svg-spritemap-webpack-plugin: 3.0.1
os: windows 10

[code]

[2018-12-08 10:09] cascornelissen commented on #58
Thanks for the issue, I'll start looking into this! For now please downgrade to `3.0.0`.

[2018-12-08 10:30] cascornelissen commented on #58
@ZebraFlesh, this should be fixed in [`3.0.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.0.2), thanks again for reporting!

[2018-12-08 10:30] #58 closed

[2018-12-08 22:35] ZebraFlesh commented on #58
Thanks for the quick turn around!

[2018-12-11 15:49] pfeiferbit commented on #55
Tank you a lot, the SVG now correctly shows up as part of the `spritemap` chunk in the generated `assets.json`. Sorry, I haven't logged into GitHub the last few days. Though I have tried fixing it myself but since this is actually the first project where I use Webpack I don't have enough knowledge yet.

[2018-12-11 16:44] stasgavrylov commented on #56
@cascornelissen finally managed to test your approach.
Thank you, fragments work great! I'm closing the issue.

[2018-12-11 16:44] #56 closed

[2018-12-11 20:23] cascornelissen commented on #55
@pfeiferbit, no problem at all, glad it’s fixed on your end as well 🎉

[2019-01-19 11:30] roelofr opened #62 "SVGs with missing width, height and viewbox cause errors"
If you try to add an SVG file without a `width`, `height` and `viewBox` element, the script returns an error exactly where it should report the missing file.

The `file` variable is used in a previous Promise function, but is no longer available (since the code has gone to a new `then` node).

I might write a PR for this, but don't have the time right now.

https://github.com/cascornelissen/svg-sp

[2019-01-19 11:36] cascornelissen commented on #62
Thanks for the issue, looks like I broke something while refactoring... It's been fixed in master, could you test it by installing the current master branch and let me know if it's resolved? Then I'll release a patch version with the fix ASAP.

[code]

[2019-01-21 07:02] cascornelissen commented on #62
ping @roelofr

[2019-01-28 14:17] roelofr commented on #62
Sorry @cascornelissen for the delay, the project I was using it in had taken a sharp turn when I spent too much time figuring this out.

I re-tried it in a different project (@gumbo-millennium/) and added this invalid SVG:

[code]

The result looks promising:

[code]

[2019-01-28 19:43] cascornelissen commented on #62
No problem at all, thanks for the feedback. The fix has been released as part of [`3.2.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.2.1).

[2019-01-28 19:43] #62 closed

[2019-02-13 22:55] jedybeavis opened #63 "Laravel Mix Error: ValidationError: "src" is not allowed."
**─┬ laravel-mix@4.0.14
  └── webpack@4.29.3**

[code]

**Error: ValidationError: "src" is not allowed. "filename" is not allowed. "prefix" is not allowed. "svg4everybody" is not allowed. "svgo" is not allowed**

[2019-02-14 07:52] cascornelissen commented on #63
Looks like you're using the old configuration setup with version `^3.0.0`, in which the configuration object was overhauled?

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.0.0
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/v3.0.0/docs/options.md

[2019-02-14 13:21] jedybeavis commented on #63
Thanks!

[2019-02-14 13:21] #63 closed

[2019-02-15 13:52] jedybeavis opened #64 "SVGO options not worked"
**"svg-spritemap-webpack-plugin": "^3.2.1",**

[code]

[2019-02-15 13:54] cascornelissen commented on #64
Probably because that's not how `svgo` takes options:

https://github.com/svg/svgo/blob/ee065be5a88c85b976db601c13eb6e55650a7d68/examples/test.js#L7

[2019-02-15 14:06] jedybeavis commented on #64
Thanks!

[2019-02-15 14:06] #64 closed

[2019-02-25 15:02] ChristianStornowski opened #65 "sprite mixin is not compatible with dart-sass"
Changing webpack.config.js in examples variables for dart-sass and running `../../node_modules/.bin/webpack` will result into an error.

### Error:

[code]

### git diff:

[code]

### node packages installation:

`npm install mini-css-extract-plugin css-loader style-loader sass-loader sass fibers less-loader less html-webpack-plugin webpack-dev-server --no-save`

[2019-02-25 15:13] cascornelissen commented on #65
Thanks for the issue, I'm quite busy the coming few weeks... Are you able to debug this a little by putting some [`@debug` directives](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#debug) with multiple values and figuring out which function expects a string and why this isn't a string?

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/02a700b6240eb7c9a43710aaf186de

[2019-02-25 15:42] ChristianStornowski commented on #65
I only found a documentation from jetbrains `sass_functions.scss`

[code]

`quote` needs a string. node-sass has no problem with your plugin but dart-sass excepts a string.

For now I don't have more information.

[2019-02-26 09:01] cascornelissen commented on #65
Fixed in #66

[2019-02-26 09:01] #65 closed

[2019-02-26 17:36] arubacao commented on #63
@jedybeavis could you share an updated configuration?
`mix.version()` doesn't get along with this package.
`Error: ENOENT: no such file or directory, open 'xyz\spritemap.js'`

[2019-03-07 17:11] danew opened #67 "Sprite prefix option to allow a function"
Currently this plugin supports using globs to select SVGs from nested folder structures, which is awesome!
It would be great to allow the `sprite.prefix` option to accept a function which can take the glob as an argument and produce a dynamic prefix, which would be helpful for nested folder structures.

Example assets:
[code]
Glob transformer
[code]
Options:
[code]
Produces:
[code]

[2019-03-07 17:57] cascornelissen commented on #67
Sounds like what’s been started on in #61, right? You’re free to work on that further, I’m really busy the next couple of weeks unfortunately.

[2019-03-07 18:05] danew commented on #67
Completely.
Sorry for the duplicate ticket, I obviously didn't look hard enough for it.

[2019-03-07 18:05] #67 closed

[2019-03-29 09:08] gabolecointere commented on #13
Hello @cascornelissen relateted to this! IF I have SVGs grouped into folders for each page and I want to create one Sprite for each page, u recommend to do it with multiple separate instances?

I guess that's the way to go, thanks in advance

[2019-03-29 09:28] cascornelissen commented on #13
Yeah, if you want to create separate spritemaps then multiple instances would be the way to go 😉

[2019-03-29 16:24] gabolecointere commented on #13
@cascornelissen hey sorry, another questions, how can I make the Id value the same as the svg element that gets into the sprite?

Right now I have flags and I would like to use them by the locale like en, es, fr for the IDs, and the plugin assigns numbers to the Sprites. Do you have an advice about this? I'm in 1.2.0 because my webpack version is not the last one

[2019-03-29 16:25] gabolecointere commented on #13
Just providing more info: The files that are in the folder, have the locale name like en.svg es.svg etc and I would like to preserve it for the IDs

[2019-03-30 15:48] danew commented on #13
By default the id is the svg files name, if you want to have separate sprites per locale you can use the prefix similar to what I've done [here](https://github.com/danew/hashed-svg-spritesheet/blob/master/webpack.config.js#L6), this way you can have a directory per locale.

[2019-03-31 07:56] cascornelissen commented on #13
@gabolecointere, I'm afraid you'll have to update to the latest major version for this.

[2019-04-01 11:49] gabolecointere commented on #13
I just upgraded and I have two issues: npm run dev and watch produces the build but npm run prod returns an issue like: Unknown Word

When the build runs with npm run dev, my sprites.svg file it's empty :( This is my webpack config:

`plugins: [
        new CopyWebpackPlugin([{
            from: 'resources/assets/img',
            to: 'img', // Laravel mix will place this in 'public/img'
        }

[2019-04-01 12:14] cascornelissen commented on #13
@gabolecointere, can you create a new (well-formatted) issue with a minimal test case that fails for you?

[2019-04-08 08:24] DreadBoy opened #68 "Google Play badge doesn't work with this plugin"
Repro case: https://github.com/DreadBoy/svg-spritemap-webpack-plugin/commit/f8f0a1161534c709337a1b3fb01414884dd27415

Badge was downloaded from https://commons.wikimedia.org/wiki/File:Get_it_on_Google_play.svg

Repro steps:
1. pull my fork and build simple example
2. run `http-server` (or anything similar) in example's root
3. open index.html

I don't see gradients in Play's logo because they were

[2019-04-10 08:41] cascornelissen commented on #68
Just checked your repro case, the gradients do end up in the spritemap so that's not where it's going wrong... The problem is that the entire `<defs>` element (which holds the `<linearGradient>` definitions) gets stripped when loading the SVG via a `<use>` element, which matches with [the specification](https://www.w3.org/TR/SVG11/struct.html#SymbolElement).

A solution would be to load the `svg4e

[2019-04-10 08:41] #68 closed

[2019-04-16 21:09] christopher-j-liotta-accenture opened #69 "All output paths have the same ID"
All paths in my output have id="a". When using the sprite map in chrome, each symbol uses the first found path with id="a", instead od the closest id="a". This causes all svg's to use the same path.

[2019-04-16 21:20] christopher-j-liotta-accenture commented on #69
Sprite Input:

`<?xml version="1.0" encoding="UTF-8"?>
<svg width="18px" height="16px" viewBox="0 0 18 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <title>heart</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M19.8980851,15.9900007 L21.4468317,14.4412541 C22.7994006,13.0886852 22.7994006,10.8957378 21.4468317,9.5431

[2019-04-16 21:21] christopher-j-liotta-accenture commented on #69
I'm pretty sure this issue is cause since these sprites coming out of sketch use <use> tags which is abnormal

[2019-04-17 06:06] cascornelissen commented on #69
Seems like SVGO is doing this, I've just pasted the sprite input into the [online version of SVGO](https://jakearchibald.github.io/svgomg/) and I get the following output.

[code]

I'm not quite sure how this is a problem though, could you explain that with a some more details?

[2019-04-19 08:37] cascornelissen commented on #69
ping @christopher-j-liotta-accenture

[2019-04-19 14:10] christopher-j-liotta-accenture commented on #69
So it seems like if all the paths in your output spritemap are <path id="a"/> and your symbols have <use href="#a"/>, each symbol uses the first found path in the sheet. This leads to all outputed icons using the same path.

I got around it by cleaning up my source icons and removing their <use/> tags as they were very unnecessary (sketch exports aren't the cleanest).

But it would be nice to enfo

[2019-04-19 14:18] cascornelissen commented on #69
Ah, I get the problem now...

This isn't something that could easily be fixed programmatically though... And if it even could be done it would make more sense for it to be solved in something like [SVGO](https://github.com/svg/svgo).

The easiest way is what you did, manually cleaning the sprite before even passing it to the plugin.

[2019-04-19 14:18] #69 closed

[2019-04-25 23:00] illepic opened #71 "Warning about "Variables are not supported when using CSS" when not using variables"
Config of:

[code]

results in command line output of:

[code]

[2019-04-25 23:16] illepic opened #72 "Reference spritemap.svg fragment directly from css?"
This may likely be a Webpack question, but:

How would we reference a fragment of the spritemap directly in any CSS file? ie

[code]

[2019-04-26 07:32] cascornelissen commented on #71
Do any of your sprites contain the [custom variable notation](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/variables.md) that this plugin supports? That (in combination withe the `styles.filename` option endinng in `.css` would throw this warning.

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/0716f25d71f11f4d988544d515d0357bca2cedbf/lib/ind

[2019-04-26 07:46] cascornelissen commented on #72
You'll have to set the [`sprite.generate.view`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#spritegenerateview---false) option to `true`. I'm not quite sure if all browsers support this way of loading sprites (fragment identifiers in combination with the `content` property).

Note that the [`styles.format`](https://github.com/cascornelissen/svg-sprite

[2019-04-26 16:20] illepic commented on #71
There it is! Thank you!

We're converting from Sass to PostCSS and experimenting with icon approaches in pure PostCSS. Really want to still leverage svg-spritemap-webpack-plugin, if possible!

[2019-04-26 16:20] #71 closed

[2019-04-29 09:06] nikkijd opened #73 "Please add support for .pcss"

[2019-04-29 10:20] cascornelissen commented on #73
I'm not exactly sure what you're looking for? You're always free to submit a PR, if you're talking about adding an additional supported extension for the [`styles.filename` option](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#stylesfilename--spritescss) a good place to start would be https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/m

[2019-05-17 23:02] Croccifixio opened #75 "Error after upgrading to v3.3.1"
After upgrading to v3.3.1, the plugin throws the following error when building with webpack:

[code]

I have created a [repo](https://github.com/Croccifixio/svg-spritemap-webpack-plugin-issue) where the error can be reproduced. The following webpack config is used:

[code]

Downgrading to v3.3.0 causes the build to proceed without any errors.

---

Windows version: 10.0.17763 Build 17763
Node vers

[2019-05-18 06:45] cascornelissen commented on #75
Thank for creating the issue, this is related to #74 and the current workaround is to make sure you use `path.resolve` around the first argument. So `path.resolve('icons/*.svg')` in your case.

[2019-05-22 13:50] litinskii opened #76 "Proposal: Write to disk .svg sprite"
Add some kind of options like `alwaysWriteToDisk` to generated output of svg-sprite to disk. This is very useful if you want to pick up the output with another middleware.

[2019-05-23 08:24] cascornelissen commented on #76
Sounds like a valid use-case to me. I currently don't have much time to implement new features but anyone is free to submit a PR of course. I'd prefer the option to be available under `output.alwaysWriteToDisk` then.

I do have a couple of questions, though:

1. Where would the file be written to? Will this always be the webpack output directory or should it be possible to specify a path (and in t

[2019-05-23 10:06] cascornelissen commented on #75
@Croccifixio, a fix for this bug has been released in version [`3.3.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.2) 🚀

[2019-05-23 10:06] #75 closed

[2019-05-23 11:11] litinskii commented on #76
I'm not sure, but it could be like `html-webpack-harddisk-plugin`, that work together  `html-webpack-plugin` (like an extension plugin for the webpack plugin html-webpack-plugin), so in this case it will be `svg-spritemap-webpack-harddisk-plugin` or something like this, where we could specify options like `outputPath`

about 1, I think it should be work like this,  `outputPath || compilation.compi

[2019-05-23 12:32] cascornelissen commented on #76
Sounds clear to me, and as I said; a PR is always welcome 😄

[2019-05-26 00:07] maltheism opened #77 "TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object"
Hi, svg-spritemap-webpack-plugin version 3.3.2 isn't working for me compared to the older version. I've tried without path.resolve and same error as well.

My configurations:
[code]

Output of npm run compile:
[code]

[2019-05-26 07:14] cascornelissen commented on #77
Thanks for the report, I’ll look into this later today. Are you able to debug it a little by placing some `console.log`s in `node_modules/svg-spritemap-webpack-plugin/lib/options-formatter.js`?

[2019-05-26 14:20] maltheism commented on #77
Thank you @cascornelissen for the help.

TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type string. Received type object.

That points me to failing on line 19 `pattern = path.normalize(pattern);` because pattern is an array of strings (multiple paths ex 'public/images/app/icons/app/*.svg', 'public/images/app/icons/other/*.svg', ...) and not a singular string.

Everything succee

[2019-05-26 14:52] cascornelissen commented on #77
Ah, that seems obvious and so stupid I missed that (and no tests failed), will fix ASAP.

[2019-05-26 16:47] cascornelissen commented on #77
@maltheism, I've just pushed a fix to master. Could you check if that works for you?

[code]

[2019-05-26 17:17] maltheism commented on #77
@cascornelissen, the fix works! :)

[2019-05-26 18:55] cascornelissen commented on #77
@maltheism, a fix for this bug has been released in version [`3.3.3`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.3) 🚀

[2019-05-26 18:55] #77 closed

[2019-05-28 11:10] equinusocio commented on #69
@cascornelissen I have the same issue even running SVG cli before starting webpack. The output sprite contains all the svg with the same ID, can you reopen this?

[2019-05-28 17:12] cascornelissen commented on #69
@equinusocio, why exactly are you running SVGO cli on the sprites before webpack parses them instead of using the [`output.svgo` option](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#outputsvgo--true)?

As I've stated before, I don't see a way to solve this programmatically (and I still feel like this isn't something the plugin should handle per se) but

[2019-05-28 17:23] equinusocio commented on #69
It was just a try. Anyway thank you, actually i can confirm that the svg source was the problem, but generated through abstract inspector, not sketch.

[2019-05-29 09:01] equinusocio commented on #69
I can confirm the problem is the Sketch/Abstract svg export. With figma same icons are working. THe issue is generated by the icons id and the `<use>` tag. I opened a ticket to Abstract (https://twitter.com/equinusocio/status/1133659116956782593?s=20)

[2019-05-29 13:20] Shne opened #78 "package joi is deprecated, use @hapi/joi instead"
Looking at the dependencies at https://www.npmjs.com/package/svg-spritemap-webpack-plugin I clicked the joi link to https://www.npmjs.com/package/joi and found a disclaimer at the top saying
`This module has moved and is now available at @hapi/joi. Please update your dependencies as this version is no longer maintained an may contain bugs and security issues.`

So i'm guessing the line https://git

[2019-05-30 09:13] #72 closed

[2019-05-30 09:13] #73 closed

[2019-05-30 17:06] cascornelissen commented on #78
Thanks for the heads-up, I totally missed this the last time I updated the dependencies... I've changed `joi` to `@hapi/joi` and released version [`3.3.4`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.4) 🚀

[2019-05-30 17:06] #78 closed

[2019-06-14 13:38] ahmedfaical commented on #76
+1 any news ?

[2019-06-14 17:46] schellenbergk commented on #63
Same here, `Error: ENOENT: no such file or directory, open 'xyz\spritemap.js'`

[2019-06-27 10:33] borm commented on #48
Up, how get it in version `3.3.5`

[code]

`<%= JSON.stringify(compilation.assets["dist/sprite.svg"], 0, 2) %>`
`<%= JSON.stringify(compilation.assets["spritemap.svg"], 0, 2) %>`
`<%= JSON.stringify(compilation.assets["spritemap"], 0, 2) %>`
Nothing printed

[2019-06-27 11:28] cascornelissen commented on #48
@borm, can you confirm that it works with `3.4.4`? It might be related to changes made in #79.

[2019-06-28 14:11] vladislav-netkata opened #80 "Gradient as default color not working"
Hi. I found 1 bug where I want to use "linearGradient" as default color. I have an icon:
[instagram.txt](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/3339522/instagram.txt)
_Change .txt to .svg, because GitHub not accepted svg file type._

When I tried to use LinearGradient as default color like that: `var:outer.fill="url(#a)"` I propose this will changed to `fill="url(#a)"

[2019-06-30 19:10] cascornelissen commented on #80
It looks like the variable setup is working correctly as the `var:outer.fill="url(#a)"` gets transformed into `fill="___outer___"` and `__outer__` has a (default) value of `'url(#a)'` in the `$variables` list.

Could you provide the entire plugin configuration object?  I'm guessing SVGO is stripping the `LinearGradient`s when they're not getting used so you could try and disable it by setting [`ou

[2019-07-01 09:52] vladislav-netkata commented on #80
Yep. Disabling SVGO optimization solve the problem.

[2019-07-01 10:03] #80 closed

[2019-07-08 17:11] Maiquu opened #81 "Failing to clean dummy-chunk on some occasions"
Using `webpack 4.x`, `svg-spritemap-webpack-plugin 3.3.5`, Webpack configuration is something like this:
[code]
If I define `output.filename` as a string without any placeholders, dummy module's chunk uses that string as a postfix to define its filename. This causes the internal check to remove the dummy chunk fail.
[code]
It can be easily fixed if you define a `output.filename` with placeholders

[2019-07-08 17:14] cascornelissen commented on #81
@Maiquu, I'm not 100% sure what you're trying to say and I think this is caused by the fact that both the main webpack object and the plugin options take an `output.filename`... Could you clear that up a bit?

[2019-07-09 06:57] Maiquu commented on #81
The `output.filename` I mentioned above is from the main webpack object.

[2019-07-09 20:10] cascornelissen commented on #81
Ah, I get it now and it should be fixed in `master`, in 8f4090e96 specifically. Could you try installing it directly from there and reporting if that fixes it for you?

[code]

[2019-07-10 08:05] Maiquu commented on #81
Yep, no issues spotted. Thanks for your quick response.

[2019-07-10 08:52] cascornelissen commented on #81
Thanks for your quick response as well! I'll leave the issue open until I release a new patch version containing the fix ✌️

[2019-07-11 17:14] cascornelissen commented on #81
@Maiquu, a fix for this issue has been released in version [`3.3.6`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.6) 🚀

[2019-07-11 17:14] #81 closed

[2019-07-12 15:02] #76 closed

[2019-07-12 22:17] endbay opened #82 "Wrong hash after updating to 3.3.6"
Hi,

`3.3.6` breaks something for me.
[code]

I'm using this configuration.. this was working till version `3.3.5`, but `3.3.6` break this. The Hash is not the right one anymore.

I'm loading the sprite svg with variable `__webpack_hash__`, but this hash does not match anymore in `3.3.6`.

[2019-07-13 00:44] ZebraFlesh opened #83 "Multiple sprites broken"
I just upgraded from 3.3.5 to 3.3.6 and multiple instances of the plugin have stopped working. If you specify two instances, you get no output; comment one of them out and it starts working. Downgrading to 3.3.5 resolves the issue.

[2019-07-13 08:37] cascornelissen commented on #83
Looks like I've made an assumption in the `3.3.6` release that doesn't always hold true 🤔  Could you try the latest `master` release and report if that solves your issue?

[code]

[2019-07-13 08:37] cascornelissen commented on #82
Looks like I've made an assumption in the `3.3.6` release that doesn't always hold true 🤔  Could you try the latest `master` release and report if that solves your issue?

[code]

[2019-07-13 11:03] endbay commented on #82
This is working, thanks!

[2019-07-13 11:47] cascornelissen commented on #82
@endbay, thanks for the quick reply. I'm hoping this change fixes #83 as well, if it does I'll release a new patch version. I'll leave the issue open until a release is published ✌️

[2019-07-15 08:11] cascornelissen commented on #83
@ZebraFlesh, any updates on this?

[2019-07-16 06:32] cascornelissen commented on #83
Just tested this myself and it turns out this issue was related to #82 but had to fixed in a different way which I've done in e3dfddd. It would be great if someone could confirm this fix works, I'll release a new patch version later today anyway.

[2019-07-16 13:56] ZebraFlesh commented on #83
Sorry for the delay: this fix works and I'm now getting multiple sprites. Thank you!

[2019-07-16 19:55] cascornelissen commented on #83
@ZebraFlesh, no problem at all, thanks for confirming the fix works! It has been released in version [`3.3.7`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.7) 🚀

[2019-07-16 19:55] #83 closed

[2019-07-16 19:56] cascornelissen commented on #82
@endbay, the fix for this issue has been released in version [`3.3.7`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.7) 🚀

[2019-07-16 19:56] #82 closed

[2019-07-23 11:06] wal0x opened #84 "can't load svgs with a capital letter in the name"
@cascornelissen  I am using webpack@4.28.4 on a VueJS 2.6.10 project, and "svg-spritemap-webpack-plugin": "3.3.7".
The svg with the name a003_test_a.svg works but not 003_test_a.svg nor a003_Test_a.svg for instance.

[2019-07-23 12:33] achabahe commented on #25
change the version of webpack-dev-server to "3.0.0" and not "v3.0.0";

You are welcome :)

[2019-07-23 12:44] cascornelissen commented on #84
@wal0x, do you have more information? The examples literally use filenames like `1.svg` and they seem to be working. What versions of the plugin and webpack are you using, what options do you pass to the plugin, etc.?

[2019-07-23 13:13] wal0x commented on #84
@cascornelissen I've verified again, and I found I was rushing in fact the bug is only in svg with a capital letter somehere in the name. (noting to do with numbers, I'll edit the issue)

[2019-07-23 13:34] wal0x commented on #84
I just found the bug, it's just the name of the svg is lower-cased. Therefor to use A.svg I had to link "#sprite-a" not "#sprite-A"

[2019-07-23 13:42] cascornelissen commented on #84
Yeah, that's correct. The plugin uses [`idify`](http://npmjs.com/package/idify) which calls `.toLowerCase()` on the input 🤔 Probably because uppercase characters are [not allowed in id until HTML5](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id).

I might make an option to pass a custom function te replace `idify` to solve the problem you're running into.

[2019-07-23 13:52] wal0x opened #85 "vue-cli-service compiling time increase drastically when svg-spritemap-webpack-plugin is added"
I am using webpack@4.28.4 on a VueJS 2.6.10 project, and "svg-spritemap-webpack-plugin": "3.3.7"
 My vue.config.js looks like :
[code]
The compiling time was ~150ms before installing the plugin, after installation it went to ~8000ms. I've commented the line  ```new SVGSpritemapPlugin()``` and the compiling time went back to normal (around 150ms)

[2019-07-23 13:55] cascornelissen commented on #85
Is it possible that the plugin is finding a lot of SVGs? What's the filesize like of the spritemap SVG that's generated?

[2019-07-23 14:01] wal0x commented on #85
No I have only 2 SVGs, even when I have 0 svg still the same problem
[code]

[2019-07-23 14:08] wal0x commented on #85
With my 2 SVGs 5KB each the size of the spritemap is 44KB. (is it normal ?)
With my SVGs folder empty the size of the spritemap is 38KB.

[2019-07-23 14:13] cascornelissen commented on #85
That's probably because it's matching more SVGs but I can't know for sure without a configuration object. You could open the spritemap SVG in an editor and check some id's of the `symbol`s, that might help finding the SVGs.

[2019-07-23 14:27] cascornelissen commented on #84
Alright, I've introduced a new option `sprite.idify` which takes a function that will be used to transform the filename to a valid id. Could you try installing the plugin directly from the `master` branch by executing the following command:

[code]

And then use the `sprite.idify` option to specify a custom function, for example:

[code]

Let me know! :v:

[2019-07-23 14:32] wal0x commented on #85
I investigated the spritemap I found two ```symbol``` tags. I rendred the svg and "surprisingly" I found two diagrams I have never seen before and I have no idea where it come from.
(5min later)...
I found the two SVGs in two dependencies in my node_modules.
How can I tell the plugin to look for SVGs only inside the svgs folder ?
My folder s tree is like this :
|__node_modules
|__public
|__src
|__

[2019-07-23 14:57] wal0x commented on #84
Working 👍

Working 👍

[2019-07-24 09:16] #85 closed

[2019-07-24 09:25] cascornelissen commented on #84
Awesome, I'll add some tests, finish up the docs and release a new minor version later today 👍

[2019-07-24 19:25] cascornelissen commented on #84
@wal0x, the fix for this issue has been released in version [`3.4.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.4.0) 🚀

[2019-07-24 19:25] #84 closed

[2019-07-27 18:05] NguyenHoangSon96 commented on #25
This should be an excepted answer

[2019-07-28 19:36] diverent2 opened #86 "Add a CHANGELOG.md"
Hi there,

I would greatly appreciate if you could add a changelog to your project.
This would help me (and others) to quickly spot changes (including breaking changes) between different versions.

Here's a guide on how to do this: [keepachangelog.com](https://keepachangelog.com/en/1.0.0/) ^^

Right now I'm trying to understand what was added between `3.3.x` and `3.4.x` to see if I can safely upda

[2019-07-28 20:25] diverent2 commented on #86
Update: Just saw your [release page](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases).
So i'´s already there, just not where I was looking.
Would still appreciate a changelog though, you would just need to copy the information.

[2019-07-29 05:52] cascornelissen commented on #86
As you've sigured out already; GitHub Releases are used for the changelog which quite a lot of projects use (e.g. [webpack](https://github.com/webpack/webpack)) and I don't feel like having to do the additional work is worth the effort as most people know of the GitHub releases feature. So unless more people are running into this issue I'll leave it as it is for now.

Besides that, this plugin use

[2019-07-29 05:52] #86 closed

[2019-07-30 19:14] borm commented on #48
@cascornelissen maybe you mean ```3.4.0```?

don`t worked

[2019-07-31 06:06] cascornelissen commented on #48
@borm, no I meant `3.3.4`, sorry for the typo. The changes introduced by #79 were released in `3.3.5` so I was wondering if it was related to that. But also some more fixes were added and released in `3.3.6`, `3.3.7` and `3.4.0`. Can you also check the latest version if `3.3.4` works?

[2019-07-31 09:59] borm commented on #48
don`t work

**package.json**
```"svg-spritemap-webpack-plugin": "^3.3.4",```

**webpack.config.babel.js**
[code]

**index.html**
[code]

[2019-07-31 10:22] borm commented on #48
```3.3.4``` works

[2019-07-31 18:06] cascornelissen commented on #48
Looks like we were thinking the same thing, I've just added a minimal [`inline-html`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/inline-html) example to the repository. Great to hear it's working with `3.4.0` for you as well!

[2019-07-31 18:06] #48 closed

[2019-08-04 23:03] philippdieter opened #87 "Include spritemap svg via require"
I would like to use the plugin with html-loader which interpolates the given html files and parses image src attributes to a require to be handled by a loader again.

To be able to use the sprite this way there need to be a way to use the spritemap similar to the style files like
`require('svg-spritemap-webpack-plugin/sprites.svg');`

Is this possible in a way? I don't know webpack that good so ma

[2019-08-05 12:03] cascornelissen commented on #87
I think that's currently not possible because the SVG can only be written to the webpack output directory. It might be possible to rewrite this logic and write the file somewhere else on disk but the problem is that a lot of stuff needs to happen near the end of the pipeline (e.g. optimizations) so the SVG won't be ready whenever the JS is getting compiled.

What reason are you looking to import t

[2019-08-05 16:28] philippdieter commented on #87
My goals are having hashes in the assets filenames, having the spritemap as separate file and not loading the sprites via js but having the right link in the html file.

So something like
[code]
I would like to become something like
[code]

As html-loader interpolates the input files by tag/attribute pairs this:
[code]
gets translated to ```require("~images/logo.png")``` and results in the hashed

[2019-08-06 06:03] cascornelissen commented on #87
I have two questions then:

1. Aren't you able to use something like [`html-webpack-plugin`]?(https://www.npmjs.com/package/html-webpack-plugin)
1. How do you load your CSS and JS then? Does it go through Webpack? Do you use something like Sass/Less/Stylus that needs compiling?

[2019-08-06 09:54] philippdieter commented on #87
1: I use exactly this plugin. I saw the example how to include the spritemap into the page but I could not work out how to keep the svg in a separate file. I will use this option if there is no other way but I would prefer to have svg file to be able to cache it.
2: My goal is to have everything going through webpack. JS is included and processed with babel, pug generates my html files and sass fo

[2019-08-06 11:29] cascornelissen commented on #87
Alright, continuing on the second point. How do you load your CSS? Via a `require()` call or does the `html-webpack-plugin` take care of this for you? If so, do you have a custom template you're using for `html-webpack-plugin`?

[2019-08-27 12:43] philippdieter commented on #87
I am sorry, completely missed your answer. But thank you for your help so far.

So I include css via require. I am not using a custom template, it's the default one.

[2019-08-28 16:17] cascornelissen commented on #87
If your goal is to get everything through Webpack but still use filenames with hashes I'm not sure how that would work without using a custom template. Are you using something like React or Angular instead of "plain old" HTML?

[2019-08-28 23:20] philippdieter commented on #87
I stripped down a frontend project to a minimal example:
https://github.com/philippdieter/frontend-example
I hope this works better than explaining my setup manually.
Some times I use vue, but it would be nice to have a solution for plain old HTML.

[2019-08-29 18:21] cascornelissen commented on #87
The provided example doesn't really help me with helping you because I still have no idea on how you're planning to use a specific sprite in your code... Let's say you have an icon you'd like to use in your UI, in what way would you like to insert that icon somewhere on your page?

[2019-08-29 18:51] philippdieter commented on #87
I have the feeling I am missing some point, sorry...
I don't know what to add to what I have written in https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/87#issuecomment-518304330

Maybe you can give me a hint how the plugin was supposed to be used? How should the right spritemap file been found if it has a hash in its name?

[2019-08-29 19:33] cascornelissen commented on #87
I'm afraid that's the catch 22 here, it can be used in different ways but it all depends on where you want to reference a sprite from. For example, you could...

- Use it in combination with the `html-webpack-plugin` like in the [`inline-html`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/inline-html) example to include the entire SVG,
- Use it in combination

[2019-08-30 23:39] philippdieter commented on #87
So thank you very much for your time (and this plugin!), at least I know I didn't simply missed an option which magically resolves my problem. I will try to implement the second solution in some way.

[2019-08-30 23:39] #87 closed

[2019-09-10 14:02] ziqq commented on #63
I have the same problem, Error: ENOENT: no such file or directory, open 'xyz\spritemap.js'

[2019-09-10 14:07] ziqq opened #88 "mix.version() doesn't get along with this package."
Error: ENOENT: no such file or directory, open 'xyz\spritemap.js'

[2019-09-10 16:14] cascornelissen commented on #88
Are you able to provide a **minimal** repository with code that reproduces this error for me?

[2019-09-11 06:14] ziqq commented on #88
https://github.com/ziqq/svg_sprite_map_plugin_error

[2019-09-11 06:25] ziqq commented on #88
I found one of the solutions. We have to add this options
`output: {
     chunk: {
                      keep: true
                 }
     },`

[2019-09-11 06:25] ziqq commented on #63
I found one of the solutions. We have to add this options
`output: {
     chunk: {
                      keep: true
                 }
     },`

[2019-09-11 16:38] cascornelissen commented on #88
Looking at the provided example and the fix you've found out about this makes sense. Laravel Mix seems to be doing something with the chunk (the generated .js file, which is mostly empty) after the files are emitted and this is exactly what the `output.chunk.keep` option is there for.

[2019-09-11 16:38] #88 closed

[2019-09-19 11:02] Fire-Proof opened #89 "SVG Attributes isn't applied when generating symbol"
When trying convert a simple svg with a stroke defined on the svg element, the symbol doesn't receive all attributes, eg:

**Input**:
[code]
<details><summary>Image</summary>

![image](https://user-images.githubusercontent.com/1039554/65238611-4f9fa180-dadd-11e9-8fcd-647c1260c2c4.png)

</details>

**Output**:
[code]

<details><summary>Image</summary>

![image](https://user-images.githubusercontent

[2019-09-19 11:31] cascornelissen commented on #89
That's because the `stroke` attribute isn't available on the `svg` element according to the [spec](https://www.w3.org/TR/SVG2/struct.html#SVGElement) even though it might work in practice. The stroke should be on the `path` in your example.

[2019-09-19 11:56] Fire-Proof commented on #89
Are you sure about that? It's listed under [presentation attributes](https://www.w3.org/TR/SVG2/styling.html#TermPresentationAttribute), which is available to the `svg` element, the file also validates on https://validator.w3.org

[2019-09-19 13:10] cascornelissen commented on #89
Yeah, I'm pretty sure although I'm not 100% confident in my spec-reading abilities either 😅

- The link you used for the presentation attributes (https://www.w3.org/TR/SVG2/styling.html#TermPresentationAttribute) shows all presentation attributes in the entire SVG spec, it's not related to the `<svg>` element specifically. If you click on the `show >>` button that's behind the *presentational attr

[2019-09-19 13:59] Fire-Proof commented on #89
Oh you're right, i'm a bit new to these w3 specs :man_shrugging:. However if you specify the w3-validators doctype as `svg 1.1`, it will accept my example as valid, and something like `abc="123"` as invalid

<details><summary>Valid</summary>

![image](https://user-images.githubusercontent.com/1039554/65247871-74057900-daf1-11e9-8844-e5753fe68582.png)

</details>

<details><summary>Invalid</summary

[2019-09-19 14:14] cascornelissen commented on #89
Hmm, that's interesting. Since you have a pretty popular icon set as an example I guess it would be good to support this. Could you also verify it's not SVGO stripping these attributes by setting [`output.svgo`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#outputsvgo--true) to `false`?

[2019-09-19 14:19] Fire-Proof commented on #89
Yeah, I have tested it both with and without `output.svgo` set to `false`

[2019-09-19 16:48] cascornelissen commented on #89
Alright, I just took a deeper dive into this and I guess we could update the logic here:

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/f411076687636541a06b49b536550ea53c94062f/lib/generate-svg.js#L160-L166

We should accept all valid SVG attributes there instead of just `preserveAspectRatio`, using something like [`svg-element-attributes`](https://www.npmjs.com/package/svg-e

[2019-09-20 16:08] emmnx commented on #25
This is not StackOverflow, lol.

[2019-09-23 08:13] #89 closed

[2019-09-27 23:06] simplenotezy opened #91 "Error: ValidationError: "value" must be an object"
I followed the guide, and I am getting error `Error: ValidationError: "value" must be an object`.

Heres my code:

      module.exports = {
        plugins: [
          new ImageminPlugin({
            optipng: { optimizationLevel: 2 },
            gifsicle: { optimizationLevel: 3 },
            pngquant: { quality: '65-90', speed: 4 },
            svgo: null,
            plugins: [imageminMozjpeg

[2019-09-28 09:02] cascornelissen commented on #91
Which version of the plugin are you using and can you confirm error also occurs when the `SVGSpritemapPlugin` is the only plug-in?

[2019-10-16 09:57] dhivya-picco opened #92 "I'm getting the same error like Cannot read property 'entryOption' of undefined"
How can i fix this?

[2019-10-16 16:30] cascornelissen commented on #92
What versions of the plugin and webpack are you using?

[2019-10-17 06:41] dhivya-picco commented on #92
Thanks for your response.I just remove all the node modules and again i
have installed npm. Now It's working fine.

Regards,
DHIVYA NAGARAJAN

On Wed, Oct 16, 2019 at 10:00 PM Cas Cornelissen <notifications@github.com>
wrote:

[2019-10-17 06:42] cascornelissen commented on #92
Great to hear, thanks for letting me know!

[2019-10-17 06:42] #92 closed

[2019-10-26 10:12] #91 closed

[2020-01-02 13:06] sornss opened #94 "Please any configuration to work with Nuxt.js?"
I'm trying the plugin with Nuxt.js 2.11.0 with the provided configuration but cannot get it to generate the result output filename.

Please any configuration to work with Nuxt.js?

Thank you.

[code]

[2020-01-02 17:27] cascornelissen commented on #94
Since I haven't used Nuxt.js I can't be 100% sure but the `nuxt.config.js` looks like a custom variant of a `webpack.config.js`...

Could it be the `@` in the globs and the `output.filename` option?

If that's not it, does a file get generated (without setting the `output.filename` option)? If so, is it empty?

You're free to provide a **small** repository that reproduces your problem.

[2020-01-02 19:52] sornss commented on #94
@cascornelissen, I have tried to change the `@` to `./` or `~/` without success. And it does not  generate a file even without the `output.filename`.

A repo has been set up at https://github.com/sornss/svg-spritemap-nuxtjs

Thanks again

[2020-01-02 20:17] cascornelissen commented on #94
Thanks for the repo, it does seem to generate a file for me at `.nuxt/dist/client/spritemap.svg` with the only `.svg` file in the `./assets/svg/` directory when using `['./assets/svg/*.svg']` instead of `['@/assets/svg/*.svg']` as the first parameter?

[2020-01-03 00:53] sornss commented on #94
My bad I did `npm run dev`.  With  `npm run build` or `npm run generate` when using `['./assets/svg/*.svg']`, it does generate the default spritemap.svg file that I can manually copy it and place to be used later at `./static/spritemap.svg` with `npm run dev`.

Thank you.

[2020-01-03 00:53] #94 closed

[2020-01-09 11:38] xavierfoucrier opened #95 "Custom output path"
Hi!

I am trying to build a custom spritemap **using a different output path** as the webpack `output.path`: I didn't see any option in the package to edit the output path, but may be I am missing something...

Thanks for your answer :wink:

[2020-01-09 14:44] kareljan opened #96 "Generate .svg empty?"
When I generate my sprite, the only content I get in the generated file is
`<svg xmlns="http://www.w3.org/2000/svg"/>`

I made a simple test with just 1 file like this
`new SVGSpritemapPlugin('test/delete.svg', {
             output: {
                    filename: 'icons/sprite.svg'
                }
})`
still no luck. Any ideas?

Thanks
Karel-Jan

[2020-01-09 15:52] kareljan commented on #96
Never mind
It was an other plugin in my webpack that caused this.
Regards
Karel-Jan

[2020-01-09 15:52] #96 closed

[2020-01-09 18:44] cascornelissen commented on #95
I don't think that's currently possible, maybe providing an absolute path to the [output.filename](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#outputfilename--spritemapsvg) option would work but I'm not sure.

What's the reason you need it to generate in a different place?

[2020-01-09 23:49] xavierfoucrier commented on #95
Hi @cascornelissen,

Thanks for your reply.
I try and absolute path doesn't work.

In fact, I am working with another developer in a project that is not a full js app, and we need to have a specific folder structure:
- `javascript/src/*.js`: all js source files
- `picture/src/svg/*.svg`: all svg source files
- `styles/src/*.less|*.sass`: all style source files

The webpack build properly output ea

[2020-01-09 23:49] #95 closed

[2020-01-10 16:30] VadymBoguslavsky opened #97 "Few questions about config"
Hi, i have few questions about config and other things:
1. When i try to use svg or svgo or svg4everybode i have an error `Error: ValidationError: "svg" is not allowed` depending from package while compiling. i am using next js.
2. When i create sitemap.svg it have a symbol like

[code]

 But when i add it to my css and in sources i can see that its just empty and i can't use it as `spritemap.svg#

[2020-01-10 17:47] cascornelissen commented on #97
1. Please first read through https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/94, if that doesn't solve it for you, can you create a small repository that I can clone to debug this issue?
1. Can you show in which way you're using it in your CSS? And in which browser are you checking it?

[2020-01-13 10:50] VadymBoguslavsky commented on #97
1. Yeah, it seems that something within project create this error, when i created rom a scretch its working without an error.
2. Using it just with ` background-image: url('./icons.svg'); `

[2020-01-13 15:36] cascornelissen commented on #97
1. 👍
1. That way you will be using the SVG directly instead of loading it through the spritemap, if you want to load it from the spritemap the notation should be something like below. There's more info in [this article from CSS Tricks](https://css-tricks.com/svg-symbol-good-choice-icons/)

[code]

[2020-01-14 11:26] VadymBoguslavsky commented on #97
I inserted this as first of my plugins and its working fine, but when trying to use it as css like
`background-image: url('../path/to/spritemap.svg#name-of-sprite');`
the error is coming
`Invalid SVG '/icons.svg'; it's lacking both a viewBox and width/height attributes.`

But as i can see  in svg sprite i have a viewBox with some parameters like
`<svg xmlns="http://www.w3.org/2000/svg"><symbol id=

[2020-01-14 12:10] cascornelissen commented on #97
That warning is thrown by the plugin itself and means one of your source icons couldn't be parsed correctly:

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/ded5bb1ff2e7cdfa7c7ac66b0f5f0e4a4bcbfe89/lib/generate-svg.js#L153-L155

The root `<svg>` element should have either a valid `viewBox` attribute or a `width` and `height` attribute. Can you attach the file that's reference

[2020-01-15 11:17] VadymBoguslavsky commented on #97
Yeah. You were right about the error, sorry)
But it seems that even if i try to set this as
` background-image: url('/static/images/icons.svg#icon-drawer-close');`
The svg do not shows up. Its empty. Attached sprite
and config that i use now.

[code]
[icons.svg.zip](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/4064597/icons.svg.zip)

[2020-01-15 20:53] cascornelissen commented on #97
I can't really help you any further unless you provide a repo (or something similar) containing a minimal example of the way you're trying to use the plugin.

[2020-01-20 05:59] Piccotalent101 opened #98 "I am trying to build my react application..but it is showing static/js/main.3a4f1c73.js from UglifyJs"

[2020-01-20 06:04] dhivya-picco opened #99 "React build is not working"
At the time of building react application,it shows me a error like

static/js/main.3a4f1c73.js from UglifyJs
SyntaxError: Name expected [./~/@babel/types/lib/builders/generated/index.js:249,0]

![Screenshot from 2020-01-20 11-31-57](https://user-images.githubusercontent.com/54543382/72702458-c8406880-3b78-11ea-814d-a265e2356d3a.png)

How can i fix this?

[2020-01-20 07:22] cascornelissen commented on #98
I'm guessing this is a duplicate of #99 based on the title and matching filename.

[2020-01-20 07:22] #98 closed

[2020-01-20 07:24] cascornelissen commented on #99
1. Does it not throw this error when commenting out the SVGSpritemapPlugin in `webpack.config.js`?
1. In case you're importing the spritemap somewhere: make sure your loaders are set up correctly, the error could indicate that the SVGs are being parsed by Babel directly

If that doesn't fix it you're free to send me a link to a simplified repository that will reproduce this error so that I can deb

[2020-01-20 09:09] dhivya-picco commented on #99
Yah...Thanks for your response...Just now I fixed it...Babel directly
imported in two src files...That's y i got that error...Now it has been
fixed..Thank you

On Mon, Jan 20, 2020 at 12:54 PM Cas Cornelissen <notifications@github.com>
wrote:

[2020-02-05 13:19] SowmediaNL opened #100 "Sprite prefix not getting added to the fragment identifier correctly."
Introduced in v3.0.1:
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.0.1

This fix breaks the current new ^3.X.X releases, sicne it now outputs double prefixed classes in CSS.
`sprite.svg#myprefixtest-myprefixtest-closure-view`

While the ID's in the SVG remain `myprefixtest-closure-view`

I tested this by editing `css.js` (by undoing this change) and that fixed it.

[2020-02-05 13:40] cascornelissen commented on #100
Would you be willing to submit a PR for this? And do all the tests still pass when making this change?

[2020-02-05 16:34] SowmediaNL commented on #100
Thanks, 2 pull requests, 1 bugfix and 1 new feature:
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pulls

[2020-02-06 18:26] cascornelissen commented on #100
@SowmediaNL, can you provide a minimal repository with a reproduction. I've been trying to combine options to get this to break but whatever I try the output seems correct to me.

Especially [this comment](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/101#issuecomment-582793209) on #101 where you state it doesn't occur in the SCSS variant seems weird to me as all formatters (

[2020-02-12 22:16] #97 closed

[2020-02-20 02:21] alpezed commented on #62
I am using the latest version 3.5.3 but i still got this error.

[2020-02-20 08:06] cascornelissen commented on #62
@alpezed, can you share an SVG that's throwing this error for you?

[2020-02-21 09:19] alpezed commented on #62
Hi @cascornelissen  Here's one of the SVG that throwing this error

`<svg id="svg-source" height="0" version="1.1"
  xmlns="http://www.w3.org/2000/svg" style="position:absolute; margin-left: -100%"
  xmlns:xlink="http://www.w3.org/1999/xlink"><g xmlns="http://www.w3.org/2000/svg" id="alarm-clock" >
    <g>
      <path d="M30.156,10.025c2.29-2.289,2.29-6.016,0-8.311c-2.29-2.288-6.017-2.285-8.31,0

[2020-02-21 15:16] cascornelissen commented on #62
@alpezed, in your case the error makes sense because the SVG you posted only has a `height` attribute (with a value of `0` even) so the plugin can't determine the actual size of the SVG which is needed for the spritemap.

Either add correct `height` **and** `width` attributes or set a correct `viewBox` attribute yourself.

[2020-02-21 16:30] alpezed commented on #62
@cascornelissen  To give you an idea what i am doing, i am working a plugin for wordpress and these plugin has a lists of icons that compress in **.zip** file and when activated the plugin it will automatically extracted all the icons to svg file so don't need to edit each svg file to add correct size.

[2020-02-23 15:37] cascornelissen commented on #62
@alpezed, I'm not 100% I understand but the `svg-spritemap-webpack-plugin` needs to know the height and width of each SVG that you want to end up in the spritemap. Without knowing the width/height of an SVG file it can't calculate where the file should be placed in the generated spritemap.

[2020-02-25 07:55] shinnlu opened #104 "strange output"
i have problem with output svg file.
![image](https://user-images.githubusercontent.com/570246/75225969-7c6f8780-57e6-11ea-9964-6358ff66d596.png)
upper line is single svg file with html:
`<img src="/front/images/svg/search.svg">`
lower is svg sprite file:
[code]
please tell me how to fix this.

webpack.mix.js
[code]

package.json
[code]

[2020-02-26 20:34] cascornelissen commented on #104
I'd guess/hope this is caused by SVGO which tries to optimize the SVGs for you, does the same happen when specifically setting `output.svgo` to `false` (it's `true` by default).

If that doesn't solve it, could you provide a small reproduction repository or zip file with just a couple of icons and a bare `webpack.config.js` I can use to reproduce the issue?

[2020-02-27 00:51] shinnlu commented on #104
i think i may find the problem.
i was draw the svg with online editor before: https://vectr.com/
after i re-draw it with Inkscape and do svg sprite again, it's working good.

[2020-02-27 08:40] cascornelissen commented on #104
Alright, thanks for sharing your solution!

[2020-02-27 08:40] #104 closed

[2020-02-27 15:06] fgiust opened #105 "scss formatter strips mandatory attributes from svg root"
When generating a scss stylesheet the plugins remove any attribute from the svg root elements, breaking the rendering of many svgs.
As an example, starting from the following svg:

<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ee203c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
  <rect x="3" y="3" width="7" height="7"

[2020-02-27 16:50] cascornelissen commented on #105
@fgiust, some of the (I guess) images in your description are missing. Could you fix those so that I can see what the problem is?

[2020-03-16 14:47] ajlond123 opened #107 "Why is svg4everybody-helper.js added to node_modules after Webpack runs?"
Why is "svg4everybody-helper.js" added to the root of the node_module folder after running webpack?

This is causing issues with our gitlab deploy pipelines, as the webpack stage is expecting that file to already exist in the folder.

[2020-03-16 15:23] cascornelissen commented on #107
I guess you mean in the `node_modules/svg-spritemap-webpack-plugin/` directory (not in `node_modules/` directly), right?

It's a bit of an ugly workaround to make it easier for developers to use SVG4Everybody together with this plugin but I can image that it might break more advanced setups. The easiest fix would be to set the [`output.svg4everybody` option](https://github.com/cascornelissen/svg-s

[2020-03-16 16:36] ajlond123 commented on #107
@cascornelissen - Yes I did mean in the `node_modules/svg-spritemap-webpack-plugin/ ` directory.

Thanks for the suggestion. I've disabled the option and included `svg4everybody` as a separate polyfill.

[2020-03-16 16:36] #107 closed

[2020-03-26 18:05] #105 closed

[2020-04-11 13:54] sectsect opened #108 "Webpack 5 Compatibility"
Thanks for helpful package.

Currently this package does not work with webpack 5 beta.
Do you have a plan to add compatibility before webpack 5 is officially released?

[2020-04-11 14:34] cascornelissen commented on #108
I'm planning to look into support Webpack 5 when the first RC, yes. I'll leave this issue open to track progress once a RC is available.

Others are of course free to investigate this before a RC is released.

[2020-04-13 22:52] fruchtose commented on #100
@cascornelissen I've run into the same issue. I can understand why you would be confused, but I've done some digging which should help.

This is not the case. The SCSS variant includes special logic which strips out the prefix from the URL, as seen here: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/42031ca22d8f642e714451a2515c01aa4378a57a/lib/style-formatters/scss.js#L59

Th

[2020-04-14 07:23] cascornelissen commented on #100
@fruchtose, I guess you are right 🤔 Thanks for digging into this a little further, do you have time to submit a PR that fixes this for the CSS and LESS style formatters? Simply adding `.replace(options.prefix, '')` should do it, I guess but it'd be nice if you could test if it actually solves the problem on your end.

[2020-04-15 00:48] fruchtose commented on #100
@cascornelissen I'll see if I can make time this week. I'm a bit swamped, but I'd love to help. I'll think a bit more about testing—maybe using `Symbol` instances for prefixes and selector names would be viable.

[2020-04-20 11:52] matthewlukedesign opened #109 "Ignoring input path"
Hi I'm getting '94% asset optimizationTypeError: Cannot read property 'length' of undefined' after using this plugin.

Looks like it's ignoring my input path as it's logging a load of files it's trying to sprite outside of the dir I specified.

I'm using v1.0.0 as am using Webpack ~3. Any ideas?

Have tried a whole host of arguments, but here is my plugin at the moment (debugging by moving the ico

[2020-04-20 12:41] cascornelissen commented on #109
You'd have to look at the documentation for `1.x` as well then, which can be found here: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/v1.2.0.

It's been a while since I wrote that but I think this should work.

[code]

[2020-04-20 14:53] matthewlukedesign commented on #109
That's great, thanks so much - was wondering where I could find those docs.

[2020-04-20 16:30] cascornelissen commented on #109
No problem at all, I'm guessing that solved it so I'm closing this issue. Feel free to comment if you have any other problems!

[2020-04-20 16:30] #109 closed

[2020-04-29 20:56] AtlantaJones opened #110 "Using with Vue-CLI 4 produces no results"
Been using this plugin for a while now on a few sites and it's always worked great. Up to now I've been using it in conjunction with Laravel Mix for webpack management. Recently we did a refactor on a site in-progress to use Vue-CLI (4.2.2), and now there seems to be no output whatsoever. The svg sprite isn't created and there are no errors to indicate what's happening. Here's the webpack config i

[2020-04-30 07:29] cascornelissen commented on #110
Since I haven't used Vue much yet, it'd help a lot if you could set up a minimal repository to reproduce the issue so I can debug the issue you're seeing using that. There's also #85 that's using Vue CLI as well (the initial issue is unrelated but it might give some pointers).

Also, it might be easier/better to inline the SVGs directly in the JS application when you're using something like Vue/Re

[2020-04-30 12:23] AtlantaJones commented on #110
Thanks! I've seen that other issue and unfortunately don't think it's related. I'm going to look into an inlining approach as you suggested with something like [this](https://www.npmjs.com/package/vue-svg-inline-loader). Would prefer to keep using yours, so maybe I can still work it out.

[2020-05-05 16:30] #110 closed

[2020-05-06 11:09] cascornelissen commented on #100
I have just checked this a third time but I really can't seem to find the issue. Can someone provide a minimal plugin configuration that shows the issue at hand.

For example (based on the `simple` example):

[code]

Generates the following styles, which seems to be correct.

[code]

ping @fruchtose, @SowmediaNL.

[2020-05-06 12:41] cascornelissen commented on #100
Alright, took a fourth time digging into this and I'm pretty sure I've found the issue and fixed it in `master`. @fruchtose or @SowmediaNL, can you confirm it's fixed by installing the dependency directly from GitHub by executing the following command?

[code]

[2020-05-11 19:32] drewrawitz commented on #110
Hey @AtlantaJones, I'm in a very similar boat. I'm actually switching _from_ `vue-svg-inline-loader` to something like this for performance reasons, as we are dealing with hundreds of SVGs.

The only way I can get the sprite generation to work is by running a full `vue-cli-service build`.  Unfortunately, I can't get it to reload when my `vue-cli-service serve` is running.  I'd love to hear if you'

[2020-05-11 19:40] cascornelissen commented on #110
@drewrawitz, FYI; the offer still stands regarding the minimal repository for me to try and reproduce and maybe fix it.

[2020-05-11 20:09] drewrawitz commented on #110
@cascornelissen Thank you!  So here's the repo I just created: https://github.com/drewrawitz/vue-svg-spritemap-test

I added two icons to the `src/assets/icons/` folder, and the sprite is getting generated here: `public/icon-sprite.svg` which works great when I run `yarn build`.

The sprite does not get regenerated when my watcher is running, and you can test that by running `yarn serve` and then

[2020-05-11 20:14] cascornelissen commented on #110
@drewrawitz, awesome, thanks for the quick reply and repo, I'll look into it as soon as I find some spare time ✌️

[2020-05-12 08:11] cascornelissen commented on #110
Alright, thanks once more for the repository, it really helped. Unfortunately (or fortunately for me) it doesn't seem to be a problem with the plugin. The changes are applied when running in watch mode, I checked this by logging the output of the following line and the updated spritemap gets added to the Webpack compilation assets without any problems. So the last step the plugin does is completed

[2020-05-12 15:01] drewrawitz commented on #110
@cascornelissen Thanks so much for spending some time on it! You helped point me in the right direction 😄

I was able to get it to work by adding the following to my `vue.config.js` file under the `configureWebpack` object:

[code]

Vue is configured to watch the `public` folder, so this will fix the infinite loop issue.  When you first run `yarn serve` it loops like three times for some reason, b

[2020-05-12 15:03] cascornelissen commented on #110
Awesome, thanks for sharing the final pieces! Now I have something to point others to when they run into similar problems 🥳

[2020-05-12 15:04] cascornelissen commented on #100
ping @fruchtose and @SowmediaNL, if I get not replies in the next couple of days I guess I'll create a release and close this issue.

[2020-05-12 18:52] AtlantaJones commented on #110
@drewrawitz Hey sorry for my tardiness. No, we eventually realized that new svgs were getting added to the sprite only on "build", so just kind of chalked it up to a minor inconvenience. After all, new icons aren't added often. Just have to document what's needed.

Based on the current suggestions, definitely going to try them out and see if it also works for us. Thanks to you and @cascornelissen

[2020-06-02 12:23] n1kk opened #111 "Add folder names to sprite id."
Is there a way to add folder names to sprite ids?

So given glob `icons/**/*.svg` and this structure
[code]
Right now i get duplicating ids as
[code]
I want to get ids like
[code]

Maybe a good idea is to pass full path name to `sprite.idify` function ?

Then it ca be done as
[code]

[2020-06-02 19:00] cascornelissen commented on #111
I'd be interested in adding a feature like this if there's a need for this. Going by the example code you've posted it might be easier to just add two separate plugin instances with different globs/paths in your Webpack configuration instead?

[2020-06-02 19:01] cascornelissen commented on #100
Forgot to update the issue but this was fixed in [`3.5.6`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.5.6) 🚀

[2020-06-02 19:01] #100 closed

[2020-06-02 22:24] n1kk commented on #111
For that small example sure, but I have a huge icon library with many folders, I have icons for multiple themes and for multiple devices like gamepads, for different modes, etc. There's way around that sure, I can run a script to copy them in one folder and rename before every build, I can add a new plugin for every folder there is with a script, but just seems like changing that function would be

[2020-06-03 12:46] cascornelissen commented on #111
I was just thinking, if you're just talking about the prefix for the sprite; it's already possible to customize this with a function that receives the full path to the current sprite as the first argument with the [`sprite.prefix`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md#spriteprefix--sprite-) option.

[2020-06-08 08:02] #111 closed

[2020-06-10 08:20] n1kk opened #112 "A way to tap in svg and css generation"
I have a lot of icons and not all of them are the same size and not all are squared, so I need two things,
- some icons need to be centered in the square because software that exports them cuts off white space
- other icons are just double wide so I need to create a custom css for them to maintain their aspect ratio

It would be great if there was a function that I could create to tap into the gen

[2020-06-10 09:24] cascornelissen commented on #112
I'm not sure if that would be something this plugin should cover but then again if it's just two options that optionally implement a function 🤷‍♂️ Rou're free to submit a PR so that we have some code/implementation details to talk about.

[2020-06-18 17:41] stereochuck opened #113 "After adding an SVG in the src folder, the sprite generated is empty."
I had this issue two times since a week. Occur on Linux and OSX.

Everything worked great, i had around 20 icons in my sprite and after adding  a random svg to the src folder (copy/pasting or create new empty one in atom) the sprite only return an empty svg tag.

After this error I can't regenerate the sprite. I tried, deleting svg and adding them back one by one, changing plugin setting, rm -rf n

[2020-06-18 19:39] cascornelissen commented on #113
Nothing out of the ordinary as far as I can see 🤔 The last release was in May and I haven't seen any other issues about this so I don't think it's related to the plugin but let's try to find out.

The only reason the generated sprite would be empty is if it can't find the input files so something might be wrong there. Can you tell a bit more about your environment(s)? Running stuff in containers?

[2020-06-19 14:54] stereochuck commented on #113
I'm using using Webpack 4.43.0 with laravel mix.

didn't updated anything relevant that I can remember. My svgs for some reason cause problem. The strange part is, if I start from scratch and adding my faulty svgs one by one it will work but if I use these precise files it won't work (like there's a problem with some file).

I think it's cause by copy/pasting files during the watch of my files "np

[2020-06-19 16:27] cascornelissen commented on #113
Hmm, that's really strange... I tried playing around with the files but couldn't really get it to break on my end. Would you be able to provide a repository with a minimal setup to reproduce the issue, preferably based on the [simple example](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/simple)?

[2020-06-25 09:16] nikolay-borzov opened #114 "Expose SVG sprite asset filename to JS code"
[webpack-svgstore-plugin](https://github.com/mrsum/webpack-svgstore-plugin) has a really useful feature - it sets values of magic variables (e.g. `__svg__`) in JS code with SVG sprite info (path, content, etc.). It allows implementing your own SVG sprite loading/integration. Use case: You don't have full control of HTML generating (e.g. cannot use HtmlWebpackPlugin because HTML is generated on BE

[2020-06-25 09:36] cascornelissen commented on #114
That sounds like an interesting feature, I'd be interested in a PR if anyone is willing to work this out ✌️

[2020-07-01 12:23] nikolay-borzov commented on #114
I'm trying to use `DefinePlugin` to set the magic variable. But it looks like it's impossible. DefinePlugin only acts before `compilation` hook and we only know SVG sprite filename on `make` hooks. Maybe it's possible to calculate filename beforehand

[2020-07-02 14:51] cascornelissen commented on #114
I'm a bit out of the loop on the Webpack internals to be fair but I don't think the hashes are available before the `compilation` hook so I don't think the `DefinePlugin` is ever going to work.

[2020-07-12 10:24] #112 closed

[2020-07-18 05:17] #113 closed

[2020-07-24 04:23] Arsadh opened #116 "Sprite not rendering properly for sometimes in chrome"
@cascornelissen , Svg sprite are not rendered properly in chrome browser

[2020-07-24 05:23] Netaxis-dev commented on #116
I am also facing the same issue in chrome.

CC:  @Arsadh

[2020-07-24 06:22] cascornelissen commented on #116
Do you have some more information? Which version of the plugin are you using, can you share your SVGs or set up a minimal reproducible test case for me?

[2020-07-25 05:38] Arsadh commented on #116
@cascornelissen , here i attached one svg which I used in sprite and my chrome version is `Google Chrome is up to date
Version 84.0.4147.89 (Official Build) (64-bit)` and laravel mix version I used is `"laravel-mix": "^5.0.1"`. <br>  Svg's are visible only after they are cached in browser

[random.zip](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/files/4974941/random.zip)

[2020-07-26 09:36] cascornelissen commented on #116
Thanks for providing the SVG, there doesn't seem to be a problem with that. I need more info:

* Still no idea which version of the plugin you're using
* Still no idea which version of webpack is used, I suspect it comes with `laravel-mix`, if so what does `npm ls webpack` give?
* What configuration are you using for the plugin?

The following comment, combined with the simple SVG you've provided

[2020-07-27 09:27] Arsadh commented on #116
@cascornelissen , Thanks for your concern, this issue occurs because of the latest Chrome update.

`Reference issue` - https://bugs.chromium.org/p/chromium/issues/detail?id=1107442

[2020-07-27 14:42] cascornelissen commented on #116
@Arsadh, thanks for diving deeper into this, that's a really interesting bug... The fix with the content hash won't solve the issue either in that case and I think the only way to fix this is with the Chrome team. Would you mind if we close this issue?

[2020-07-27 19:05] Arsadh commented on #116
No, I don't mind @cascornelissen

[2020-07-27 19:05] #116 closed

[2020-07-31 05:51] #114 closed

[2020-08-05 16:10] MGMonge commented on #63
Ohhh @ziqq thank you very much!!! I was getting crazy with this issue!!!

[2020-08-21 13:32] nikolay-borzov opened #117 "dummy-module chunk is not deleted"
`webpack`: `4.44.1`
`svg-spritemap-webpack-plugin`: `3.5.7`

Config like:
[code]

When I added `console.log` here:
[code]

I saw:

[code]

[2020-08-24 18:40] #117 closed

[2020-08-24 18:49] cascornelissen commented on #117
@nikolay-borzov, the fix for this issue has been released in version [`3.5.8`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.5.8) 🚀 Thanks for reporting the bug and helping me debug it!

[2020-08-25 05:52] nikolay-borzov commented on #117
Thank you for the quick fix!

[2020-08-25 09:29] maxmadknight opened #118 "Broken build 3.5.8"
On build 3.5.8 getting next error, on 3.5.7 all is OK
[code]

[2020-08-25 09:32] cascornelissen commented on #118
Hmm, strange, could you share your Node.js and Webpack versions?

[2020-08-25 09:37] maxmadknight commented on #118
node v12.14.0
npm 6.14.7

But this issue was discovered on product server with other versions.
Can tell exactly

[2020-08-25 10:11] cascornelissen commented on #118
Are you able to reproduce it on your local system with these versions? Also still missing the Webpack version 😅

[2020-08-26 12:19] ivankristianto commented on #118
I share the same issue:
[code]

[2020-08-26 12:27] cascornelissen commented on #118
Interesting, I can’t seem to reproduce it but I’ll push a potential fix for this later today if multiple people are experiencing this.

[2020-08-26 12:29] ivankristianto commented on #118
@cascornelissen thanks for your quick reply.
Perhaps my webpack configuration might help you to figure out what happen:
[code]

[2020-08-27 13:52] cascornelissen commented on #118
Took a bit longer that I had hoped but the fix in 672bb2b6 should resolve this. Could any of you try this out?

[code]

[2020-08-29 10:43] cascornelissen commented on #118
Pinging @maxgram and @ivankristianto (or anyone else who can reproduce the original issue) to make sure the fix gets verified before making a release.

[2020-08-29 13:03] ivankristianto commented on #118
@cascornelissen from my quick test, it still doesn't work.
I think this is more on compatible issue with my setup. Let me hunt it down this weekend and post anything I found here.

[2020-08-29 13:31] cascornelissen commented on #118
Thanks, I don't think there's any way for the same error to pop up when installing from the `118` branch so please include the actual error/stacktrace if you're running into anything ✌🏼

[2020-08-29 13:38] ivankristianto commented on #118
@cascornelissen
I'm very curious about this issue and spent a bit of time to hunt it down.
And better, i provide the proof of concept where it go wrong.
Here is the repo: https://github.com/ivankristianto/svg-spritemap-webpack-plugin-demo

And if you enable this line:
https://github.com/ivankristianto/svg-spritemap-webpack-plugin-demo/blob/master/src/client.js#L5

And do `yarn && yarn build`,
it w

[2020-08-29 13:50] cascornelissen commented on #118
That error helps a lot, it's slightly different than the initial issue (`Cannot read property 'startsWith' of undefined` vs `Cannot read property 'startsWith' of null`). Apparently both of you have chunks without a name for some reason and apparently `chunk.name` can be both `undefined` and `null` 🤷🏼‍♂️

Could you try installing it from the `118` branch once more? It should now handle both edge ca

[2020-08-29 15:28] ivankristianto commented on #118
@cascornelissen yes it's working for my case! Thank you so much.

[2020-08-29 16:46] cascornelissen commented on #118
@ivankristianto, the fix for this issue has been released in version [`3.5.9`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.5.9) 🚀 I'm expecting this to also solve the original issue, thanks for helping me debug it!

[2020-08-29 16:46] #118 closed

[2020-09-11 16:57] nikolay-borzov commented on #117
@cascornelissen, is it possible to exclude the dummy module from `stats.compilation.chunks`?

[2020-09-11 17:16] cascornelissen commented on #117
I'm not sure but I don't think it is. The dummy module needs to be created and we can't get rid of it until the files are emitted and I'm pretty sure the stats are combined before that point...

But if you want to try it out, you can give it a go I guess.

[2020-09-11 17:22] nikolay-borzov commented on #117
I see. Thanks.

[2020-09-15 08:27] rtatarinov4xxi commented on #118
Thanks. It's very useful improve for me right now :smile:

[2020-09-20 09:26] fgiust opened #120 "css/scss renderers strip needed attributes from svgs"
when using the plugin for generating a scss with embedded svgs we often end up with broken images due to the fact that some information are stripped from the main svg tag.
In particular it strips the "fill" attribute which often is set to "none", and without that svgs tends to have a black background.

here is a simple svg you can try with a screenshot of the broken result:

[info-circle.svg.txt](

[2020-09-21 06:43] cascornelissen commented on #120
My initial response would be that you definitely need to manually optimize these SVGs as these symptoms come from tools like Sketch and Adobe Illustrator but if the patch you've provided fixes the issue for you I'm open to a PR that adds this logic in all of the available style formatters and includes updated/improved tests.

[2020-09-26 16:28] fgiust commented on #120
thanks @cascornelissen ,
pull request ready: https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/121

Apart from patching the scss/css/less renderers I've updated the existing by adding a fill attribute to a test svg and reviewing the output to ensure that the fill was considered.

Just FYI similar svgs are often generated when extracting vectors from Figma, we saw this problem in

[2020-09-30 13:25] cascornelissen commented on #120
@fgiust, I've merged #121 and added the `styles.keepAttributes` option. Could you verify whether this works for you (keep in mind that you'll have to set the `styles.keepAttributes` option to `true`) by installing it from `master`?

[code]

[2020-09-30 15:19] sectsect commented on #108
@cascornelissen

Hi.
webpack 5 is now in RC.
[code]

and the release planned for 2020-10-10.
https://github.com/webpack/webpack/issues/11406

I can't wait for added webpack 5 compatibility to this package.

Thanks.

[2020-10-01 15:08] cascornelissen commented on #108
I've noticed and have been playing around with it for a bit but it seems like the `MultiEntryPlugin` which is used by this plugin is no longer available in webpack 5 and I can't find any information about it so until there is some migration documentation I'm holding of from continuing on this for now.

[2020-10-01 16:28] sectsect commented on #108
@cascornelissen

I got a useful tip.
we can use `webpack/lib/EntryPlugin` multiple times instead of `MultiEntryPlugin` on webpack5.

https://twitter.com/wSokra/status/1311701299914776576?s=20

[2020-10-06 06:37] cascornelissen commented on #120
ping @fgiust

[2020-10-06 07:20] fgiust commented on #120
confirmed @cascornelissen,
installed from master without patches, I can see broken svgs with styles.keepAttributes=false and good ones with styles.keepAttributes=true 👍

[2020-10-06 08:24] SowmediaNL opened #123 "Will this be accepted? Would be great! Thanks!"
Will this be accepted? Would be great! Thanks!

**(p.s. All requeste changes have been made!)**

_Originally posted by @SowmediaNL in https://github.com/cascornelissen/svg-spritemap-webpack-plugin/pull/102#issuecomment-704102252_

[2020-10-06 08:32] SowmediaNL commented on #123
Pull request is made for review. Issue closed.

[2020-10-06 08:32] #123 closed

[2020-10-06 09:23] cascornelissen commented on #120
Good to hear, I'll include this in the next release 👍🏼

[2020-10-09 12:15] indrekpaas opened #125 "Hashed spritemap file name in templates"
Hi, and thanks for a great plugin!

Since the `spritemap.svg` file name isn't hashed by default I ran into an issue where the browser didn't update it's cached version with a new file and some icons were missing from a UI.

I'd like to use `spritemap.[hash].svg` to avoid the above issue, but I haven't found a good way to include the hashed file name in a template, along the lines of `<svg><use hre

[2020-10-09 18:31] cascornelissen commented on #125
There's not much this plugin can do in this case. It is meant to be used to generate a spritemap SVG and what you do with it after that is up to the developer as it totally depends on the rest of the stack that's in use. If you're setting up a simple HTML page you can use something like `html-webpack-plugin`, for some more advanced setups it would be possible to use `stats-webpack-plugin` which wo

[2020-10-09 18:31] #125 closed

[2020-10-11 08:02] cascornelissen commented on #108
PSA: I'm aware Webpack 5 was released earlier today and am still working on getting this plugin to work with both 4 and 5.

[2020-10-27 20:24] cascornelissen commented on #108
Alright, this took way too long for the simplicity of the required change that was blocking a release but thankfully the man, the myth, the legend, Tobias Koppers himself, stepped in when I create an issue on the GitHub repository. His comment pushed me in the right direction and we now have a new release on NPM under the `next` tag. Install it using the following command:

[code]

Please test thi

[2020-10-28 00:18] sectsect commented on #108
@cascornelissen

**v3.6.0** create `spritemap.js` file.
Do you have option to delete this file?

Related? #17

[code]

[2020-10-28 08:49] cascornelissen commented on #108
@sectsect, thanks for reporting the issue, it should be delete automatically (unless `chunk.keep` is set to `true`), there's even a test for it which seems to be green for both Webpack 4 and 5 so I'll investigate manually.

[2020-10-28 10:45] markgaze commented on #108
The `#webpack5` version fixed my issues but since switching to v3.6.0, I get this:

[code]

I've tried to change a few things to see if there was anything else causing it (as I've bumped a few other dependencies at the same time) but it seems like the update to v3.6.0 is the cause. Let me know if I can help you out with debugging this and I'll see what I can do.

[2020-10-28 11:01] cascornelissen commented on #108
Interesting, could you (and @sectsect as well, and anyone running into other issues with `3.6.x`) create a new issue? I wasn't expecting multiple issues to pop up but that'll hopefully prevent some confusion.

For anyone creating issues: it helps a lot if you provide a minimal configuration that reproduces the issue, especially if I can just copy/paste that configuration into the [simple example](

[2020-10-28 11:08] markgaze opened #126 "Webpack v5: Plugin throws errors in v3.6.0"
The `#webpack5` version fixed my issues but since switching to v3.6.0, I get this:

[code]

## Config

Here's the section of the `plugins` array related to this package:

[code]

I've tried to change a few things to see if there was anything else causing it (as I've bumped a few other dependencies at the same time) but it seems like the update to v3.6.0 is the cause. Let me know if I can help you

[2020-10-28 11:52] markgaze commented on #126
Just trying to get to the bottom of this and setting `svg4everybody` to `false` stops this error from showing but doesn't generate the SVG but thought I'd log my updates

[2020-10-28 14:19] markgaze commented on #126
Hmm... I've just reworked my webpack config and now this error has gone away... I did uninstall another plugin so that might have been affecting things but still a bit confused about why changing `svg4everybody` to `false` fixed it earlier.

Feel free to close this unless you can recreate it, apologies for wasting your time!

[2020-10-29 17:07] cascornelissen opened #127 "Webpack v5: Plugin is not cleaning up chunk/module correctly"
@cascornelissen

**v3.6.0** create `spritemap.js` file.
Do you have option to delete this file?

Related? #17

_Originally posted by @sectsect in https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/108#issuecomment-717617447_

[2020-10-29 17:34] cascornelissen commented on #126
Haha, no problem, I'm able to reproduce it using the following configuration. Let's see if we can also find a solution now 🕵🏼‍♂️.

[code]

[2020-10-29 17:48] cascornelissen commented on #126
I think I've found the issue, would you mind sharing your entire Webpack configuration to ensure I didn't miss anything? I'm especially interested in your `entry` (if you've defined it at all).

[2020-10-30 04:03] sectsect commented on #127
@cascornelissen

I created a minimal project.
https://github.com/sectsect/svg-spritemap-webpack-plugin-test

1. `npm run build`
2. Check directory `dist/assets/js`
[code]

[2020-10-30 04:25] sectsect opened #128 "[v3.6.0] Watchpack Error (initial scan): Error: ENOTDIR: not a directory, scandir '/../..'"
I get console errors on `watch` mode.
☝️ FYI: However, the svg file is generated well.

[code]

The error can be resolved by changing the glob pattern as shown below.
Is this the expected behavior?
[code]

## My Test Project
I created a minimal project.
(webpack: `5.3.2` / svg-spritemap-webpack-plugin: `3.6.0`)
https://github.com/sectsect/svg-spritemap-webpack-plugin-test

1. `npm run dev`
2. Chec

[2020-10-30 07:46] cascornelissen commented on #128
Interesting, looks like some file dependencies are getting marked as directory dependencies 🤔 Are you sure this does not happen with Webpack 4?

[2020-10-30 09:09] markgaze commented on #126
Awesome! It's a private project unfortunately but I'll anonymise it and stick it in this issue ASAP 🙂

The `entry` currently only has a bunch of `.ts` files and a couple of `.scss` files though.

[2020-10-30 09:11] cascornelissen commented on #126
It's mainly about the structure of the `entry` value, there's handling for strings, arrays, and objects with different structures and I think you're using a specific type that's not correctly supported currently but I need to know what it looks like to test it 😅

[2020-10-30 09:21] markgaze commented on #126
It's an object that looks like this (I've changed the names of stuff but it's the same format so hopefully that works for you!):

[code]

[2020-10-30 09:37] cascornelissen commented on #126
Awesome, that's indeed a format that appears to be broken. Fix coming right up :v:

[2020-10-30 10:19] markgaze commented on #126
Legend! Thanks 😄

[2020-10-30 10:30] cascornelissen commented on #128
Found the issue and a fix is on the way ✌🏼

[2020-10-30 12:25] #126 closed

[2020-10-30 12:25] #127 closed

[2020-10-30 12:25] #128 closed

[2020-10-30 12:27] cascornelissen commented on #126
This should be fixed in `3.6.1` which is now available under the `next` dist-tag on NPM.

[code]

Please test this release out using both Webpack 4 and 5 if possible and report any problems.

[2020-10-30 12:27] cascornelissen commented on #127
This should be fixed in `3.6.1` which is now available under the `next` dist-tag on NPM.

[code]

Please test this release out using both Webpack 4 and 5 if possible and report any problems.

[2020-10-30 12:27] cascornelissen commented on #128
This should be fixed in `3.6.1` which is now available under the `next` dist-tag on NPM.

[code]

Please test this release out using both Webpack 4 and 5 if possible and report any problems.

[2020-10-30 13:00] markgaze commented on #126
Fantastic, thank you! Will give it a go and let you know 😄

[2020-10-30 13:22] markgaze commented on #126
Tested with Webpack 4 and 5 and I can confirm that it works with both 😄

Thanks for all your help with this, you're a lifesaver! ❤️

[2020-10-30 13:23] cascornelissen commented on #126
Well, thanks for your help! It prevents a lot of stress and hassle if people test out a release before stamping the stable/latest label on it. ✌🏼

[2020-10-30 13:42] cascornelissen commented on #108
All bugs that were found so far have been fixed and released in `3.6.1`.

[code]

Please test this release out using both Webpack 4 and 5 if possible and report any problems. If nothing pops up during the coming days I'll release it with the `latest` dist-tag this Sunday.

[2020-10-31 09:20] cascornelissen commented on #120
Bad bot! I'll include this in release `3.7.0` but I first want to make sure `3.6.x` (Webpack 5 support) works well.

[2020-11-01 10:43] cascornelissen commented on #108
With the release of [`3.6.2`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.6.2) on NPM with the `latest` dist-tag: Webpack 5 is now officially supported 🚀

If anyone runs into anything, please create a new issue.

[2020-11-01 10:43] #108 closed

[2020-11-01 11:16] cascornelissen commented on #120
`3.6.2` has been marked as `latest` on NPM now so this is released. Thanks once more for your contribution. 🚀

[2020-11-01 11:16] #120 closed

[2020-11-01 11:40] fgiust commented on #120
wonderful, thanks @cascornelissen

[2020-11-04 00:15] pjho opened #129 "v3.6.0+ is causing mini-css-extract-plugin not to output css file"
Hey there,

I've had an issue with the upgrade to anything from 3.6.0 and above where my CSS files are no longer being created.

I've setup a lightweight example here https://github.com/pjho/svg-spritemap-webpack-plugin-example.

`npm install svg-spritemap-webpack-plugin@3.5.10 && npm run build` everything works as expected.

`npm install svg-spritemap-webpack-plugin@3.6.0 && npm run build` css is

[2020-11-04 00:23] pjho commented on #129
Man, looking at the changes you've released between those versions it seems so wierd that they would be the cause of this but switching between those versions definitely effects the output in both my actual setup and the lightweight set up supplied.

Anyways, thanks for an awesome plugin. Any thoughts would be appreciated. :+1:

[2020-11-04 10:22] cascornelissen commented on #129
Interesting, will look at this later today. If you (or anyone else running into this) would like to help figure this out in the meantime:

1. A PR with a failing test case would help a lot
2. Knowing what the outcome in both cases is when using Webpack 5 would also help

[2020-11-04 20:39] cascornelissen commented on #129
Alright, seems like it's related to switching from `MultiEntryPlugin` to `SingleEntryPlugin` (`MultiEntryPlugin` isn't available anymore for Webpack 5). I've pushed a change to `master`, could you test it to ensure it actually fixes your issue:

[code]

---

Leaving some notes for my future self here in case this ends up being a problem for some reason.

I have absolutely no idea why returning `un

[2020-11-04 20:44] pjho commented on #129
Thanks for your comment above. Will check that now. Just been looking into results with Webpack 5.

So with Webpack 5 using the sample repo linked above:

1) no  svg-spritemap-webpack-plugin -> builds fine
2) svg-spritemap-webpack-plugin@3.5.10 breaks obviously as it doesn't support WP5.
3) svg-spritemap-webpack-plugin@3.6.0 breaks with the following
<img width="821" alt="Screen Shot 2020-11-05 at

[2020-11-04 20:48] cascornelissen commented on #129
The issue you're seeing with `3.6.0` was fixed in [`3.6.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.6.1).

It's interesting that the scenario 4 works correctly but I guess that's because of some internal changes in `SingleEntryPlugin` in Webpack 5.

[2020-11-04 20:51] pjho commented on #129
Cool just tested `cascornelissen/svg-spritemap-webpack-plugin#master` in both sample repo and my full repo with webpcak 4 and all is building fine 🎉

Thanks for looking into it so quickly and for maintaining this plugin :+1:

[2020-11-04 20:57] cascornelissen commented on #129
No problem at all, thanks for reporting the issue. The fix was released with version [`3.7.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.7.1) which I have just published on NPM 🚀

Let's hope there's not another issue reported here later this week that would be caused by this 🤞🏼

[2020-11-04 20:57] #129 closed

[2020-11-05 13:59] cahyowhy opened #130 "Error: CSS minification error: postcss-svgo: Error in parsing SVG: Unbound namespace prefix: "xlink""
got an error `CSS minification error: postcss-svgo: Error in parsing SVG: Unbound namespace prefix: "xlink"`
while running npm run build.
But on dev it seems fine.. this is my configuration

[code]

btw i use this version..
`"svg-spritemap-webpack-plugin": "3.7.1",`
this is my node version `v10.16.3`

thanks..

[2020-11-05 14:34] cascornelissen commented on #130
Can you test if this happens with specific icons by only letting the plugin generate a spritemap for a single icon file? If you've found one, could you include it in this issue?

[2020-11-05 17:10] dutchenkoOleg opened #131 "Error when using with webpack-manifest-plugin"
I using webpack 5.
My config:

[code]

And faced with error

[code]

What I'm doing wrong or it's ManifestPlugin prodlem.
Without ManifestPlugin all works fine...

[2020-11-05 17:22] cascornelissen commented on #131
Which version of `webpack-manifest-plugin` are you using?

[2020-11-05 21:07] dutchenkoOleg commented on #131
`next` (^3.0.0-rc.0)
specialy for webpack 5

[2020-11-06 09:46] cascornelissen commented on #131
Hmm, it definitely looks like an issue with `manifest-webpack-plugin`, the stack trace you provided points to a TypeError in that plugin where it looks like to be going wrong for a chunk without any files (either created by this plugin or not) which is a valid scenario in Webpack AFAIK.

Please report the issue on that repository. If it ends up needing a fix in this plugin (once a stable release o

[2020-11-06 09:46] #131 closed

[2020-11-06 09:47] cascornelissen commented on #130
Also, you might want to set the `styles.keepAttributes` option to `true`. I'm pretty sure that should solve it either way.

[2020-11-09 13:58] cahyowhy commented on #130
thanks for replying..
i thinks this is related to cssnano. gonna close this

[2020-11-09 13:58] #130 closed

[2020-11-10 08:22] PrOpOvEdNiK opened #132 "Webpack v5: Error: Module.issuerThere was no ModuleGraph assigned to the Module for backward-compat (Use the new API)"
I use laravel-mix. After switch to 6.0.0-beta release #webpack5 patch was very helpful and worked well for me. Thx)
Now I'm upgrade plugin to v3.7.1 and get this error.

To reproduce
package.json
[code]

webpack.mix.js
[code]

Full error text
[code]

[2020-11-10 08:30] cascornelissen commented on #132
Interesting, I'll look into this in the coming days. In the meantime if you want to help:

1. What do you mean with _#webpack5 patch_? The branch that was available for some time?
1. Can you figure out which version is still working for you? If `3.6.0` is working correctly can you try all of the versions between `3.6.0` and `3.7.1`?
1. It would save me quite a bit of time if you can provide a repo

[2020-11-10 10:01] PrOpOvEdNiK commented on #132
1. Yes. I mean that branch.
2. On 3.6.0 same. And I realized that the problem in "laravel-mix": "^6.0.0-beta.14" too. But it will not work for sure because mix don't work on <beta.14 at now. On beta.10 and #webpack5 branch it worked well.
3. [Here it is](https://github.com/PrOpOvEdNiK/laravel-mix-6). With "laravel-mix": "^5.0.7" that webpack.mix.js works well.

[2020-11-10 17:16] cascornelissen commented on #132
Took some time trying to debug this but I can't get the repository to run. First it has an invalid version in `package.json` but even after fixing that I'm running into `command not found: mix` errors. Keep in mind that I have never used Laravel Mix so I have no idea what I'm doing, I was hoping to be able to run `npm start` or `npm run build` and see the problem occur so this isn't helping me muc

[2020-11-10 17:33] PrOpOvEdNiK commented on #132
Sorry, I forgot to write how to run it.
After `npm install` you can run `npm run dev` or `npm run prod` or just `npx mix`. This take the same effect.
I fixed the version to 3.7.1 and checked again - the problem repeats.

[2020-11-10 18:17] cascornelissen commented on #132
Just checked it out again, ran into the same invalid `version` in `package.json`:

[code]

Apparently that was also preventing the npm dependencies from getting installed so I'm now able to reproduce the issue.

[2020-11-10 18:29] PrOpOvEdNiK commented on #132
It's probably just the package name, not version.
Name "laravel-mix" conflict with original package.
It's strange that I had no problem with it. omg... shame on me

[2020-11-10 19:07] cascornelissen commented on #132
It's definitely the version, according to the [spec](https://docs.npmjs.com/cli/v6/configuring-npm/package-json#version) the version should be parseable by the [`semver`](npmjs.com/package/semver) package and `'1.0'` is not.

I can image you're using Yarn and there might be other rules.

----

With regards to the problem it might indeed be a problem in this plugin. The fact that you're using `mix.

[2020-11-10 19:49] cascornelissen commented on #132
I'm not 100% sure this problem can be fixed in this plugin...

* [`Module.issuer` is deprecated in Webpack 5](https://webpack.js.org/blog/2020-10-10-webpack-5-release/) and should be replaced by something like `compilation.moduleGraph.getIssuer(module)`.
* The module that is generated by this plugin is a dummy one so it doesn't really have an issuer
* I've tried setting `module.issuer` (e.g. to `c

[2020-11-10 19:49] #132 closed

[2020-11-29 22:28] pdrittenhouse opened #133 "SASS mixin sprites won't resize."
I'm using the SASS mixin to add sprites as background images and everything seems to work fine (the icons show up and the color works) except I'm not able to resize the images.  I'm assuming that the svg's aren't being minified so the whitespace isn't being removed.  I have the svgo option set to "true" and even have svgo installed globally.  I'm not sure that it's actually processing the svg's be

[2020-11-30 14:06] cascornelissen commented on #133
This is caused by the fact that the `width` and `height` attributes on the `svg` element appear to be missing from the generated SVG. Usually this is caused by SVGO, could you try passing `false` to `output.svgo`? This could be caused by the `removeDimensions` plugin for example. It could also be that it's stripped somewhere else in the plugin, if disabling `output.svgo` doesn't solve the issue co

[2020-12-01 15:11] matteobertoldo opened #134 "feat: spritemap is on cache?"
Hi! 👋 I use this plugin with the latest version of `webpack` (`>=5.0.0`)...it works very well!...
but every time I save a file other than a `.svg` extension a spritemap is generated again..it seems that the final bundle is not in cache. What happens with the `.scss` & `.js` files instead (the first two modules are cached as you can see from the screenshot)

<img width="511" alt="hero-cli-spritemap

[2020-12-02 02:29] pdrittenhouse commented on #133
I tried disabling svgo and also tried passing in an options object to explicitly disable removeDimensions and neither worked.  I've set up a [repo here](https://github.com/pdrittenhouse/svg-spritemap-webpack-plugin-test) that reproduces the issue.

[2020-12-02 09:18] aschanMarcus commented on #133
@cascornelissen it looks like height and width attributes are removed in multiple places.

[/lib/generate-svg.js#L160-L162](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/lib/generate-svg.js#L160-L162)
[/lib/style-formatters/scss.js#L53-L55](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/lib/style-formatters/scss.js#L53-L55)

Perhaps height a

[2020-12-03 08:04] cascornelissen commented on #134
Hmm, to be honest I have actually never looked into this. I was kind of expecting Webpack to handle this internally but we might need to add some logic to make it clear to the compiler that nothing changed somehow.

If you (or anyone else reading this) want to; feel free to dig into this and submit a PR. If nothing happens with it I might check it out once I have some free time again.

[2020-12-03 08:44] cascornelissen commented on #133
@pdrittenhouse, thanks for the repository (probably the best I've seen so far) ❤️ And @aschanMarcus thanks for linking to the required logic. If you zoom out just a few lines it's wrapped in an `if` statement to check for `options.keepAttributes`.

https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/13e6a341b1f93cd3f112b130f1d8693d70b5f5a3/lib/style-formatters/scss.js#L51-L59

This

[2020-12-03 09:43] cascornelissen commented on #134
@matteobertoldo, is there any specific setup you use to get these `[cached]` indicators in your output? I've been trying to get them to show up for some simple JS files but they're never in the stats output 😅

[2020-12-03 11:24] matteobertoldo commented on #134
@cascornelissen here is my [configuration](https://github.com/matteobertoldo/freedomhood/blob/master/webpack.config.js)! 😊

Now I try to set the `cache` settings to `true` and update you.

[2020-12-03 11:47] cascornelissen commented on #134
@matteobertoldo, I'm pretty sure I know where the problem lies but it boils down to the fact that an asset (the spritemap SVG) can't have cache dependencies within the Webpack internals. Which is strange, because the stats printing logic does check whether the `cached` property on the asset object is truthy. I'm digging some deeper into this 🕵🏼

Do your projects have any other **assets** (not modu

[2020-12-03 11:56] matteobertoldo commented on #134
unfortunately I only have `.scss`, `.js` and `.svg` files to compile. I have no other types of _assets_ that come from other plugins, so I can keep track of whether it manages to keep the cache or not...

[2020-12-03 18:32] cascornelissen commented on #134
Phew, that was quite the rabbit hole but the changes in 4db4ca6 should improve this and it also includes some other minor performance improvements. Since this is quite a large refactor please test it out thoroughly in your setup @matteobertoldo (also with Webpack 4 if that's feasible for you).

You can install these recent changes directly from GitHub using the following command.

[code]

Let me k

[2020-12-04 00:13] pdrittenhouse commented on #133
@cascornelissen, awesome! That worked. Thank you so much.

[2020-12-04 00:29] #133 closed

[2020-12-04 13:57] matteobertoldo commented on #134
@cascornelissen mmmh: `HookWebpackError: compilation.options.plugins.filter(...).flatMap is not a function`

<img width="956" alt="Schermata 2020-12-04 alle 14 50 26" src="https://user-images.githubusercontent.com/15775323/101171989-d7b98a80-3640-11eb-8620-6a783dbcdbd3.png">

<img width="964" alt="Schermata 2020-12-04 alle 14 50 38" src="https://user-images.githubusercontent.com/15775323/101171994

[2020-12-04 19:50] cascornelissen commented on #134
Whoops, that's my bad, you're probably on an older version of Node.js. Commit 1ebaa74 fixes this, could try again? 😅

[2020-12-06 09:11] wakenby opened #135 "Do not working wds without svg"
If you run wds with an empty icon folder and then add icons, then the svg-spritemap-webpack-plugin will not work.

But if you run wds with any icon, then adding new svg-spritemap-webpack-plugin will work fine.

config:

[code]
[code]

[2020-12-07 14:43] matteobertoldo commented on #134
@cascornelissen well done! 🙇🏽‍♂️💯 Perfect! waiting for the next release! 😊

Thank u so much!

<img width="457" alt="cli" src="https://user-images.githubusercontent.com/15775323/101363973-506b5180-38a2-11eb-8991-51fcdbbbc08e.png">

[2020-12-08 20:38] cascornelissen commented on #134
Good to hear! I'm aiming to combine this together with the fix for #135 in the next release. I'll post a comment in both issues when the release is available ✌🏼

[2020-12-08 20:39] cascornelissen commented on #135
That was quite the edge case but I'm pretty sure the fix in b5c1071 solves this really well. Can you try out the changes and report back?

You can install these recent changes directly from GitHub using the following command.

[code]

Let me know if it solves the issue on your side ✌🏼

[2020-12-09 00:02] wakenby commented on #135
Works!!!

But if there are no icons, then an empty sprite.svg is still created((

[2020-12-09 12:54] cascornelissen commented on #135
@wakenby, good point, didn't notice that. The changes in c009e6e should fix this. Could you test it out once more by installing it directly from `master`?

[2020-12-09 13:09] wakenby commented on #135
perfect work!!!

[2020-12-09 13:09] #135 closed

[2020-12-10 08:51] cascornelissen commented on #134
These changes were included in [`3.8.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.8.0), thanks once more for reporting the issue! 🚀

[2020-12-10 08:51] cascornelissen commented on #135
These changes were included in [`3.8.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.8.0), thanks once more for reporting the issue! 🚀

[2020-12-10 08:51] #134 closed

[2020-12-10 10:48] markgaze opened #136 "Path not valid in v3.8.0"
**Description**

v3.8.0 throws an error about invalid paths when running the same config that is working in v3.7.1:

**Expected behavior**

SVG output is successful

**Actual behavior**

[code]

**System information**

[code]

**Minimal reproduction**

It's a private repo and haven't had chance to do this yet but the plugin config looks like this:

[code]

If necessary, I can try and recreate this

[2020-12-10 11:06] cascornelissen commented on #136
@markgaze, does the error include a stack trace by any chance?

[2020-12-10 11:07] markgaze commented on #136
Ah, apologies, will recreate it and update the issue 🙂

[2020-12-10 11:11] markgaze commented on #136
@cascornelissen I've added the stack trace now, cheers!

[2020-12-10 11:15] cascornelissen commented on #136
@markgaze, thanks. I can't seem to reproduce this but I'm hoping the change in 9f44e93 fixes this. Could you test it out real quick by installing it directly from GitHub?

[code]

[2020-12-10 11:17] markgaze commented on #136
Will do, thanks 🙂

[2020-12-10 11:20] markgaze commented on #136
It works! 😄

Thanks again for your speedy response!

[2020-12-10 11:25] cascornelissen commented on #136
Thank goodness, if it wasn't that this would've been really hard to debug... Thanks for your help!

The fix was released in [`3.8.1`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.8.1) 🚀

[2020-12-10 11:25] #136 closed

[2020-12-10 11:27] markgaze commented on #136
Legend, thanks! ❤️

[2020-12-10 13:25] cascornelissen commented on #136
Hi @markgaze, I just wanted to thank you for sponsoring me, that means a lot to me and actually made my day! ❤️

[2020-12-10 13:38] markgaze commented on #136
Glad to hear it! I know it's not a massive amount of money but I wanted to show my appreciation for your work and your quick turnaround has saved me with this issue and #126 so thank you! ❤️

[2020-12-10 16:19] alessandro308 opened #137 "Specify the output folder instead of webpack.output.path"
**Description**
I would like to specify an output folder different from the `webpack.output.path`.

[2020-12-10 16:36] cascornelissen commented on #137
For some context, why exactly would you want to do that?

Webpack doesn't really give plugin maintainers the tools to support that so I'm a bit hesitant on adding this unless there's a solid reason for it. A better way might be to use something like [`event-hooks-webpack-plugin`](https://github.com/cascornelissen/event-hooks-webpack-plugin) and execute some logic when the `afterEmit` or `assetEmit

[2020-12-12 23:08] jasonevines opened #138 "Webpack 5: Error when output.chunk.keep is false"
When using Webpack 5, unless I set output.chunk.keep to true, the compilation fails with this error:

`
caused by plugins in Compilation.hooks.processAssets
  TypeError: chunk.files.delete is not a function

  - Compilation.js:3114 Compilation.deleteAsset
    [app]/[webpack]/lib/Compilation.js:3114:22

  - index.js:374
    [app]/[svg-spritemap-webpack-plugin]/lib/index.js:374:33

  - Array.forEach

[2020-12-14 22:19] Diono opened #139 "[contenthash] output.filename does not apply to scss url(...) property"
**Description**
Since I updated 'svg-spritemap-webpack-plugin' to version 3.8.1
The [contenthash] value is not converted on the generated scss file.

I did a minimal config from my project: https://github.com/Diono/test

and i cant build, i got this error:

it seems to build the .scss file before generating the sprite.svg file

**Expected behavior**
generate a scss file referencing the path of the

[2020-12-15 21:30] cascornelissen commented on #138
Looks like this slipped in during a refactor last week, aiming to fix this near the end of this week. Thanks for reporting :v:

[2020-12-15 21:31] cascornelissen commented on #139
Hmmm, that's an interesting one but I'm sure it's fixable. I'll look into this later this week. Thanks for reporting! :v:

[2020-12-16 19:38] cascornelissen commented on #138
Hmm, I can't seem to reproduce this. The stacktrace you've provided errors [here in Webpack's `Compilation.js`](https://github.com/webpack/webpack/blob/10ad4e95b850bbe20019275fd1d364666c4b69ea/lib/Compilation.js#L3114), outside of the plugin.

Could you...
1. Clone this repository and run the [simple example](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/simpl

[2020-12-17 13:03] cascornelissen commented on #139
@Diono, can you check if the changes in 7456eba fix this issue for you?

You can do so by installing directly from `master`:

[code]

[2020-12-17 15:43] Diono commented on #139
thanks @cascornelissen but the changes not fix my issue.
Now the flag '[contenthas]' is deleted.

what is weird in this setup, i can't finish the build. there is an error somewhere that i cannot identify

[code]

[2020-12-17 15:48] Diono commented on #139
thank you @cascornelissen it works now :)
the contenthash is converted to the scss file (I posted a bad message that I just deleted because I saw that I had forgotten the filename options on my webpack configuration)

[2020-12-18 15:25] kareljan opened #140 "svg4everybody not added if entry is .ts file"
svg4everybody seems not to be added if your entry is a typescript file.
svg4everybody should be added to the .js output no?
Or am I missing something?

[2020-12-18 16:17] cascornelissen commented on #140
It should at least at the file but I'm not sure what happens when the TS compiler parses it. I'm gonna need a bit more information (that's why there's a template when you create an issue). Feel free to look into it yourself and submit a PR or if you're able to set up a small repository with the required setup (Webpack, TS, this plugin) I'll have a look into what's really happening internally.

[2020-12-18 16:25] cascornelissen commented on #139
This has been released in version [`3.8.2`]() 🚀

[2020-12-18 16:25] #139 closed

[2020-12-27 18:04] wakenby opened #142 "Include sprite.svg in js and add sprite.svg from js to html"
**Description**
Add ability to add sprite.svg to js file and embed sprite.svg to page from js file

**Additional context**
To work with complex icons, you need to manually insert sprite.svg into the page:

[code]

But with this approach there is no end-user caching.

It would be cool if the plugin would add the svg to the js file by itself and insert it into the page

[2020-12-31 13:38] cascornelissen commented on #142
IMO this is not something the plugin itself should handle. Simply because there's an endless amount of ways to set up the "page" and almost all of them offer some way to add arbitrary code to the page.

If you're using `html-webpack-plugin` then [this example](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/tree/master/examples/inline-html) shows how to do so and for more complex us

[2021-01-04 20:08] danielbachhuber commented on #132
@PrOpOvEdNiK I'm running into this issue now. Did you find a workaround, or discuss with @JeffreyWay?

[2021-01-10 04:22] #137 closed

[2021-01-11 02:14] PrOpOvEdNiK commented on #132
@danielbachhuber no. We had rollback to the laravel-mix 5 in projects where there is svg-spritemap-webpack-plugin

[2021-01-11 16:05] mlachance opened #143 "Bug: undefined property not caught"
https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/82eae12495c34adfcbc11427a295c6271a4fc06b/lib/index.js#L203

This line is throwing the error `TypeError: Cannot read property 'warnings' of undefined` when I attempt to run Webpack. Manually changing this to :

[code]

solved the issue in the short term for me.

[2021-01-11 17:57] danielbachhuber commented on #132
Thanks @PrOpOvEdNiK. I've opened a Laravel Mix issue about it: https://github.com/JeffreyWay/laravel-mix/issues/2767

[2021-01-12 09:58] cascornelissen commented on #143
That makes sense, strange this wasn't caught before... To debug, could you share your configuration? Also, if you want, can you create a PR with that change?

[2021-01-12 10:27] mlachance commented on #143
I'll try to replicate the config (it was an obsolete call to generate sprite SVG's from a nonexistent folder, and I deleted it a few commits ago).

Here was the offending line:
[code]

I will make a pull request some time today or tomorrow.

[2021-01-13 19:34] cascornelissen commented on #143
This fix was released in [`3.8.3`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.8.3), thanks for your contribution! 🚀

[2021-01-14 11:15] danielbachhuber commented on #132
@PrOpOvEdNiK This will be fixed in the next tagged release of Laravel Mix https://github.com/JeffreyWay/laravel-mix/pull/2768

[2021-01-15 02:03] PrOpOvEdNiK commented on #132
@danielbachhuber It's great! Thanks for taking care of this!

[2021-01-18 07:20] #140 closed

[2021-01-22 09:56] chomuRollet opened #145 "Bug with svg4everybody package"
**Description**
With the last version 3.8.3, the svg4everybody no display, if this option is set:
[code]
I also import the svg4everybody in my app, but nothing works. And the icons not appear on IE11.

Notice that, this work with an older version 3.5.7 of this package.

**Expected behavior**
The icon can display on older browser like IE11, with the option svg4everybody

**Actual behavior**
The svg

[2021-01-22 15:37] cascornelissen commented on #145
Seems like it broke somewhere between 3.5.7 and 3.8.3 for you?  Are you able to figure out which version broke it exactly by testing out several version in that range?

Do you mean that manually adding `svg4everybody` to your bundle and executing `svg4everybody()` [as described in the docs] also does not work? If so, then it's highly unlikely it's a problem with this plugin.

[2021-01-22 15:37] #143 closed

[2021-01-26 16:04] andrejs-uibo opened #146 "TypeError: Cannot read property 'content' of undefined"
When trying to build assets, I get this error:
[code]
Here is a part of webpack config how I use this plugin:
[code]
This is on webpack v5.16.0
Plugin v3.8.3

[2021-01-26 17:17] andrejs-uibo commented on #146
This could be related to https://github.com/cascornelissen/svg-spritemap-webpack-plugin/issues/143

[2021-01-27 10:37] czhDavid opened #147 "How to require generated sprite in JS file"
Hi i have a quiestion and can't find solution anywhere. We want to add hash to the generated sprite, so when we add or change an icon, the browser will download newer spritefile.
This can be easily achieved with
`.addPlugin(createSvgSpritemapPluginInstance('images/icons.[contenthash].svg')) `
And this will generate the file and line in manifest.json
`"dist/images/icons.svg": "/dist/images/icons.68

[2021-01-28 21:24] cascornelissen commented on #146
Had a quick look and I've made a similar change in 2b72654 which should also solve this. Would you mind trying to install the plugin from `master` by using the following command and letting me know if this also solves the problem you're running into?

[code]

[2021-01-28 21:31] cascornelissen commented on #147
You probably don't want to `import` the SVG spritemap file as that will download the entire spritemap every time you try to import/use a single sprite. There's a couple of approaches:

* Switch to something like [`react-inlinesvg`](npmjs.com/package/react-inlinesvg) and import each icon separately, skipping the use of the spritemap
* Import the SVG spritemap in the HTML template instead and refere

[2021-01-28 21:31] #147 closed

[2021-01-29 09:38] insekticid opened #149 "How to generate "build/svg/icons.svg": "build/svg/icons.05c988844bf3b74a.svg" in manifest.json?"
What I am doing wrong? Thanks for help!

[code]

[2021-01-29 16:11] cascornelissen commented on #149
I'm going to need a bit more information 😅  What is it you're trying to do exactly, what have you tried and what isn't working as you expected?

I'm guessing you also use `webpack-manifest-plugin` to generate a `manifest.json` but it doesn't include the spritemap SVG? If that's the case, can you provide a minimal repository that I can use to reproduce the issue?

[2021-02-02 04:41] #142 closed

[2021-02-02 17:29] toooni commented on #149
I am not sure but I think I have the same issue:
[code]

the desired entry would be:
[code]

[2021-02-03 13:27] toooni commented on #149
I think I've worked it out. The new version starting at v3.0.0 from https://github.com/shellscape/webpack-manifest-plugin has a new `removeKeyHash` option. This option by default is `/([a-f0-9]{32}\.?)/gi`. This means that only hashes with the length of 32 characters are removed.

A working solution is to set the `removeKeyHash` option to `/([a-f0-9]{16,32}\.?)/gi`.

[2021-02-04 10:39] cascornelissen commented on #149
It looks like more plugins are running into this: https://github.com/shellscape/webpack-manifest-plugin/issues/241.

I'm hoping they change it on the side of `webpack-manifest-plugin` because I don't see any specific reasons why a hash has to be a certain length (in this scenario). Let's keep this issue (and the PR) open for now until things are clearer.

The workaround for now is to manually spec

[2021-02-04 10:49] cascornelissen commented on #146
ping @andrejs-uibo

[2021-02-04 10:55] andrejs-uibo commented on #146
Sorry, have not had the time to check, but it seems like it should solves the issue.

[2021-02-05 12:45] refsz opened #151 "Scss with format fragment and prefix function"
Hi, I use your plugin in almost every project and like it very much, thanks for that.
Now I wanted to test in scss/css fragments, but unfortunately the prefix function is not executed there.

**Expected behavior**
[code]
**Actual behavior**
[code]

**System information**
svg-spritemap-webpack-plugin: ^3.8.3 => 3.8.3

**Minimal reproduction**
[code]

[2021-02-05 21:13] cascornelissen commented on #151
Thanks for submitting this interesting bug @refsz, it was a little hard to test properly but I think the changes in e3572b1 should solve your issue. Please test the changes out by installing the plugin directly from GitHub and letting me know your results.

[code]

[2021-02-05 21:38] cascornelissen commented on #149
Submitted the PR to increase the range in `webpack-manifest-plugin` at https://github.com/shellscape/webpack-manifest-plugin/pull/248.

Also found out about the [`output.hashDigestLength` Webpack option](https://webpack.js.org/configuration/output/#outputhashdigestlength) so the change in ec05468 should increase consistency a bit in that regard.

[2021-02-06 07:32] refsz commented on #151
Hi @cascornelissen , thanks for your quick reply. The fragment looks correct but the key has changed and is without prefix.
I think it was with a prefix before that. Even if you configured data as the format.

[code]

[2021-02-08 12:21] antonyd89 opened #152 "referencing via fragment identifiers doesn't work"
As mentioned in the documentation:
Whether to include a <view> element for each sprite within the generated spritemap to allow referencing via fragment identifiers (https://css-tricks.com/svg-fragment-identifiers-work/). Passing a string will use the value as a postfix for the id attribute.

**Expected behavior**
If you write CSS background style and in the URL path mention particular fragment ide

[2021-02-09 12:02] antonyd89 commented on #152
I found the mistake in my configs. Issue has been solved

[2021-02-09 12:02] #152 closed

[2021-02-09 18:25] cascornelissen commented on #151
That's the way it was implemented initially, afterwards the ability to provide a callback function to the `prefix` option was added. Changing that now would mean a breaking change or yet another option that could toggle this functionality on (default would be off).

The only reason I can imagine where you'd want to have the prefix (and postfix) in the key is when there would/could be duplicates. I

[2021-02-10 09:13] Veron116 opened #153 "uncorrect ids for <view> element"
I'm trying to use generated sprite for css background and I found this bug:
If I want to use svg like a background-image I have to enable options view and use for sprite

[code]
After that I need to use svg in my css like this
[code]

But this way [not working](https://codepen.io/jennhi/post/using-svg-symbols-as-css-backgrounds) because plugin is adding identical ids for `<symbol>`, `<use>` and `<

[2021-02-10 11:05] Veron116 commented on #153
Sorry, I've found that option sprite.generate.view can accept a string and generate postfix for id.

[2021-02-10 11:05] #153 closed

[2021-02-10 12:00] Veron116 commented on #146
There is an error if change the style option
` error  in ./node_modules/svg-spritemap-webpack-plugin/svg4everybody-helper.js`

[2021-02-10 13:28] refsz commented on #151
I can only say that in the current version (3.8.3) the prefix is part of the key in the scss map. I don't know how far back this behaviour goes. In general i think the key in the scss should be identical to the symbol ID because with both you reference the sprite.

Yes, I use the prefix function to avoid duplicates. Basically I have two themes in the project (Base & Custom) and each theme has an i

[2021-02-11 19:02] cascornelissen commented on #146
@Veron116, do you have any more information? Are you talking about the latest release on NPM or the `master` branch?

[2021-02-11 19:14] cascornelissen commented on #151
You are 100% correct, my brains are a bit hazy on the details but if it's like that in 3.8.3 we should keep it that way. If I find some time in the coming days this is on the top of my todo list.

For context, it was added in [3.3.0](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.3.0), the release notes link to the PR/issue so there's more information to find there.

[2021-02-14 18:16] cascornelissen commented on #151
It took a bit of time and debugging (it's actually a bug/inconsistent behavior) but the changes in b3e2b24 introduce a new `sprite.prefixStylesSelectors` option (default `false`) which can be enabled to add prefixes to all styles-related selectors.

@refsz, if you have some time can you validate that this is working as intended?

[code]

[2021-02-16 06:31] refsz commented on #151
The new option works with scss as intended. Thanks for the quick implementation.

[2021-02-16 09:33] cascornelissen commented on #149
Since https://github.com/shellscape/webpack-manifest-plugin/pull/248 has been merged and I'm expecting it to be released not too long from now as well, I'm going to close this issue. Thanks to everyone involved ✌🏼

[2021-02-16 09:33] #149 closed

[2021-02-16 11:45] cascornelissen commented on #146
This change was included in [`3.9.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.9.0) 🚀

[2021-02-16 11:45] #146 closed

[2021-02-16 11:45] cascornelissen commented on #151
This change was included in [`3.9.0`](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/releases/tag/v3.9.0) 🚀

[2021-02-16 11:45] #151 closed

[2021-03-04 18:41] cascornelissen commented on #138
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2021-03-04 18:41] #138 closed

[2021-03-04 18:41] cascornelissen commented on #145
This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs.

[2021-03-04 18:41] #145 closed

[2021-03-08 20:14] wrux opened #155 "Spritemap plugin does not work with Storybook"
**Description**
The sprite map plugin does not work in combination with Storybook.

**Expected behaviour**
In my project it works fine in the standard build pipeline, but not with Storybook.

My Storybook config:

[code]

**Actual behaviour**

Storybook exists on startup with the following exception:

[code]

**System information**

[code]

**Minimal reproduction**

1. Create a storybook-html proj

[2021-03-09 09:18] cascornelissen commented on #155
Tried figuring this out but something strange is happening. You seem to be using 3.9 but the stacktrace references [L466](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/v3.9.0/lib/index.js#L466) which seems totally unrelated to `TypeError: Cannot read property 'tap' of undefined`.

Is your project public or can you share a repository that reproduces the issue to do some debugg

[2021-03-14 23:02] pjho opened #157 "WebpackManifestPlugin output differs between initial compile and subsequent recompiles in watch mode"
**Description**
On build and initial compile in watch mode Webpack spritemap is written to manifest as:

`{"<settings.filename>": "/path/to/spritemap.svg"}`.

On subsequent rebuilds it is written as:

`{"<settings.chunk.name>": "/path/to/spritemap.svg"}`

**Expected behavior**
I would expect both outputs to be the same. Ideally recorded as `<settings.chunk.name>.svg`

**Actual behavior**
see descr

[2021-03-16 18:28] cascornelissen commented on #157
I'm not entirely sure how webpack-manifest-plugin works internally but is this difference also visible in the Webpack output in your terminal or not? This plugin "just" adds a file to the internal Webpack compilation object and I'd guess the webpack-manifest-plugin uses that same object so I'm not entirely sure where this is going wrong 🤔

[2021-03-16 19:21] cascornelissen commented on #157
I just noticed you included a repository and reproduction steps, thanks for that!

I think where this is going "wrong" is the fact that you're using paths in both the `output.filename` Webpack option and the `output.filename` SVG Spritemap Webpack Plugin configuration. I wasn't expecting that this would even work (and I still think it's strange, why include a path in something called "filename") b

[2021-03-16 20:19] pjho commented on #157
Thanks for taking a look. I'll see if I can tidy up my webpack settings. I agree it is odd specifying path in the filename option - the purpose being to keep output assets in tidy folders but a) there may be better way to configure that and b) it probably doesn't actually matter since its compiled output and path is referenced by manifest file. Anyways, failing that I'll try and take a look at a p

[2021-03-16 20:42] pjho commented on #157
hmm. Even commenting out both filename settings in webpack config (webpack and SVGSpritemap settings) I get the same behavior. And there is a difference in the output in webpack terminal. On the recompile `spritemap.svg` is missing from the output files - or is it that top line which is unamed with the [cached] flag.

![Screen Shot 2021-03-17 at 9 28 09 AM](https://user-images.githubusercontent.co

[2021-03-18 20:01] cascornelissen commented on #157
Hmm, that's really interesting 🤔  I was sure I checked it without the path as well, must've overlooked something. Will take a better look at it when I find the time, thanks for spending some time on the debugging on your side! ❤️

[2021-03-25 23:18] Andreas-Halemba commented on #78
@cascornelissen funny that they seem to now are back at `joi`. Would you mind switching back to joi instead of `@hapi/joi`?

[2021-03-26 09:13] cascornelissen commented on #78
@Andreas-Halemba, thanks for the heads-up. I've switched back to `joi` in bcc7f51, will be included in the next release whenever that will take place ✌🏼

[2021-03-26 11:16] cascornelissen commented on #157
I've figured out where this is going wrong, it's a combination of two things.

**1. An asset with a chunk in svg-spritemap-webpack-plugin**
This plugin creates an asset (the spritemap SVG) and adds a chunk to it to ensure the asset itself is not getting cleaned up by Webpack because it's not attached to anything. This is done in the `beforeChunks` hook which IIRC is the earliest possible moment to

[2021-03-27 06:47] Jakobud opened #158 "Can this work without importing SVGs into your JS or using them in the HTML?"
Can this work with using SVGs as entry files instead of expecting to import them into your JS or using them in static HTML files? Like, I just have a bunch of SVGs and I want to use Webpack to build a sprite.svg. I use Webpack for all my JS and SCSS and it would be nice to be able to use Webpack to do that as well.

[2021-03-27 09:21] cascornelissen commented on #158
Yes, at least I think so because I'm not really sure what you're trying to achieve... The main part I'm confused about is "as entry files", if you're specifically talking about [Webpack's entry points](https://webpack.js.org/concepts/entry-points/) then no because Webpack has to be able to parse them either by itself or through loaders and this is a plugin.

But you can just add this plugin, point

[2021-03-27 16:54] Jakobud commented on #158
What do you mean exactly "point it to some source SVG sprites" ? If you aren't talking about Webpack entry points I'm unsure what you are referring to here.

[2021-03-27 17:07] cascornelissen commented on #158
Yes, just use the plugin as [documented](https://github.com/cascornelissen/svg-spritemap-webpack-plugin/blob/master/docs/options.md). If your 100 SVG icons are in a directory just add the following to your Webpack configuration under plugins, let Webpack do its magic and it should create a single `spritemap.svg` in your output directory.

[code]

That's also what I meant with "point it to some sou

[2021-03-29 08:49] koenverburg commented on #96
Hi @kareljan,

we are also running into this issue, which plugin caused this at your end?

Best, Koen

[2021-03-29 11:41] kareljan commented on #96
If I’m not mistaken, it was our cleanup plug-in that was cleaning a little too eager.

[2021-04-05 11:13] amiut commented on #158
I did the same but it only generates `sprites.svg` on `build`, is there a way that it can generate sprites file on `watch`?

[2021-04-06 13:09] cascornelissen commented on #158
It should (re)generate the file on `watch` as well/update it when changes are made to the source sprites. If it doesn't do that on your end it might be a bug.

If you have a repository that can be used to reproduce the issue you're running into I'd like to take a look at it.

[2021-04-09 20:13] cascornelissen commented on #155
Closing this because it's inactive, feel free to comment on this if you have more information ✌🏼

[2021-04-09 20:13] #155 closed

[2021-04-22 21:33] saltnpixels opened #160 "doesnt work with Imagemin webpack plugin"
I am using a scripts build so I created a webpack.config file and extended the plugins and added this plugin in the hopes of having it generate the sprite.

[code]

This creates the file, but its empty. Any ideas why?

[2021-04-22 21:40] saltnpixels commented on #160
The scripts I am hooking into:
https://github.com/10up/10up-scripts/blob/develop/config/webpack.config.js

[2021-04-22 21:41] saltnpixels commented on #160
Interestingly i think it works on watch but not build...

[2021-04-22 21:54] saltnpixels commented on #160
After palying around I found that its the imagemin plugin... Its ruining the output... Anything I can do?